[2018-01-25 15:15] pandamichal opened #593 "Hamuta feature needs to be updated"
The feature supposes to show if you are an Hamuta member.
A joining form needs to be available and sent to an Hamuta representative.

Only after the feature developments, we will implement to button at the menu.

[2018-01-27 10:33] ArtyomKa commented on #586
Right now we user roles defined on the _users_ table level. The problem with this state is that the roles are defined without a context. Meaning if a User defined as an admin or a camp_manager, and it makes him an admin for all events and for camps or art installations that he/she associates with.

So my first step is to create a table to hold roles data in correct context - with event id and camp

[2018-01-27 11:04] ArtyomKa commented on #586
A question here:
We have departments managed in two places - spark and volunteers db. We should have it stored in one db and make this accessible via API

[2018-01-30 23:34] amotenko opened #596 "Tables grooming"
This is a big card, ok to split

* Kill duplicate columns such as main_contact_name in camps
* Kill additional_json_info in all tables
* Kill unused tables

[2018-01-30 23:38] amotenko opened #597 "Project Suppliers"
# Gate Admin

## Entity

The entity that is managed by the gate admin with respect to suppliers is a single supplier entry.
Entries are created and closed by the gaters using the app, or in Spark using the gate admin interface.

A single supplier entry consists of:

* ID of supplier (from barcode)
* Vehicle plate number (manual input)
* Number of people in vehicle (manual input)
* Time of entrance

[2018-01-30 23:39] amotenko opened #598 "Project License Plates"
TBD project description

[2018-01-30 23:44] amotenko opened #599 "Adding new camps doesn't work for new event"
Might have something to do with default event ID

[2018-01-30 23:47] amotenko opened #600 "Better admin panel for Event Admin"
Will include:

* Granular opening and closing of functionalities (on and off  and/or by date)
* Easy roles and permissions attribution

[2018-01-30 23:55] amotenko commented on #586
Yes, roles should definitely have their own table, with event ID and I thought, let me know what you think, also with module ID. This way you can open permissions on module by module basis.
(modules are not identical to departments, but may overlap sometimes).

Also for additional flexibility, a permission row can contain sub module, so for example an admin for camps in an admin, but a camp manage

[2018-01-30 23:57] amotenko commented on #600
Will support:
https://github.com/Midburn/spark/issues/586

[2018-01-31 00:01] amotenko opened #601 "Code style and project structure"
See discussion here:

https://github.com/Midburn/spark/issues/571

[2018-01-31 00:04] amotenko commented on #462
almost done reverting all the nastiness ;)

[2018-01-31 00:04] #462 closed, assigned to nobody

[2018-01-31 00:05] amotenko commented on #496
Not going to happen

[2018-01-31 00:05] #496 closed, assigned to yaniv-peretz, guyzohar1

[2018-01-31 00:05] ghost commented on #586
I agree.
We should have an auth service, which any system can use and the JWT will include claims for all permissions across modules and across systems.

I did something very similar in Java a couple of months ago for work.

So all the user-related services will be done by a single service for anything Midburn, incl. sign up, roles, login, forgot password, etc
Like an active directory for midburn

[2018-01-31 00:06] amotenko commented on #311
we now have at least status cake

[2018-01-31 00:06] #311 closed, assigned to nobody

[2018-01-31 00:07] amotenko commented on #443
I guess it's done, right

[2018-01-31 00:07] #443 closed, assigned to nobody

[2018-01-31 00:08] amotenko commented on #435
I guess not relevant anymore

[2018-01-31 00:08] #435 closed, assigned to nobody

[2018-01-31 00:08] amotenko commented on #390
done

[2018-01-31 00:08] #390 closed, assigned to nobody

[2018-01-31 00:09] amotenko commented on #297
done, right?

[2018-01-31 00:09] #297 closed, assigned to ArtyomKa

[2018-01-31 00:09] #322 closed, assigned to nobody

[2018-01-31 00:10] #298 closed, assigned to mrohad

[2018-01-31 00:10] #476 closed, assigned to yaniv-peretz

[2018-01-31 00:11] #283 closed, assigned to nobody

[2018-01-31 00:12] #243 closed, assigned to nobody

[2018-01-31 00:12] amotenko commented on #284
have seeding now

[2018-01-31 00:12] #284 closed, assigned to nobody

[2018-01-31 00:13] #318 closed, assigned to mrohad

[2018-01-31 00:14] #292 closed, assigned to nobody

[2018-01-31 00:14] #144 closed, assigned to natekonimbo

[2018-01-31 00:14] #328 closed, assigned to amotenko

[2018-01-31 00:15] amotenko commented on #402
what's up with that?

[2018-01-31 00:16] #343 closed, assigned to nobody

[2018-01-31 00:16] #310 closed, assigned to nobody

[2018-01-31 00:23] amotenko opened #602 "API Requirement from Volunteers"
We will need to consume their API to admit people with early arrival based on production departments.
Design API and involve volunteers team
@may-ben-arie @shaytidhar @talbarda

[2018-01-31 00:24] #474 closed, assigned to ArtyomKa, asihud, amotenko, nitay-neeman, yaniv-peretz

[2018-01-31 06:35] ArtyomKa commented on #586
1 - Elad, if you bring the "know how" I'll help to make it happen.
2 - We are talking about user permissions and module permissions as the same thing. Don't know if it is. I think it is different things that might (or not) share implementation details.

[2018-01-31 07:32] ghost commented on #586
In order to allow max flexibility, what we did was give each route (including its route parameters, HTTP verb, etc) a permission.

Once you have permissions at that granular level, you can mix and match them on both the user level and role level.

For the implementation I did for work we also had groups and hierarchy between different roles and different groups, for permission inheritance, but tha

[2018-01-31 07:35] OriHoch commented on #586
we are using this for auth / permissions etc..
https://github.com/datahq/auth

I think it does everything that you need

[2018-01-31 07:52] OriHoch commented on #586
and the related angular component - https://github.com/openbudget/budgetkey-ng2-auth - you can see the [auth service](https://github.com/OpenBudget/budgetkey-ng2-auth/blob/master/src/services/auth.ts)

you can authenticate 3rd party modules with this central auth service, here is an implementation I'm working on at the moment (using python but can easily be done in any language) -
 [this code](htt

[2018-01-31 07:57] OriHoch commented on #586
this is what I'm working on every Monday before I come to the Midburn meeting :)

[2018-01-31 08:18] LeonFedotov commented on #462
@amotenko good job :)

[2018-01-31 09:13] ghost commented on #586
Nice!

I’ll take a look later. This might be a good option, if we decide not to go the CMS route

[2018-01-31 16:01] yaniv-peretz commented on #600
PR: https://github.com/Midburn/spark/pull/559
has date controls for appreciation tickets allocation & camp edit last date

what is meant by "Easy roles and permissions attribution"?
does in means the to give other users permissions on the event form?

[2018-02-04 08:51] ghost commented on #574
@amotenko I closed the PR, as it was already stale.
I'll recheck the latest branch once all the PRs are merged and I'll redo, if needed.

[2018-02-04 12:11] #589 closed, assigned to amotenko, yaniv-peretz, guyzohar1

[2018-02-04 21:51] ghost commented on #599
Checked it out in staging as well. Looks ok to me.

@alechko You want me to close this or do you want to verify in staging and close yourself?

[2018-02-04 22:09] talbarda opened #606 "bug - Spark login is case insensitive"
This is about the Spark **Users module** - I can login with Email@gmail.com, although my profile is email@gmail.com
IMO, it's a security hazard (+ the JWT integration with external services, such as volunteers, is effected by that)

### Steps to Reproduce
Assuming your profile email is email@gmail.com,
try to login with Email@gmail.com (first letter in different case).
It should be allowed, becaus

[2018-02-04 22:26] ghost commented on #606
@talbarda Well, generally, I agree, it shouldn't matter.
However, it might not be as simple as forcing the input into lower case.
Since Drupal is the real authenticator here, we first need to make sure that it doesn't allow mixed-case emails, or else these users will not be able to login, which is even worse.
WDYT?

[2018-02-04 22:59] talbarda commented on #606
It's OK to allow mixed-case emails on registration, but after a successful
one, a login should be successful only with an exact match if the
registered email

On Mon, Feb 5, 2018, 12:26 AM Elad Lachmi <notifications@github.com> wrote:

--

* This message was written through my phone; my apologies for any typos.
Regards,
Tal Barda

[2018-02-05 06:38] OriHoch commented on #606
IMO this can be fixed on spark side, no need to make changes on drupal

[2018-02-05 06:48] ghost commented on #606
@OriHoch It depends.
Since part of the authentication/authorization flow is verifying the user with Drupal (as far as I understand it, if you know otherwise, feel free to correct me), it might be a problem to just force the entered email into lower case.

For example, if Drupal is case sensitive on the username, a user can register with "SomeEmail@gmail.com".
When they try to login to Spark they e

[2018-02-05 06:58] OriHoch commented on #606
we can keep authenticating to Drupal the same way we do today
after the authentication to Drupal, we store a user in spark DB, this user can be stored with case sensitive email (I think it already does so today)
so, after authentication to drupal we can ensure on spark side user logs in case-insensitively

hopefully, sometime soon the drupal code will be open source ([here](https://github.com/OriH

[2018-02-05 07:00] OriHoch commented on #606
this bug is similar to #575 which is fixed in a similar way in #579
in this case, the plus sign makes problems to Drupal, so we send drupal the username without plus sign, but spark keeps the original username with plus sign (I think..)

and this is the bug on drupal side - OriHoch/midburn-profiles-drupal#1

[2018-02-05 07:11] OriHoch commented on #606
need to consider that my suggested fix might introduce a problem, where a user can login to Drupal but fails to login to Spark - a bit confusing, but I blame Drupal for this!

[2018-02-05 08:24] ghost commented on #606
That's exactly what I was saying.
I would rather check the Drupal side then have people not able to login to Spark.

[2018-02-05 10:03] talbarda commented on #606
@elad-lachmi @OriHoch  - BTW, the main side effect for the volunteers system is that that a user logins with a non-exact email (say first uppercase letter where the profile isn't), and then, it is passed on the jwt, and then, when the volunteers system ask spark for this profile's details (with its email), it throws an error
@shaytidhar - I guess you should know better how to explain it
cc @may-be

[2018-02-05 12:12] amotenko commented on #600
Yes!
Great work. What I meant by roles and permissions is that it will be possible to attribute special roles (such as camps admin, gate admin, etc) from this screen.
This will be, in fact, the front from this issue.
https://github.com/Midburn/spark/issues/586

On the other hand if it makes more sense from a ux perspective, might also be a separate tab.

[2018-02-05 12:12] #600 closed, assigned to yaniv-peretz

[2018-02-05 12:19] amotenko commented on #599
Thanks @elad-lachmi !
Verified and it works, closing (although as is often the case other snakes crawl out).
BTW alechko is some other unsuspecting dude, I'm amotenko ;)

[2018-02-05 12:19] #599 closed, assigned to nobody

[2018-02-05 12:38] amotenko commented on #606
Just to add to the discussion, I know y'all would like to know what the standard has to say about this.
If we define an address as `local-part@domain`, then the domain part is subject to normal DNS rules, hence the domain is case _insensitive_.
The local-part however is interpreted and understood only by the assigned host and is permitted by the spec to be case _sensitive_.
However, in practice, n

[2018-02-05 12:44] talbarda commented on #606
@amotenko - ok. So, what does the JWT contains? and why does the api of getting the profiles' details doesn't support that also?

[2018-02-05 12:56] amotenko commented on #606
I'm not sure, but if I understand you correctly the system at the moment works as expected?

That is, emails are case insensitive as far as authentication is concerned?
Correct me if I'm wrong :)

[2018-02-05 21:15] talbarda commented on #606
if you consider login that way (allowing non exact email) , so I guess it's a yes

[2018-02-06 06:59] OriHoch commented on #606
I agree with @amotenko :open_mouth:
seems a bit harmful to the users to not allow login with any case..

but there is a problem with the difference between username logic in spark and in drupal which is the root cause of this issue and the + sign issue (and possibly other, yet unknown issues..)

[2018-02-06 07:01] OriHoch commented on #606
which is why I suggest to move to the logic from my previous comment where first we authenticate with drupal - according to drupal logic (e.g. replace + sign, handle case sensitivity etc..)
and on spark side store the user in correct way and make additional authentication on spark if needed - after drupal

this is mostly how it works now I guess, just need to "cement" this logic...

[2018-02-06 10:46] amotenko opened #608 "In Dev, print stack trace to browser when exceptions are thrown"
There is a nice piece of middleware that prints exceptions to the browser when they are thrown.

Consider this package:
https://www.npmjs.com/package/express-exceptions

[2018-02-06 15:17] #575 closed, assigned to nobody

[2018-02-06 16:18] amotenko commented on #593
we need to remove this tab for now

[2018-02-06 16:24] amotenko opened #609 "When adding a new camp, there is a drop down menu of all users"
## to recreate:

go to camp admin -> add a new camp -> enter some name -> next

Note request that brings all users in database
(screenshot taken from staging system)

![image](https://user-images.githubusercontent.com/7461928/35870646-d75e3102-0b6a-11e8-80a2-6ee27d83d02e.png)

Also, said menu is disabled but yet clickable? wtf

## solution

field should be a simple text field that validates the pr

[2018-02-06 16:51] #276 closed, assigned to guywarburg

[2018-02-06 16:52] amotenko commented on #269
will test in this round of qu

[2018-02-06 16:52] #269 closed, assigned to nobody

[2018-02-06 16:53] amotenko commented on #329
well, it's gone now

[2018-02-06 16:53] #329 closed, assigned to nobody

[2018-02-06 16:56] amotenko commented on #345
I guess it's not crashing anymore

[2018-02-06 16:56] #345 closed, assigned to nobody

[2018-02-06 16:56] amotenko commented on #469
fixed

[2018-02-06 16:56] #469 closed, assigned to nobody

[2018-02-06 16:58] amotenko commented on #372
https://spark.staging.midburn.org

[2018-02-06 16:58] #372 closed, assigned to nobody

[2018-02-06 17:01] amotenko commented on #389
will not be implemented

[2018-02-06 17:01] #389 closed, assigned to mrohad

[2018-02-06 17:02] OriHoch commented on #389
this functionality will be provided for all midburn DBs by the [midburn-k8s business intelligence chart](https://github.com/Midburn/midburn-k8s/tree/master/charts-external/bi#midburn-business-intelligence)

[2018-02-06 17:03] amotenko commented on #326
not crashing anymore, I think

[2018-02-06 17:03] #326 closed, assigned to nobody

[2018-02-06 17:06] amotenko commented on #117
duplicates
https://github.com/Midburn/spark/issues/587

[2018-02-06 17:06] #117 closed, assigned to nobody

[2018-02-06 17:08] amotenko commented on #123
implemented

[2018-02-06 17:08] #123 closed, assigned to ArtyomKa

[2018-02-06 17:09] amotenko commented on #472
https://github.com/Midburn/spark/blob/master/CONTRIBUTING.md
https://github.com/Midburn/spark/blob/master/README.md

[2018-02-06 17:09] #472 closed, assigned to nobody

[2018-02-06 17:12] amotenko commented on #352
they took their system and ran, so there is nothing to do here

[2018-02-06 17:12] #352 closed, assigned to nobody

[2018-02-06 17:21] amotenko commented on #122
works

[2018-02-06 17:21] #122 closed, assigned to nobody

[2018-02-06 17:25] amotenko commented on #288
we have it, kind of

[2018-02-06 17:25] #288 closed, assigned to nobody

[2018-02-07 11:04] amotenko commented on #389
@OriHoch  my bad, this functionality already exists

[2018-02-07 11:08] amotenko commented on #609
Note, when editing an existing camp (i.e. camp with members attached to it),
drop down menu works as expected and serves only camp members

[2018-02-07 11:15] ghost commented on #609
So what is the expected behavior for new camps?

I think we agree that the current behavior is logical, although not very user friendly.

I would suggest that setting the camp manager can’t be done within the new camp wizard and can be done when editing the new camp, after adding at least one member.

[2018-02-07 11:56] amotenko commented on #609
The problem is stemming from the fact that the system is abused.

Normally, what would happen is that the field would be a drop down of camp members, **and**, the person that is adding the camp is a member of the camp and its manager by default. This way it is possible to set a manager when adding a new camp.

Because the wizard was never used properly (manager of Camps department provided a list

[2018-02-07 13:47] yaniv-peretz opened #612 "seeder.js 1_users - Duplicate entry '1' for key 'PRIMARY'"
seeder.js creates about 1000 users (which is good 👍 ), than stops with console log:
knex query-error: Error: ER_DUP_ENTRY: Duplicate entry '1' for key 'PRIMARY'
same happens on all seeder files.

might be that the seed is trying to loop back and create the initial user 1 again?
@NitayRabi  ?

[2018-02-07 14:44] NitayRabi commented on #612
@Yanipo5  - I don't think it's about the looping maybe something with knex itself - but i'll have a look ASAP (tomorrow evening :) ).
The data that is seeded works as expected?

[2018-02-07 15:16] yaniv-peretz commented on #612
I can see the data on the MySql workbrench🖒.
But I did check on the GUI

[2018-02-07 21:29] yaniv-peretz opened #613 "layout.jade CDN imports to local node_modules"
- [ ] currently bootstrap & angular are imported from CDN (from the web), which probably slows loading. need to change to node_modules (maybe have an additional node_module folder inside public folder)
- [ ] divide scripts - each angular controller should be only in the relevant page (slows page loading with unnecessary files)
- [ ] webpack bundle maybe?

[2018-02-08 19:28] NitayRabi commented on #612
Hi, for some reason i cant push any branch to the midburn remote...
But the problem was with the initial 0 id. I think knex has some if statement which ignores 0 (then creating `1` primary key for both 0 and 1 entries).
I'll see what i can do about permissions and create  a PR
See https://github.com/Midburn/spark/pull/614

[2018-02-08 20:22] OriHoch commented on #389
this functionality is now also available by the BI service at https://production.midburn.org/metabase/

[2018-02-09 13:24] yaniv-peretz opened #615 "Creating new camp - error for no public_activity_area_sqm"
quite simply I don't see any field for 'public_activity_area_sqm' in the GUI,
so anyone else receives the same issue when creating a camp? (just wondering if that only happens on my computer)
or should we add the 'public_activity_area_sqm field to the GUI?

log:
[code]

[2018-02-10 11:36] yaniv-peretz opened #618 "Refactoring / Eliminate Bower etc."

[2018-02-11 17:23] #613 closed, assigned to yaniv-peretz

[2018-02-11 20:56] #618 closed, assigned to nobody

[2018-02-11 20:57] yaniv-peretz commented on #574
Done

[2018-02-11 20:57] #574 closed, assigned to yaniv-peretz

[2018-02-12 13:27] amotenko commented on #569
closing, see above issues for continuation

[2018-02-12 13:27] #569 closed, assigned to nobody

[2018-02-12 13:28] amotenko commented on #495
I'm not sure what this is, closing for now

[2018-02-12 13:28] #495 closed, assigned to guyzohar1

[2018-02-12 13:29] amotenko commented on #442
@Yanipo5 did you find anything to do here?

[2018-02-12 13:31] amotenko commented on #419
Need to check if still an issue

[2018-02-12 13:31] #612 closed, assigned to nobody

[2018-02-12 13:32] amotenko commented on #402
@OriHoch

[2018-02-12 13:33] amotenko commented on #371
@OriHoch what's up with that?

[2018-02-12 13:35] amotenko commented on #350
we cannot write documentation on how to use knex better than the maintainers of knex, (I mean, we could but it wouldn't be cost effective)

[2018-02-12 13:35] #350 closed, assigned to nobody

[2018-02-12 13:37] amotenko commented on #275
I don't think we have this element any more

[2018-02-12 13:37] #275 closed, assigned to nobody

[2018-02-12 13:40] amotenko commented on #108
@OriHoch I wonder if there is anything we can do to make this happen

[2018-02-12 13:40] amotenko commented on #131
@OriHoch can we close the issue?

[2018-02-12 13:46] amotenko commented on #177
it's done, or something that approximates it

[2018-02-12 13:46] #177 closed, assigned to nobody

[2018-02-12 13:47] amotenko commented on #246
yeah I think gate has all the functionality it needs

[2018-02-12 13:47] #246 closed, assigned to nobody

[2018-02-12 13:47] amotenko commented on #205
it works now, right

[2018-02-12 13:47] #205 closed, assigned to nobody

[2018-02-12 13:56] amotenko opened #622 "Moving to jquery 3"
Github is kind enough to alert users that Jquery 2.2.4 has potential vulnerabilities that can be exploited and suggests to move to 3.0.0.

Are there any caveats we should be aware of?

[2018-02-12 14:11] amotenko opened #623 "has_ticket attribute for volunteers profiles api"
volunteers_routes.js contains an endpoint called `volunteers/profiles` used by Volunteers.

1. `has_ticket` attribute is Boolean (returning from user_info) but should be more descriptive. Modify or augment this attribute to contain **actual** number of tickets (in practice, 0, 1, or 2).

2. Possibly endpoint is broken and works against an incorrect event id (i.e. returns old data)

For additional

[2018-02-12 14:12] #131 closed, assigned to OriHoch

[2018-02-12 14:12] #108 closed, assigned to nobody

[2018-02-12 14:12] #371 closed, assigned to nobody

[2018-02-12 14:12] #402 closed, assigned to nobody

[2018-02-12 15:39] yaniv-peretz commented on #612
Hi Nitay succeeded in pushing/loading the Branch?
Our user_id is set to Auto Increment,
Therefore user_id=0 will result in a new user_id.
when creating new usersite it might be good to keep user_id=0 for all users.

[2018-02-12 16:19] amotenko opened #624 "Ingest camp list to Spark database"
Because some things change slowly, we will need to import the camp list for this year directly into the database.
We will need to write an SQL script looping through the list and inserting a new camp for each row, the list is available in a csv format.

[2018-02-12 16:19] amotenko commented on #624
and it should be easily adaptable to ingest Art installations as well.

[2018-02-12 22:19] amotenko opened #625 "Camp type and status strings displayed raw"
As seen on home page and My Camp page

![image](https://user-images.githubusercontent.com/7461928/36122791-5aa87986-1053-11e8-846c-afbf20d53f3e.png)

![image](https://user-images.githubusercontent.com/7461928/36122855-8a5e7856-1053-11e8-8302-a8b4462b98d9.png)

[2018-02-12 23:35] yaniv-peretz commented on #442
actually was delayed because with don't have the proper seed for the production-camp members... so I couldn't complete the work,
this is in part what I need to talk to @NitayRabi about...

Alex, reopen the issue if you think it is important, all the other requests are just label change could be done very quickly.

[2018-02-13 08:56] OriHoch commented on #624
let me know if you want me to do it / need help doing it

[2018-02-13 09:31] amotenko commented on #624
Yes, of course. I'll forward you the details.
@ArtyomKa might have some code lying around from last time that can help.

[2018-02-13 10:20] ArtyomKa commented on #624
I have a script that we used to set _camp_manager_ roles to a specified users. can be found [here](https://github.com/Midburn/spark/blob/master/scripts/update_art_managers_roles.js).

[2018-02-13 14:17] OriHoch commented on #624
done on the staging database, please test

documented the method here - https://github.com/Midburn/spark/blob/master/docs/development/camps-import.MD

if there are any problems, can fix the method and re-import

[2018-02-13 14:23] ArtyomKa commented on #624
What is the motivation for using new table for camps instead of appending the data into the existing?

[2018-02-13 14:28] OriHoch commented on #624
@ArtyomKa the new table is only temporary, the data is appended to the existing tables

[2018-02-13 14:29] OriHoch commented on #624
let me know if some data is missing in a column / a relation is missing and I will fix it

[2018-02-15 18:39] ArtyomKa commented on #623
Looked into it. It appears that we don't receive tickets info on search queries, only on log-in. Possible solutions:
1 - Use data we have in spark _users_ table.
2 - Ask Drupal Alex to fix the search api. (talked to him on the phone, he is trying to figure it out)
### UPDATE

Alex has fixed this on drupal side. Remains one problem. Drupal server is filtering tickets for current event. Which means

[2018-02-16 12:49] amotenko commented on #624
Done

[2018-02-16 12:49] #624 closed, assigned to OriHoch

[2018-02-18 15:14] amotenko opened #630 "Configure S3 buckets for camp files on prod and stageing"
At the moment no buckets are configured for those environments since the feature wasn't operational last year.

1. Create two separate buckets on S3 for prod and staging
2. Configure those buckets in env variables

[2018-02-18 15:16] amotenko opened #631 "View / Replace / Delete files uploaded by camp managers"
Once camp manager uploaded a file, he should be able to view, remove or replace the file.

[2018-02-18 15:48] ghost commented on #631
I’ve done this, but never merged it since no one was able to review it at the time and it became unmergeable.

I still have my original implementation.
I can redo it.

[2018-02-18 15:54] amotenko commented on #631
yesss

[2018-02-19 08:41] amotenko opened #632 "English texts and menus touch-ups"
There are many screens and menus that are horribly rendered in English.
Example:

![image](https://user-images.githubusercontent.com/7461928/36368699-2e89b514-1561-11e8-977b-6a59b538bd90.png)

Do a swipe of all screens and fix as many of those places as possible

[2018-02-19 08:47] amotenko opened #633 "UI improvements of Camp Members screen"
There are many things to do here, we can discuss here or on Slack

Illustration:

![image](https://user-images.githubusercontent.com/7461928/36368981-4403e666-1562-11e8-85eb-3949e15ded2a.png)

[2018-02-19 08:54] amotenko opened #634 "UI improvements of Camps Admin"
Multiple improvements that I can think of, discuss here or on Slack

Illustration:

![image](https://user-images.githubusercontent.com/7461928/36369247-3872c5dc-1563-11e8-8a6b-95f070dbd2a9.png)

[2018-02-19 08:56] amotenko commented on #419
Closing old issues and opening new tickets for UI issues:

https://github.com/Midburn/spark/issues/632
https://github.com/Midburn/spark/issues/633
https://github.com/Midburn/spark/issues/634

[2018-02-19 08:56] #419 closed, assigned to nobody

[2018-02-19 08:58] amotenko commented on #442
Closing old issues and opening new UI issues:

https://github.com/Midburn/spark/issues/632
https://github.com/Midburn/spark/issues/633
https://github.com/Midburn/spark/issues/634

[2018-02-19 08:58] #442 closed, assigned to yaniv-peretz

[2018-02-19 10:27] amotenko opened #635 "Ingest art installation data"
Similar to https://github.com/Midburn/spark/issues/624 but with a twist,
this time the user list is also available to us.

[2018-02-19 11:10] OriHoch commented on #635
will try to do it in the tech meeting today

[2018-02-19 11:42] amotenko commented on #556
This issue duplicates https://github.com/Midburn/spark/issues/586

[2018-02-19 11:42] #556 closed, assigned to nobody

[2018-02-19 17:40] ArtyomKa commented on #623
Fixed in #636

[2018-02-20 08:34] amotenko opened #637 "Staging database should have an automatic or manual process of returning to a known state"
If staging data gets corrupted for some reason, we need an easy way of resetting the state of the database to a working condition.

One obvious way to do it is use backups, and the other that I personally prefer is to use a seeder (that way changes in the data are tracked)

In any case, there should be an easy way to trigger this.

[2018-02-20 08:57] OriHoch commented on #635
https://github.com/Midburn/spark/blob/master/docs/development/art-import.MD

[2018-02-20 15:18] amotenko commented on #637
done via chatops

[2018-02-20 15:18] #637 closed, assigned to nobody

[2018-02-20 15:18] amotenko commented on #635
done

[2018-02-20 15:18] #635 closed, assigned to OriHoch

[2018-02-20 15:19] amotenko commented on #631
related issue:
https://github.com/Midburn/spark/issues/631

[2018-02-20 15:21] amotenko commented on #623
waiting for may's input

[2018-02-20 15:24] amotenko opened #639 "Staging database to be anonymized"
We need a process to anonymize the data we have in staging database.

It should be possible to apply this process to production database at any time to produce updated, live, and anonymized data.

[2018-02-21 11:27] yaniv-peretz opened #641 "Refactoring - Routes"
## Refactoring routes
Refactoring the routes requires several fixes, for each routes change, please make sure to check the UI is still renders and that the client ajax call still work (also npm run test).

- [x] Detaching routes mapping to ./routes/index.js instead of app.js to  - **done**
- [ ] restructure the 'routes/v1' folder - files shold be add to pages OR api (no sub-folders)
- [ ] main_rou

[2018-02-21 11:44] ghost commented on #631
Done  29aec1e

[2018-02-21 11:44] #631 closed, assigned to nobody

[2018-02-21 12:30] mbenarie commented on #623
The api works in staging, but it's still a boolean and not the exact number of tickets.
Because it's urgent i suggest to keep it like that and deploy to production.
in the meantime we can work on a new field: num_of_tickets.
so in the end will have:
{
has_ticket: true,
num_of_tickets: 2,
...
}

[2018-02-21 12:40] ArtyomKa commented on #623
oh. I was not aware that you need the number of tickets. will fix this
today. as you suggested - leave the boolean and add the number of tickets.

On Feb 21, 2018 14:30, "May Ben Arie" <notifications@github.com> wrote:

[2018-02-21 13:28] mbenarie commented on #623
yay thanks

[2018-02-21 18:02] OriHoch opened #646 "default event should be midburn 2018"
<p dir=rtl>
יעזור לאנשים אם הדיפולט כשנכנסים יהיה מידברן 2018 לא 2017 :)
לא יודעת אם זה פשוט ואם יש מישהו שיכול לעשות את זה...
</p>

[2018-02-21 18:02] OriHoch commented on #646
bug report from Facebook
https://m.facebook.com/groups/665394353497548?view=permalink&id=1626228227414151

[2018-02-21 19:13] ArtyomKa commented on #623
Fixed (again) in #647

[2018-02-22 08:27] OriHoch commented on #646
another rightfully disgruntled user..
אני נפלתי בדיוק בגלל זה.

אז קרתה לנו תקרית קטנה ובמקום ליצור רשימה עדכנית תחת מידברן 2018, ערכנו את רשימת החברים של מידברן 2017 ועדכנו על גביה.
עכשיו הכול מושלם וקיים אבל לא במקום הנכון.
האם יש איך לייצא את רשימת 2017 ולייבא אותה תחת רשימת 2018? חלום שלי אם כן!

#עלטעויותמשלמים?

[2018-02-22 08:42] OriHoch opened #651 "review production error log"
searching for "ERROR" on production spark pod produces many errors

it's possible some of these are not errors, in which case, worth to consider to reduce to warning

you can see the logs on google console (Ask for view permissions if you don't have)

I found the following main error types (replaced private details with `*****`):

[code]

[code]

[code]

[code]

[code]

[2018-02-22 08:45] OriHoch opened #652 "[facebook bug] art camps and theme camps shouldn't appear in the same list"
לא הגיוני כל כך שמחנות ואומנות מופיעים באותה רשימה. זה גם יוצר בילבול וגם לא יאפשר לאנשים להרשם גם וגם. והרי הרבה אומנים הם גם חברי מחנה

[2018-02-22 10:23] OriHoch opened #653 "[facebook bugs] wierd problems on login"
**all from ~24 hours around Feb 21**
<hr/>
<p dir=rtl>
לעוד מישהו/י הספארק לא עובד לחברי הקמפ שמנסים להירשם? הם אישרו תקנון בפרופיל מידברן ועדיין זה לא עובד... באג?
</p>
<hr/>
<p dir=rtl>
. יש סיכוי שעדיין יש באג ברגע זה בגלל עומס? חברי המחנה שלי מנסים להירשם ולא מצליחים
</p>
<hr/>
<p dir=rtl>
חברי המחנה שלי מאשרים תקנון, ואז נכנסים לספארק ולא מצליחים להירשם. עולה להם עמוד ריק של error
</p>
<hr/>

[2018-02-22 10:41] OriHoch commented on #653
<hr/>
<p dir=rtl>
 בינתיים חלק מצליחים וחלק לא.. תודה
</p>
<hr/>

[2018-02-22 14:04] OriHoch opened #655 "[facebook bug] camp list and camp member lists should be sorted in some logical way"
<hr/>
<p dir=rtl>
יש אפשרות לסדר את שמות המחנות עפ הא.ב?😭
</p>
<hr/>
<p dir=rtl>
עזור גם אם אפשר לסדר את שמות האנשים במחנה... לפי משהו קצת פחות רנדומלי ממספר במאגר ספארק
</p>
<hr/>

[2018-02-22 18:41] amotenko commented on #646
Yes, very true

[2018-02-22 18:42] amotenko commented on #652
I agree, bad user experience

[2018-02-22 18:44] amotenko commented on #655
agree.
camps are sorted according to their English title, maybe we can do better

[2018-02-23 12:57] ArtyomKa commented on #651
Are there many entries like this, or is just that one? We call drupal search api as part of handling volunteers  module api calls. I don't know how SSL is connected to that.

[2018-02-23 14:11] OriHoch commented on #651
there are a lot of errors, every few minutes

[2018-02-23 16:58] ArtyomKa commented on #651
Maybe drupal is having load issues?

[2018-02-23 17:43] OriHoch commented on #651
makes sense.. also there are user complaints around the login
I think that Google analytics on all projects will be very helpful to debug these sort of things

[2018-02-23 19:28] OriHoch commented on #653
<hr/>
<p>
מחר יום אחרון להגיש מחנה. הספארק תקוע
</p>
<hr/>

[2018-02-24 12:52] yaniv-peretz opened #658 "Fix English locals"
On many of the English pages, the locals are competently broken \ not even showing the main title.

[2018-02-24 13:00] yaniv-peretz opened #659 "Multi Language"
Hi @alechko,
As part on the long term vision I assume we are trying to enable multiple language support,
in order to do so I propose to add a LANGUAGES const into .env.
I've added to .env-defualts, if agreed, we should ask ORI to update I assume?

reason is that by doing so, will be able to run tools, programmability.
example: for the test scripts, if we have the LANGUAGES setup, we can then loop

[2018-02-24 15:56] yaniv-peretz commented on #653
לא כל כך ברור מה לא עובד?
האם זה ה
Login?
כלומר לאחר אישור תקנון הם לא מצליחים להתחבר לתוך המערכת?

[2018-02-24 15:58] OriHoch commented on #653
I wrote all complaints there, I don't have any more details

[2018-02-25 11:19] OriHoch opened #662 "[Facebook bug] change event to 2018 should work on mobile"
<hr/>
<p>
תגידו, גם למישהו אחר קורה שכשנכנסים לספארק במובייל, ובוחרים את MIDBURN2018 זה לא מגיב ונשאר על MIDBURN2017? קצת בעיה.. מכיוון שיש צורך להיכנס גם בדרכים...
</p>
<hr/>

[2018-02-25 11:19] OriHoch commented on #662
alternatively, it could be solved by making 2018 the default event

[2018-02-25 11:34] ArtyomKa commented on #662
I had no problem changing the current event to MIDBURN2018.
Of course making MIDBURN2018 the default event is a good idea regardless..

[2018-02-25 16:06] amotenko commented on #659
If I understand correctly you suggest adding an environment variable that indicates the current language for testing purposes?

I'm @amotenko btw, @alechko is someone else :)

[2018-02-25 21:09] yaniv-peretz commented on #659
Lol :) sorry.

Yes, but not only for testing, but testing is a use case. another example:
        middleware.addRoute(i18next, '/:lng', ['en', 'he'], app, 'get', function (req, res) {
(app.js 135) - currently hard coding 'en' & 'he' . should use .env instead to allow other languages per requirement.

assuming we/some1 would like to add Russian lng support, he/she will need to change many hard code

[2018-02-26 05:55] galnitsan opened #663 "No exit button"
Question - why there is no exit button?

### Overview of the problem

<! This is about the Spark **Users module** >no
<! This is about the Spark **Camps module** > yes
<! My **browser** is: >chrome
<! I am sure this issue is **not a duplicate**? >not sure

### Description

<! Description of the bug, enhancement, or question >

### Steps to Reproduce

<!
1.login to spark with regular user
2. on the

[2018-02-26 07:48] may-ben-arie commented on #623
@ArtyomKa Cool, I verified the num_of_tickets works as expected in QA, and already added this info to our UI :)

[2018-02-26 07:51] may-ben-arie commented on #602
@amotenko Hi, I want to open a ticket on our project. just a few questions:
1. Is it per department or per email?
2. can we use the same secret we're using for the our API?
3. Do you know who is working on it from spark side?

[2018-02-26 08:29] may-ben-arie commented on #663
@amotenko I think this bug "belongs" to us.
actually there is an exit button = the midburn logo on the upper left side, but i guess no one knows that :)
Opened an issue here: https://github.com/Midburn/Volunteers/issues/135

[2018-02-26 11:05] amotenko commented on #663
@galnitsan , hope that helps
thanks @may-ben-arie

[2018-02-26 11:05] #663 closed, assigned to nobody

[2018-02-26 11:07] amotenko commented on #659
yes. You are saying that the knowledge of which languages are supported shouldn't be hard-coded and languages should be referenced by a serial number, not by name.
I agree.

[2018-02-26 11:09] amotenko commented on #623
releasing !

[2018-02-26 11:09] #623 closed, assigned to ArtyomKa

[2018-02-26 14:37] yaniv-peretz commented on #659
cool,
I've added
[code]

into dotenv, but we need to update the .env for production & stagging.
@OriHoch maybe could do it? (I'm not sure how to reach it on the severs)

[2018-02-26 15:20] pandamichal commented on #592
@amotenko  Can we do that?

[2018-02-26 15:35] OriHoch opened #665 "[Facebook bugs] assortment of strange bugs / user experience"
<hr/>
<p dir=rtl>צריך עזרה בנושא ספארק. יש למישהו נסיון עם חו"לניקים שמנסים להשתייך למחנה?
החבר'ה שלנו מחו"ל אומרים שאין להם שום אפשרות לבחור קמפ. ביקשתי שיעשו ריסטרט וינסו שוב, לא עזר:-)
יש הבדל בין פרופיל בינלאומי וישראלי? יש הבדל בlayout של הספארק ?
</p>
<hr/>
<p dir=rtl>אין לי מושג אם יש הבדל ב layout..אבל אם זה עוזר, כשהספארק באנגלית טאב ״המחנה שלי״ תורגם ל nav (לא ברור 🤣)
</p>
<hr/>
<p>🤦‍♂️

[2018-02-26 15:38] OriHoch commented on #665
<hr/>
<p dir=rtl>
אז אחרי שאני רודפת אחרי הקאמפ שלי להרשם בספארק וחופרת להם , הוצאתי היום הודעה ממש כועסת וקשוחה כי רק 12 נרשמו ומה נראה להם בכלל?!?!!?

ואז גילתי שהם פשוט נרשמו למידברן 2017 - מקסים..
מישהו יכול לנעול את הספארק מפדיחות כאלה או משהו ?😅😅
</p>
<hr/>

[2018-02-26 15:38] amotenko commented on #592
Going down today!

pandamichal <notifications@github.com> schrieb am Mo., 26. Feb. 2018, 17:20:

[2018-02-26 15:44] OriHoch commented on #665
<p dir=rtl>חשוב!!!  📢  ⚠
*אשרו את עצמכם במערכת מידברן ספארק עוד היום*
אנחנו כבר הזנו אתכם, (חברי המחנה) לתוך מערכת בשם ספארק.זו מערכת שנועדה לקשר בינינו לבין מארגני המידברן מאחורי הקלעים.
על בסיס המידע המוזן אנו מקבלים מהמידברן שטח (פר אדם) מ"ר לקמפ, הקצאות לכרטיסים נוספים (יש סבב ב- 3.3) ועוד כל מיני דברים שעוד נדע עליהם בהמשך  :) בכל מקרה זה דחוף וחשוב.
בינתיים אלו הפעולות שכל אחד מכם צריך לבצע:

[2018-02-26 15:57] pandamichal commented on #665
@amotenko  i thought the default event was set to Midburn 2018... Please let's change it. Thanks!

[2018-02-26 16:00] amotenko commented on #665
@pandamichal indeed..

[2018-02-26 16:59] OriHoch commented on #665
this issue is about setting the default event - #646

[2018-02-26 18:12] yaniv-peretz commented on #646
updating.... event ID will change to 'MIDBURN${current_yaer}'
so every year the default will change...
#666

[2018-02-26 18:49] yaniv-peretz opened #667 "Test_data out of sync from node seed (running on knex:migrate that has data)."
Currently our tests are running based on data created via the knex migrate:latest, (not optimal, as this is out of sync with the node seed).
Some tests where failing because 'MIDBURN2018' was not created in the test data.
I applied a quick fix, manually creating 2018-2020.

the midburn event data are in the "20170427182849_gate_data" file.
I tried to change but got some failures, need farther chec

[2018-02-26 19:33] #632 closed, assigned to nobody

[2018-02-26 19:47] amotenko commented on #641
Part of:
https://github.com/Midburn/spark/issues/571

[2018-02-27 01:12] ghost commented on #630
Done, deployed to staging and basic manual sanity test run.
Files can be uploaded, viewed (via presigned url from the client) and deleted by an admin or camp manager.
I'll open a new issue for the file management page, which will allow viewing and downloading of files for admins only.

[2018-02-27 01:12] #630 closed, assigned to nobody

[2018-02-27 01:15] ghost opened #672 "Camps File Management Page"
Allow admin users to manage files uploaded by all camps.
Can be used to explore, view, delete and download the files.

This is in continuation of #630

[2018-02-27 07:15] #646 closed, assigned to nobody

[2018-02-27 07:19] yaniv-peretz commented on #658
Handled in #632

[2018-02-27 07:19] #658 closed, assigned to nobody

[2018-02-27 10:46] amotenko opened #673 "Camps leftovers ingestion"
Similar to https://github.com/Midburn/spark/issues/624

[2018-02-27 10:51] amotenko opened #674 "Snyk build failing"
Please see the following build and it's failing travis log:

https://github.com/Midburn/spark/pull/650

[2018-02-27 11:08] amotenko opened #675 "Sandbox for major revision"
1. We would like to test the following branch on an isolated environment that is not the regular staging environment, including a clone of staging database.

https://github.com/Midburn/spark/pull/661

2. If possible, commits to this branch would be automatically deployed to the sandbox

3. If possible, provide easy tooling for developers to set up such sandboxes in the future

[2018-02-27 11:11] amotenko opened #676 "Update seed script in dockerfile"
seeding changed from `knex seed:latest` to `npm run seed`

[2018-02-27 11:46] #609 closed, assigned to nobody

[2018-02-27 12:41] amotenko opened #678 "Camps DGS Allocation (Quick and dirty)"
Camp managers and Camps admin need a way to allocate DGS tickets to camp members and camps.

One possible solution is to take over the existing participation tickets allocation mechanism, use it now, and fix later.

[2018-02-27 12:42] #676 closed, assigned to nobody

[2018-02-27 13:20] amotenko opened #679 "Camps DGS Allocation (permanent)"
DGS tickets allocation and participation tickets allocation should both be part of the features available to a camp manager.

Although the two are similar they represent different things and as such should be separated.

An open question remains on how to display the two ticket allocations, should the UI alternate between the two according to the one that is currently active, or display both and h

[2018-02-27 13:25] amotenko opened #680 "Camp members ticket count is incorrect"
Ticket count is displayed as 1 even in cases where member has 2 tickets.

I suspect drupal API integration?

[2018-02-27 13:29] amotenko commented on #680
@ArtyomKa is that similar to what we had with volunteers API?

[2018-02-27 13:32] amotenko opened #681 "Camps Inside Event counter displayed incorrectly"
People are displayed as though they are in the event for some reason.

I suspect it might be looking in the wrong table somehow or perhaps using wrong event id

[2018-02-27 15:06] amotenko opened #682 "Hard-coded strings used instead of localization framework"
See for example `camp_edit.js`

search code for `if (lang ===` to find more occurrences.

Related:
https://github.com/Midburn/spark/issues/659

[2018-02-27 16:04] amotenko opened #683 "Camps early arrival assignment to members"
** Exact specification TBD

[2018-02-27 17:01] OriHoch commented on #673
done, on production

[2018-02-27 17:22] amotenko commented on #673
Looks good!

[2018-02-27 17:22] #673 closed, assigned to OriHoch

[2018-02-27 21:20] ArtyomKa commented on #680
Looked at the code. There is something called _bundles_. IIUC, each ticket type has a bundle. There is a bunch of them hard coded in [constants.js](https://github.com/Midburn/spark/blob/master/models/constants.js) file.
1 - Need to confirm that the 2018 bundle numbers are correct
2 - Looks like _pre-sale_ tickets have bundle number 60 Needs to be added to constants,

[2018-02-27 21:40] yaniv-peretz commented on #682
Just noting that we should take the language from .env.
So something like
MAIN_LANGUAGE = process.env.language[0] || 'EN'

You might need to JSON.parse() the dozens string.

[2018-02-27 22:46] amotenko opened #687 "Ticket info is stale"
Spark is getting info about tickets only when a user is logging in.
This causes a problem to camp managers that see stale information on camp members.

One possible solution is to revive the ticket_sync process that used to run last year.

[2018-02-28 06:01] ArtyomKa opened #689 "Remove hard-coded ticket types."
1 - Ticket types (a.k.a bundles) are hard-coded in the (constants.js)[https://github.com/Midburn/spark/blob/master/models/constants.js] file. Should be instead moved into the DB.
2 - An admin user should be able to edit/add this data when event is edited - created.

[2018-02-28 07:01] OriHoch opened #690 "[facebook bugs] camps upload bugs"
**Feb 27, ~22:00**
<hr/>
<p dir=rtl>
שימו לב שימו לב - ניתן להעלות תיקי מחנה לספארק, הבאג תוקן!
</p>
<p dir=rtl>
לא הוא לא ): אצלנו לפחות 🤔
</p>
<hr/>
<p dir=rtl>
נפתר ממש עכשיו... תעשו ריפרש חזק (CTRL + F5) ותנסו שוב?
</p>
<hr/>
<p dir=rtl>
מראה לי שהוא מעלה, לוחץ שמור ואפילו מקבל את ה״כל הכבוד״ אבל איך יודעים אם זה בוצע? הקובץ אמור להיות תחת הלשונית של העלאת מסמכים או במקום אחר?
</p>
<hr/>
<p di

[2018-02-28 07:02] OriHoch commented on #690
why are we asking users to clear cache, IIRC I solved caching related problems last year

if not, let's solve them, no reason to ask people to clear the cache / refresh / use incognito

[2018-02-28 07:51] ghost commented on #690
@OriHoch Right, no need for that. no-cache reloads and incognito are for very specific issues and we shouldn't have those in Spark right now.

I did a workaround here: 4c44ded
Will do something more permanent later today.

[2018-02-28 09:27] OriHoch commented on #690
Some more bugs from the last 0-2 hours
<hr/>
<p dir=rtl>
Doesn't work on Chrome or on edge. I can put the name of the file and then the name vanishes.
</p>
<hr/>
<p dir=rtl>
יש לי את אותה הבעיה. ניסיתי גם באינקוגינטו ולא עובד. מה עושים?
</p>
<hr/>
<p dir=rtl>
יש לכם עדין תקלה יקרים !
גם כל מה שמילאתי במערכת ספארק על המחנה שלי נמחק לחלוטין..
מה קורה :(
</p>
<hr/>
<p dir=rtl>
נשאר לי רק עוד חו"לניק

[2018-02-28 09:55] amotenko opened #692 "Camps new camp wizard - errors displayed"
new camp id is not 'undefined' which throws errors

[2018-02-28 09:55] amotenko commented on #692
https://github.com/Midburn/spark/pull/691/

[2018-02-28 12:35] amotenko opened #695 "Workaround for camp managers not able to upload files"
Camp manager roles was not updated in the database for most camp managers.

This has caused problems with the last feature that relied on this role (camp file upload).
I commented out the server side validation for now, until we decided what to do with it.

As it is right now, camp manager role is useless because it provides incomplete information.
It doesn't say which camp I'm the manager of so y

[2018-02-28 12:36] amotenko commented on #695
https://github.com/Midburn/spark/issues/690

[2018-02-28 12:46] amotenko commented on #695
pr
https://github.com/Midburn/spark/pull/694

[2018-02-28 12:55] amotenko commented on #692
also @Aroundafur is on it,
@Aroundafur please approve invitation to org so you can be assigned

[2018-02-28 13:57] #680 closed, assigned to ArtyomKa

[2018-02-28 13:59] OriHoch commented on #695
if you want me to update something in the DB let me know
we still have the original camp leaders list  in db

[2018-02-28 14:12] amotenko commented on #695
let's hear what @ArtyomKa thinks

[2018-02-28 15:40] amotenko opened #696 "Camp list interface to Website"
Although this is more to do with the website, since this is an integration with our data via our API I'm documenting this here. At the moment there are some discrepancies between the data displayed on the website and data in Spark

Desired behavior as follows:

* Camp managers can set camp as `open` or `closed` to new members
* Camp managers can set camp as `published` or `not published` to appear

[2018-02-28 15:41] amotenko commented on #696
@OriHoch

[2018-02-28 15:45] amotenko opened #697 "Disappearing data from camps"
Some camps complain they had entered that is now gone.
I suspect it might have been removed when we did the second round of camp insertion.

camps for example
זקני השבט
עדן בן זקאמפ

If possible we might look at a backup and restore their info

[2018-02-28 15:45] amotenko commented on #697
@OriHoch

[2018-02-28 17:02] OriHoch commented on #696
this is the relevant repo - https://github.com/Midburn/camps_index

the list is not updated automatically with spark at the moment, I will try to do it this week

[2018-02-28 18:20] Aroundafur commented on #692
https://github.com/Midburn/spark/pull/698

[2018-03-01 09:52] amotenko commented on #655
(for example, sort by hebrew name when hebrew selcted)

[2018-03-01 09:57] OriHoch commented on #687
ticket sync is running

[2018-03-01 09:59] OriHoch commented on #687
I'm pretty sure I also tested it back when I setup the k8d environment

[2018-03-01 11:55] pandamichal commented on #592
Hey :-) the button is still there...

[2018-03-01 14:47] ArtyomKa commented on #592
yes. hence the issue is still open. 😉

On Mar 1, 2018 13:55, "pandamichal" <notifications@github.com> wrote:

[2018-03-01 15:57] amotenko commented on #592
Luckily @enoodle is assigned to it :)

[2018-03-02 06:44] OriHoch commented on #697
all members registered to 2017 event

[2018-03-02 10:52] yaniv-peretz commented on #697
:)
Probably related to setting a new default event.
Auto logging into 2018 now instead of 2017.

[2018-03-02 16:58] OriHoch commented on #696
done in [camps index v1.3.0](https://github.com/Midburn/camps_index/releases/tag/v1.3.0), automatically updated from spark every 10 minutes, continuously deployed to https://production.midburn.org/camps-2018/

[2018-03-02 16:58] #696 closed, assigned to nobody

[2018-03-04 10:11] #692 closed, assigned to Aroundafur, NitayRabi

[2018-03-04 10:14] Aroundafur commented on #625
now texts are presented in english
![image](https://user-images.githubusercontent.com/5235282/36944471-9bb57832-1fa5-11e8-991a-b23e7087c1cd.png)

[2018-03-04 10:15] Aroundafur commented on #625
@yaarams  FYI

[2018-03-04 15:21] #592 closed, assigned to enoodle

[2018-03-04 15:50] amotenko commented on #687
Good to hear! BTW, @ArtyomKa , are child tickets counted in your fix?

[2018-03-04 16:06] amotenko commented on #593
solved here
https://github.com/Midburn/spark/pull/702

[2018-03-04 16:06] #593 closed, assigned to nobody

[2018-03-04 16:08] amotenko commented on #615
Is that something that still happens?
I never experienced this

[2018-03-04 16:13] amotenko commented on #662
since when are we even trying to be responsive :)
in any case ticket closed

[2018-03-04 16:13] #662 closed, assigned to nobody

[2018-03-04 16:14] amotenko commented on #681
@ArtyomKa is it related to the ticket counter? You mentioned it was looking in the wrong column

[2018-03-04 16:16] amotenko commented on #690
issue is solved, after we remove the workaround we will make sure it is accessible to members with the right permissions.

[2018-03-04 16:16] #690 closed, assigned to nobody

[2018-03-04 16:38] #672 closed, assigned to nobody

[2018-03-04 16:39] amotenko commented on #672
Solved in
https://github.com/Midburn/spark/pull/699

[2018-03-04 16:42] amotenko commented on #674
Now it's passing :(

[2018-03-04 16:42] #674 closed, assigned to nobody

[2018-03-04 17:06] ArtyomKa commented on #681
I might be. can someone verify that the bug exists in the current version?

On Mar 4, 2018 18:14, "Alex" <notifications@github.com> wrote:

[2018-03-04 17:12] ArtyomKa commented on #687
Should be. I received the bundles list from Alex Bab

On Mar 4, 2018 17:50, "Alex" <notifications@github.com> wrote:

[2018-03-04 18:44] OriHoch commented on #697
another complaint about disappearing members (camp id 1879)
<hr/>
<p dir=rtl>
אהההה!!!!! בניסיון למצא את הדרך לפרסם את המחנה לחצתי על הכפתור "פרסם" ועכשיו כל חברי המחנה נמחקו!!! האאאאא!!!!! האם אני בהריון?????!?!?!?!
</p><p dir=rtl>
מיותר כמובן לציין שהקמפ עדיין!!! מופיע כ "לא מפורסם" .. שזה בעצם מפורסם אבל בלי פרטי הקשר למצטרפים חדשים.....
</p>
<hr/>

[2018-03-04 19:00] OriHoch commented on #697
<hr/>
<p dir=rtl>
גם המחנה שלי התפוגג לגמרי...
</p>
<hr/>

[2018-03-04 19:06] OriHoch commented on #697
Looks like camp members data is intact, so members are not lost

[2018-03-04 19:39] MidburnThemeCamps opened #707 "Cannot download all files from spark (camp files)"
Clicking on "download all" in the new files module.

A .zip file starts downloading.

After a few seconds the download fails, getting a corrupt zip file.

Please fix?

Thanks!
Adir
Theme camps

[2018-03-04 22:28] ozsoffy opened #708 "One of the title in the Edit camp page is not clear [Bug] [FrontEnd]"
The Problem:
Title in the Edit camp page is not clear

Steps:
1. Go to stage spark page
https://spark.staging.midburn.org/he/login?r=/
2. login using 'Camp manager' profile:
midqacamp@gmail.com
Pass: qa123456
3. click on menu > my camp > edit camp (or the following link:)
https://spark.staging.midburn.org/he/camps/2045/edit

Result:
The copy of one of the titles is wrong 'פרסום באתר'

Expected:
Th

[2018-03-04 22:40] ozsoffy opened #710 "Hide 'Publish' button from Edit-My-Camp page [Bug] [FrontEnd]"
The Problem:
We have in the bottom of edit-my-camp page two buttons, one of them do not work and we confusing the users.

Steps:
1. Go to stage spark page
https://spark.staging.midburn.org/he/login?r=/
2. login using 'Camp manager' profile:
midqacamp@gmail.com
Pass: qa123456
3. click on menu > my camp > edit camp (or the following link:)
https://spark.staging.midburn.org/he/camps/2045/edit

Result

[2018-03-04 22:46] ozsoffy opened #711 "Hide 'show on midburn website' on both edit-camp page and camp page [Bug] [Front End]"
The Problem:
The option 'show on midburn website' is not relevant, need to hide it from both edit-camp page and camp page

Steps:
1. Go to stage spark page
https://spark.staging.midburn.org/he/login?r=/
2. login using 'Camp manager' profile:
midqacamp@gmail.com
Pass: qa123456
3. click on menu > my camp
3.1 and edit camp (or the following link:)
https://spark.staging.midburn.org/he/camps/2045/edit

[2018-03-04 22:50] ozsoffy opened #712 "Wrong copy on Edit-camp page regarding 'does a camp open for new members [Bug] [Front End]"
The Problem:
Wrong copy on Edit-camp page

Steps:
1. Go to stage spark page
https://spark.staging.midburn.org/he/login?r=/
2. login using 'Camp manager' profile:
midqacamp@gmail.com
Pass: qa123456
3. click on menu > my camp > edit camp (or the following link:)
https://spark.staging.midburn.org/he/camps/2045/edit

Result:
Wrong copy on Edit-camp page regarding 'does a camp open for new members ('סט

[2018-03-04 22:55] ozsoffy opened #713 "Free text tags of camps show code in the camp page [Bug] [Front End]"
The Problem:
Free text tags of camps show code in the camp page

Steps:
1. Go to stage spark page
https://spark.staging.midburn.org/he/login?r=/
2. login using 'Camp manager' profile:
midqacamp@gmail.com
Pass: qa123456
3. click on menu > my camp > edit camp (or the following link:)
https://spark.staging.midburn.org/he/camps/2045/edit
4. Click on 'פרטים בסיסיים'
5. under גיפט המחנה'' mark V on othe

[2018-03-04 23:06] ozsoffy opened #714 "Update copy in edit-members under edit-camp [Bug] [Front End]"
The Problem:
The copy under the edit-members under edit-camp need to be updated

Steps:
1. Go to stage spark page
https://spark.staging.midburn.org/he/login?r=/
2. login using 'Camp manager' profile:
midqacamp@gmail.com
Pass: qa123456
3. click on menu > my camp > edit camp (or the following link:)
https://spark.staging.midburn.org/he/camps/2045/edit
4. Click on Edit member 'עריכת חברים'

Result:
T

[2018-03-05 12:28] OriHoch commented on #707
@MidburnThemeCamps - I sent you the package in slack

## Procedure to download zip file manually
* Get AWS S3 credentials and write them to `~/.aws/config`
[code]
* `aws s3 --profile midburn sync s3://midburn-spark-camp-files-prod/ ./midburn-spark-camp-files-prod/`
* `zip -r ./midburn-spark-camp-files-prod.zip ./midburn-spark-camp-files-prod`

[2018-03-05 15:58] ghost commented on #707
Fixed by e9df6bc

A race condition was created by larger network lag and less processing power and memory available in containers.
Fixed so that timing issues are less significant.

@MidburnThemeCamps Please note that the download is a little bit slow, but should complete successfully.

Feel free to reopen if you still have issues.

[2018-03-05 15:58] #707 closed, assigned to nobody

[2018-03-05 16:22] OriHoch commented on #707
can increase the CPU

[2018-03-05 16:42] ghost commented on #707
Don’t think there’s a need for that.

Right now there shouldn’t be a race condition anymore and it does make the download slower, but since this is used once or twice a year, no point in investing additional effort IMHO

[2018-03-05 17:46] OriHoch commented on #707
increasing the CPU is no effort..

[2018-03-05 18:39] ArtyomKa commented on #681
I looked into it.
Here is what I think happened:
The script extracted all tickets from drupal that belong to MIDBURN2017 and SANDBOX2017 (the array of ticket_ids is hardcoded in the script) and stored them in the spark.tickets table under event_id MIDBURN2018. This iswhay we now have MIDBURN2018 tickets that have _inside_event_ field = 1 (they are actually 2017 or sandbox tickets)

[2018-03-05 19:41] amotenko commented on #634
1. Ugly buttons
2. Status localization
3. Time/Date format

[2018-03-05 19:55] ArtyomKa opened #717 "tickets table has incorrect event_id"
### Overview of the problem
_tickets_ in spark database have incorrect   _event_id_ values. This is what causes the incorrect _inside_event_ data to appear in the camp memebers dialog. See: #681

### Description
Probably caused by buggy _drupal_sync_ script. After the _event_id_ constant was changed to MIDBURN2018 old tickets where also set to this value because the TICKETS_TYPE_IDS constant was i

[2018-03-05 20:07] ArtyomKa commented on #717
@OriHoch Mentioned that there is another way to import tickets data from drupal. This might more elegant solution.

[2018-03-05 20:08] ghost commented on #707
I know, but switching back to async zipping and testing is :)

[2018-03-05 20:09] ArtyomKa commented on #687
See #717 and #681

[2018-03-06 12:05] amotenko opened #720 "Improvement of art data from Dreams database"
Dreams database has data that we can import directly to our system to augment and improve our data such as Hebrew name and possibly other fields

[2018-03-06 13:08] #714 closed, assigned to NitayRabi

[2018-03-06 17:11] amotenko opened #721 "Ingest ticket sale data for Art department"
In preparation for the sale next week, we need to enter the number of tickets that each art project manager can distribute to his team.

Very similar to what we did with the previous participation sale.

Let me know that you take this and I'll send you the data

[2018-03-06 17:14] OriHoch commented on #721
please send me the data..

[2018-03-06 17:18] amotenko commented on #721
Shared (tab titled SPARK).
I expect there are going to be a lot of mismatches, between art installation names, emails, etc, so it would be very valuable to validate the emails as valid spark users, and have a list of rejects

[2018-03-06 17:51] amotenko commented on #679
See temporary workaround here:
https://github.com/Midburn/spark/pull/722

[2018-03-06 18:01] amotenko commented on #720
Dreams database is now on the same cluster as Spark,
may also consider some sync process

[2018-03-06 18:17] amotenko opened #723 "Default event id bug"
So, in this PR that was supposed to change the event ID to MIDBURN2018 a bug was introduced,
https://github.com/Midburn/spark/pull/666

The bug is that if the year 2019 comes and no MIDBURN2019 event exists (yet), it will not work.

Suggested solution:
Make the default event id to be the one that is most recent in the database.

Not sure how exactly, one possible solution that when the app is star

[2018-03-07 08:22] OriHoch commented on #721
done, see details in PR #724

[2018-03-07 08:22] #721 closed, assigned to OriHoch

[2018-03-07 14:10] amotenko opened #725 "Camps are locked for editing"
On production server, camps are locked for editing even though they are not configured to be locked in the event's admin page.

[2018-03-07 14:18] amotenko commented on #725
Seems the MySQL server is stuck or something judging by the ER_LOCK_WAIT_TIMEOUT that returns

[2018-03-07 14:21] amotenko commented on #725
Staging works as expected

[2018-03-07 15:53] OriHoch commented on #725
please provide clear reproduction steps, I'm not sure how to reproduce it

in any case, I recreated the DB, so it should fix it in case there were any locks

[2018-03-08 10:06] amotenko commented on #725
Fixed, closing

[2018-03-08 10:06] #725 closed, assigned to nobody

[2018-03-08 10:25] #708 closed, assigned to nobody

[2018-03-08 10:25] #710 closed, assigned to nobody

[2018-03-08 11:01] amotenko commented on #687
Good, now that we fixed the script, the bundles, and event ids on tickets we are back to square one.

At the moment we don't have any 2018 ticket info in our tables, and from what I understand the script is running but it doesn't take the whole data, just the recent deltas.

Also, fascinating read from last year's issues about ticket sync mechanics and the performance hit it caused (@ArtyomKa foll

[2018-03-08 11:28] OriHoch commented on #687
thanks @amotenko for the summary :+1:

I'm still reluctant to touch this script with a stick...

next week I hope I will have time to help you, either by fixing this script or implementing a simpler option directly with spark DB

[2018-03-08 12:03] amotenko opened #730 "Ingest ticket sale data for Camps department"
Similar to #721 , but for camps.

If you take this let me know and I'll send you the list

[2018-03-08 12:16] pandamichal opened #731 "Getting statistics from spark database (for the gate)"
The gate department needs to know the statistics of how many people entered the gate throughout the event last year. They need the number of people passed through the gate each hour.

[2018-03-08 12:31] OriHoch commented on #730
I can do it tonight

[2018-03-08 14:52] amotenko commented on #730
Sending you the info

[2018-03-08 15:47] OriHoch commented on #730
done on production DB @amotenko @pandamichal

[2018-03-08 15:55] OriHoch commented on #730
[metabase dashboard showing the camps pre sale tickets quotas](https://production.midburn.org/metabase/dashboard/3)

[2018-03-08 17:31] amotenko commented on #731
If I remember correctly this data was overrun at this year's sandbox, and we didn't have a backup of our database between midburn 17 and the sandbox

[2018-03-09 08:04] ghost commented on #717
Fixed event_id according to the ticket type.
Each ticket now has the correct event_id.

[2018-03-09 08:04] #717 closed, assigned to nobody

[2018-03-09 11:13] ghost commented on #687
Ticket sync process is up and running.
The number of total tickets shown on the homepage is the exact number of tickets sold so far.

There is still a UI issue, but that has nothing to do with sync.
Closing.

[2018-03-09 11:13] #687 closed, assigned to nobody

[2018-03-09 13:01] amotenko commented on #730
done

[2018-03-09 13:01] #730 closed, assigned to nobody

[2018-03-09 13:13] amotenko opened #738 "Vanity issue for Leon"
I hereby confirm that @LeonFedotov has communicated with me over a popular instant messaging platform and in the span of a few short text messages, using his knowledge, experience, and expertise, helped to resolve an acute issue, thus proving his proficiency as a software engineer and value to the burner community.

[2018-03-09 13:14] amotenko commented on #738
Issue deemed closed.

[2018-03-09 13:14] #738 closed, assigned to LeonFedotov

[2018-03-09 13:55] amotenko opened #740 "Ticket count is incorrect"
Ticket info is not displayed correctly, mainly the count for each camp member in member management screen is wrong.
At the moment ticket data in our tables is synced and correct so this is a bad query or display issue.

This is in continuation to #687

[2018-03-09 14:01] amotenko commented on #740
Fixed in https://github.com/Midburn/spark/pull/739

[2018-03-09 14:01] #740 closed, assigned to nobody

[2018-03-09 15:00] amotenko commented on #679
so as we discussed, let's duplicate everything, and hope the UX won't be shit.
(and exact titles are TBD)
@NitayRabi

[2018-03-09 19:58] LeonFedotov commented on #738
pfffttt @amotenko 💃 💃 💃 💃 💃

[2018-03-10 01:20] amotenko commented on #713
Solved in https://github.com/Midburn/spark/pull/736

[2018-03-10 01:20] #713 closed, assigned to MiriOliel

[2018-03-10 01:20] #712 closed, assigned to nobody

[2018-03-10 01:20] #711 closed, assigned to nobody

[2018-03-10 01:21] amotenko commented on #689
This should be added to the event admin panel.

[2018-03-10 01:30] amotenko opened #743 "ID number length"
At the moment we have a weird constraint that is messing with some users that ID numbers are supposed to be 9 digits long. This is not always correct.

Provide better constraints for ID number.

[2018-03-10 01:41] amotenko opened #744 "Provide admin access to authorized personnel"
Let me know, I'll send you the list

[2018-03-10 01:45] amotenko commented on #744
There are camps admin, and art admin, see that you select the right role for each (`user_role.js`)

[2018-03-10 01:52] amotenko opened #745 "Managers can't add users to camps/art"
We have been receiving this feedback a lot but it is not consistent, i.e. comes and goes.

1. Find a specific user on a specific camp that cannot be added.
2. Make sure the user signed all the crap etc in the profile system.
3. Debug why user can't be added to the camp.

Ask @pandamichal for the user that is giving her trouble
https://www.facebook.com/groups/217022568848232/permalink/2180722020766

[2018-03-10 06:29] ArtyomKa commented on #743
Nothing weird about 9 digits length constraint. Just should pad it with zeros.

[2018-03-10 07:35] ArtyomKa commented on #745
Talked to Gil Burstein - Manager of one of the Art Installations that had problems (i.e. was not paying attention...) His volunteer was not in spark - I checked the users table. That's why he could not add him/her.
Also the problem is specific to art installations. Looks like theme camps do not have this constrained and they are added to the users if they are not there. I don't know why it was imp

[2018-03-10 15:46] amotenko commented on #743
passports numbers, foreign ids, those might be longer than 9 digits, I don't think we need to have any constraint on that, we don't even use it as a unique identifier

[2018-03-10 15:48] amotenko opened #746 "Emails displayed instead of names in camps"
From what I see those users have empty values in the name / last name column but do have values in the add_info json for some reason

[2018-03-10 19:29] ArtyomKa opened #747 "DREAM_ prefix in art installation English names"
### Overview of the problem
English names of art installation have _DREAM__ prefix. Artists take their project names seriously and we should not change it.
I understand that it is some kind of _import from Dreams_ issue, but until we have a better solution, I suggest to fix it in the UI.

[2018-03-10 20:01] ArtyomKa commented on #747
@OriHoch actually, is this prefix really needed? I mean do we need the workaround of fixing it in the UI or can we just fix the DB?

[2018-03-10 20:04] amotenko commented on #747
It was that way because some art installations have the same name as the
supporting camp, so we just went with the convention of last year. Doesn't
have to be this way.

On Sat, 10 Mar 2018, 22:01 Artyom Katsap, <notifications@github.com> wrote:

[2018-03-10 20:23] ArtyomKa commented on #747
OK. If We don't require uniqueness on group name, then we should clean up the DB. No reason to add code that nobody will understand why it is there.

[2018-03-11 00:01] amotenko commented on #747
It makes sense to require a unique group name, but per event per group type.
So the system should separate between Foobar the camp and Foobar the art
installation. This is the issue basically.
Then when we have it we can remove the ugly prefixes.

On Sat, 10 Mar 2018, 22:23 Artyom Katsap, <notifications@github.com> wrote:

[2018-03-11 04:40] OriHoch commented on #747
need to change to an index that takes the event and camp type into account

[2018-03-11 06:35] amotenko opened #748 "Art department - member confirmation"
When adding a new member to an art project, member doesn't need to confirm his participation.

(from @pandamichal)

[2018-03-11 06:36] amotenko commented on #748
Question:
How to handle cases when person doesn't want to be included in project (for example wrong user added by mistake)

[2018-03-11 06:38] amotenko opened #749 "Multiple membership in camps and art"
Users shouldn't be able to participate in more than one camp and one art project

(from @pandamichal)

[2018-03-11 06:40] amotenko commented on #749
Question:
This is not the case in the real world, people participate in multiple art projects.
Also there is no technical reason why they can't be part of more than one camp.

[2018-03-11 06:41] amotenko commented on #749
Also, if https://github.com/Midburn/spark/issues/748 is implemented, might get users stuck.

[2018-03-11 06:44] amotenko opened #750 "Number of tickets display label"
"Number of tickets" should be "Number of tickets in profile"

and in Hebrew

מספר כרטיסים => מספר כרטיסים בפרופיל

(from @pandamichal)

[2018-03-11 06:45] amotenko commented on #750
Note and consider new labels introduced in https://github.com/Midburn/spark/pull/742

(Some of those also should change)

[2018-03-11 06:48] amotenko opened #751 "Child ticket count should be separate from guardian"
Display ticket count for people that also has child tickets as X (+ Y)

[2018-03-11 06:50] amotenko opened #752 "Tickets for allocation display labels"
'Tickets available for allocation' and 'tickets allocated' labels are reversed.

(Also consider new labels introduced in https://github.com/Midburn/spark/pull/742), some of those should also change

[2018-03-11 06:54] amotenko opened #753 "Only one manager per camp/art should be allowed"
At the moment more than one member can be designated as a manager which is not desirable.

(from @pandamichal)

[2018-03-11 06:56] amotenko commented on #753
There should be a separation between the role of a manager and the privileges of a manager.
It makes sense that more than one person in a camp/art can have those privileges

[2018-03-11 07:05] amotenko opened #754 "Export sale data"
In preparation for the upcoming sale we need to export the data we have on tickets allocation from camps and art.

Exported files should be separate for camps and for art.

the csv file should contain the following columns:

- Name of allocating camp/art project
- Email of ticket recipient

(@pandamichal anything else?)

[2018-03-11 07:09] amotenko opened #755 "Validate camp/art editing lock feature"
Under event management there is an option to lock camps for editing.

Validate that this feature works in both camps and art for the upcoming sale.
(most important is to validate that membership is locked)

[2018-03-11 07:27] ArtyomKa commented on #748
From what i saw yesterday, we can make art installation members assignment
process to be same as theme camps. it is juat configuration issue

On Sun, Mar 11, 2018, 08:36 Alex <notifications@github.com> wrote:

[2018-03-11 07:35] OriHoch commented on #754
I can create a metabase question which show this data, you can export to CSV from metabase

[2018-03-11 07:37] OriHoch commented on #754
actually.. we already have this question, thanks to Hila (BI expert)

https://production.midburn.org/metabase/question/1

[2018-03-11 07:38] OriHoch commented on #754
and we have camps data and art data here -
https://production.midburn.org/metabase/question/10
https://production.midburn.org/metabase/question/9

[2018-03-11 08:02] ghost commented on #751
Currently the sync process doesn’t sync child ticket bundle ids

To implement this we will need to change that.

I can change the script and also, we can take this opportunity to move the bundle ids to the event settings page.

[2018-03-11 08:20] ArtyomKa commented on #751
@elad-lachmi I'm not sure it's correct. The script now uses the bundle ids defined in models/constants.js (but you already know that :stuck_out_tongue_winking_eye:). and it contains all bundle ids we received from Drupal Alex.

[2018-03-11 08:57] ArtyomKa opened #756 "Art Installation managers can not change Hebrew name"
A complaint received while trying to help one of the art installation managers

### Overview of the problem
Changing Art installation name does not work.

### Description
When trying to change Hebrew name (which was imported from the Dreams sys.) art inst. managers receives a message that the change was successful but refreshing the page returns the previous name.

### Expected behavior
We should

[2018-03-11 09:53] ghost commented on #751
The number of tickets synced (~6600) is the number of adult tickets sold. I verified this personally.

Where exactly the filtering happens I don’t recall right now, but it’s easy enough to check.

Anyway, it can be changed easily if needed.

[2018-03-11 11:54] amotenko commented on #751
@elad-lachmi please do! Also I'll open an issue on setting bundle IDs in admin panel

[2018-03-11 11:56] amotenko opened #757 "Bundle IDs should be set from admin panel"
This will require:

1. A new table for bundle IDs (event_id, bundle_id, type?)
2. UI to support this
3. Eliminate hard-coded values in code and access

[2018-03-11 11:57] amotenko commented on #757
This is following this discussion
https://github.com/Midburn/spark/issues/751

[2018-03-11 12:03] ArtyomKa commented on #757
duplicate of #689.

[2018-03-11 12:04] #689 closed, assigned to nobody

[2018-03-11 12:04] amotenko commented on #748
This whole flow needs to be redesigned, the user experience is horrible.
But OK! let's get those two aligned together first.

[2018-03-11 12:11] amotenko commented on #754
@OriHoch , number 9 and 10 are how many quotas each community received, right?
Number 1 is who has tickets and which, (correct me if I'm wrong).
Where do we find the allocated quotas per person for the upcoming sale? I don't think we have a question for this yet, but it certainly can be made.

[2018-03-11 12:15] amotenko commented on #756
And the English name?

[2018-03-11 12:18] #678 closed, assigned to nobody

[2018-03-11 12:20] ArtyomKa commented on #756
I think it is disabled for editing.

On Sun, Mar 11, 2018, 14:15 Alex <notifications@github.com> wrote:

[2018-03-11 12:22] ArtyomKa commented on #751
did we even sell any child tickets?

On Sun, Mar 11, 2018, 11:53 Elad Lachmi <notifications@github.com> wrote:

[2018-03-11 12:48] amotenko commented on #751
There was a general sale, it has child tickets, no?

[2018-03-11 12:49] pandamichal commented on #754
@amotenko name of camp\art and email is enough.
the camps should be downloaded today until 18:00,
Art scheduled for tomorrow 12.3 at 18:00.

Thanks!

[2018-03-11 12:50] amotenko commented on #756
So the two should be aligned

[2018-03-11 13:30] ghost commented on #751
Yes, some child tickets were sold

I can check how many when I get home, but it doesn’t really matter for the sake of this issue.

[2018-03-11 14:38] OriHoch commented on #754
@amotenko @pandamichal
full list of camp and art members - https://production.midburn.org/metabase/question/15
need to join with tickets data, it could be done manually in excel, if not I can do it tomorrow

[2018-03-11 14:41] pandamichal commented on #731
@amotenko Can we check it out? @OriHoch  maybe?

[2018-03-11 14:48] pandamichal commented on #749
Actually, maybe for art it's ok to have multiple memberships...at theme camp, we can't approve because they getting the tickets number according to Spark listing. Art (this year) did it through the Dreams listing.
I'll consult with Eithan about it.

[2018-03-11 14:50] pandamichal commented on #748
Let's wait with that...don't apply it in this sale...people will not understand what to do.

[2018-03-11 14:54] OriHoch commented on #731
yes, looks like this data is not available in spark

it should be available in Drupal, Hila can do it, and anyone who knows SQL can try to get this data from Drupal using Metabase

[2018-03-11 14:54] pandamichal commented on #753
I think that tickets wise- only one member could be the manager. At this moment Spark is giving mainly tickets solutions and i think only one person should have the privilege to give them.

[2018-03-11 15:39] amotenko commented on #754
@OriHoch thank you,
but this is not exactly what needed.

If you look at `camp_members` table, you will see some users with camps associated with the current event id have under addinfo_json `{"pre_sale_ticket":"true"}`. Those are the guys we need.
If possible with separation to art and camps.

Muchas gracias!

[2018-03-11 15:43] OriHoch commented on #754
@amotenko https://production.midburn.org/metabase/question/16

[2018-03-11 15:44] amotenko commented on #748
No merges until after the sale

[2018-03-11 15:44] OriHoch commented on #754
the `Camp Type` column is used to distinguish between art and camps

[2018-03-11 15:47] OriHoch commented on #754
I added a camp type filter to the question - https://production.midburn.org/metabase/question/16

[2018-03-11 15:51] amotenko commented on #754
Danke dir!

I see now the value that metabase has to provide and I think it's a good thing we have, so thank you for that as well.

[2018-03-11 15:53] amotenko commented on #731
Was ticketing data synced back to drupal? I thought those tables were specific to Spark

[2018-03-11 16:01] amotenko commented on #753
I understand the concern, but I'm reluctant to agree.
What usually happens, in a situation where a manager wants to share some of his workload, if he is unable to give some of his privileges to people he trusts is that he just gives them his username and password, which is far worse from information security point of view.
It's better to have in place a safe mechanism that allows that, and let the

[2018-03-11 16:13] OriHoch commented on #731
I don't know..

[2018-03-11 16:16] amotenko commented on #731
so Hila can check, and if not, sadly we don't have it.

[2018-03-11 16:20] amotenko commented on #755
Also, see if possible to separate camps from art. If the change is minor it will be worth it.

[2018-03-11 16:37] ghost commented on #753
Agree completely with what Alex said.

From experience, if there isn’t an applicative way of sharing access, usernames and passwords start making the rounds between users, which is a loss for everyone.

I think we should support this, while keeping responsibility with the camp manager and having them as the single point of contact.

[2018-03-12 13:24] amotenko opened #758 "User displayed as manager but not defined as such"
Camp id 2034 has no members defined as managers in `camp_members`.
User id 6438 is displayed as manager.

(Production)

[2018-03-12 14:03] pandamichal commented on #753
All you said is true...I think Adir-theme camps leader should decide in that manner because he is the one that deals with the lists and the managers.

[2018-03-12 14:09] MidburnThemeCamps commented on #753
Completely agree with Alex.
Also - another facet is adding/approving members. This can be done by more than one manager.
Only ticketing stuff should be done by a single manager, unless he decides to appoint someone else from the camp (with said privileges) and give them access.

[2018-03-12 14:13] pandamichal commented on #753
That was my thought..that tickets should be handled by one person only. I think that adding another member that can give tickets should be by admin from theme camp and not by the camp manager.
Adir- what do you think?

[2018-03-12 14:15] MidburnThemeCamps commented on #753
I'm actually OK with letting them appoint another "manager" who can give tickets. If it runs through us it's just more work for the team... I rather empower them and let them handle it themselves :)

[2018-03-12 14:18] pandamichal commented on #753
OK! less work for us :-)

[2018-03-12 15:57] MidburnThemeCamps commented on #753
Actually, it means we should go with Alex's suggestion of adding a feature to let a manager "appoint" other sub-managers... :)

[2018-03-12 17:20] ghost commented on #753
I’m always for empowerment.
A side from the warm fuzzy feeling, it’s also more scalable.

[2018-03-12 18:46] shaniqwa opened #759 "Suppliers Gate: Create new page for Gate - Suppliers."
This page contains a table displaying all entrances, with the following columns:

- ID of supplier (from barcode)
- Supplier name
- Vehicle plate number (manual input on entrance) (?)
- Number of people in vehicle  (manual input on entrance)
- Length of visa to Midburn in hours
- Time of entrance
- Time of departure
- Status: inside / outside / overdue (inside but exceeded visa time)
- Actions: en

[2018-03-12 19:36] shaniqwa opened #760 "Suppliers Gate: Table Actions"
**Supplier Entrance**
1. to enter a supplier, search between approved providers list by name/barcode in autocomplete dropdown (similar to other places in spark, see image).
2. after supplier is selected, click button 'Enter' next to the search field.
3. a modal (popup) is opened with a form of 2 text fields:
       a. vehicle plate number.
       b. number of people in the car.
       c. Length of

[2018-03-12 19:49] shaniqwa opened #761 "Add Suppliers contract when adding new supplier."
When adding a new supplier, add file upload (type - pdf) with the signed contract.
**Help needed:** where should we store the files? S3?

[2018-03-12 20:11] shaniqwa opened #762 "Server: Create new table for suppliers gate entrance with CRUD"
the table should include the following:
- ID
- supplier name (so we can easily filter the gate entrance table by supplier name, or if supplier lost his barcode)
- barcode (related to specific supplier)
- Vehicle plate number
- Number of people entered
- Length of visa to Midburn in hours
- Time of entrance
- Time of departure
- Status: inside / outside

@amotenko please review this, add/fix stuff

[2018-03-12 22:22] ozsoffy opened #765 "As a camp manager, I Can add non existing user in profile system to a camp [Bug] [javascript]"
The Problem:
As a camp manager, I Can add non existing user in profile system to a camp

Steps:
1. go to spark
https://spark.staging.midburn.org/he/login?r=/
2. login as camp manager
3. go to edit camp > Edit friends
https://spark.staging.midburn.org/he/camps/2045/edit
4. under 'add mail of midburn profile' add non existing email (ex: lala@lala.com) and click 'add member'

Result:
The member is ad

[2018-03-12 22:31] ozsoffy opened #766 "As a camp manager (and not Art manager), I would like to not be able to add emails of members that belongs to other camps to my camp"
The Problem:
As a camp manager, I can add emails of members that belongs to other camps to my camp

Steps:
1 go to spark
https://spark.staging.midburn.org/he/login?r=/
2. login as camp manager
3. go to edit camp > Edit friends
https://spark.staging.midburn.org/he/camps/2045/edit
4. under 'add mail of midburn profile' add existing email of member that belong to another camp
 (ex: midqaad@gmail.com

[2018-03-12 23:02] ozsoffy opened #767 "As Admin-user, I cant add tickets from manage-camps page [Bug] [javascript]"
The Problem:
As Admin-user, I cant add tickets from manage-camps page

Steps:
1 go to spark
https://spark.staging.midburn.org/he/login?r=/
2. login as Admin-user
3. go to camp management
https://spark.staging.midburn.org/he/camps-admin
4. Search for a camp and try to add it a tickets.

Result:
The data is not saved. (see screenshot)

Expected:
The Admin-user, can add tickets using this page, and g

[2018-03-13 07:56] NitayRabi commented on #767
This might be resolved when https://github.com/Midburn/spark/pull/742 will be merged.

[2018-03-13 09:12] amotenko commented on #758
@ArtyomKa says it's a feature not a bug.
If no manager defined, main contact displayed as manager?

[2018-03-13 09:48] amotenko opened #768 "2018 Early arrival solution outline"
## Overview

This year the buckets are not going to be used. Instead, two types of early arrivals exist:
1. For the whole set-up period.
2. Just the day before the gate is open.

Distribution is done by quotas allocated per entity (camp, art, department).
Further distribution to users is done by camps, art and department managers.
Camps and art get only permits of type 1, production volunteers may

[2018-03-13 09:49] ArtyomKa commented on #758
No. I said a that being main contact is enough to get manager permissions.

On Mar 13, 2018 11:12, "Alex" <notifications@github.com> wrote:

@ArtyomKa <https://github.com/artyomka> says it's a feature not a bug.
If no manager defined, main contact displayed as manager?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Midburn/

[2018-03-13 10:46] yossilan opened #769 "Bug: Installation/Project Name is corrupt and wrong ("camp" 1999)"
Hi,

I'm leading The Dimyonon installation and the project name in spark is wrong both in Hebrew and English. For some reason, I can't really edit the name in the English field and when I edit the name in the Hebrew field it keeps reverting to the corrupt version...

The corrupt version: DREAM_he Dimyonon - An Interactive Stage/Playgroun
Should be: The Dimyonon
Should be in Hebrew: הדמיונון

תודה

[2018-03-13 13:13] OriHoch commented on #769
Why do you need to edit these details?

In any case, I updated directly in DB.. let me know if it looks OK now

[2018-03-13 13:17] OriHoch commented on #754
:+1:

[2018-03-13 13:17] #754 closed, assigned to OriHoch

[2018-03-13 14:06] OriHoch commented on #675
branch `api-refactor-feb-2018` is continuously deployed to sparktesting environment https://spark.testing.midburn.org/

I wrote how to do it here - https://github.com/Midburn/midburn-k8s/blob/master/charts-external/spark/README.md#starting-a-testing-environment

[2018-03-13 14:06] #675 closed, assigned to OriHoch

[2018-03-13 17:28] amotenko commented on #675
Thanks! That's awesome.

[2018-03-14 12:03] yossilan opened #771 "בקשה לאפס סיסמא למשתמש ספארק"
אחד מחברי צוות המיצב שלי הינו "מאותגר-מחשבית", ואיכשהו הוא הצליח ליצור פרופיל ויש לו את הסיסמא הנכונה, אבל אי אפשר להתחבר לספארק עם הסיסמא הזו.... בשל זאת, אנחנו לא יכולים לצרף אותו למחנה שלנו מכיוון שהוא חייב להכנס לספארק כדי לאשר הצטרפותו (בניגוד למיצב ששם הוא לא היה צריך לאשר השתתפות)....

שמו של המשתמש הוא גיא ולפיש
האימייל שלו (וגם שם המשתמש) הוא valfishguy@gmail.com
המיצב המדובר הינו הדמיונו

[2018-03-14 12:04] yossilan commented on #769
נהדר, המון תודות!!

ניסיתי לערוך את שם הפרויקט מכיוון שבצורה שזה היה כתוב זה היה נראה מאוד
מבלבל, ומכיוון שיש לנו כ-10 וירג'ינים בצוות, כל בילבול קטן הופך אח"כ לכאב
ראש גדול.... :)  שוב תודה!!

[2018-03-14 16:38] pandamichal opened #772 "Traffic department needs admin panel for suppliers."
Traffic department needs access to the admin panel (that Gate has) for monitoring the supplier's entries.
Important- the access should be only **View mode**- without any permissions.

[2018-03-14 16:41] pandamichal commented on #771
היי יוסי,
כאן זה לא המקום לתמיכה טכנית.זוהי הפלטפורמה לפיתוח.
בבקשה שלח מייל לתמיכה
support@midburn.org

[2018-03-14 16:41] #771 closed, assigned to nobody

[2018-03-15 11:11] amotenko commented on #772
This is a duplicate, closing
@pandamichal

[2018-03-15 11:11] #772 closed, assigned to nobody

[2018-03-15 11:12] amotenko commented on #772
Current spec can be found here:
https://github.com/Midburn/spark/issues/597

[2018-03-17 22:22] galnitsan opened #774 "Past Midburn events/sandbox - shown to virgins"
### Overview of the problem

Past Midburn events/sandbox -  shown to virgins

 This is about the Spark : Users module

 My **browser** is:  chrome
I am sure this issue is not duplicated - **not sure**

### Description

 Description of the bug, enhancement, or question
Past Midburn events/sandbox -  shown to virgins

### Steps to Reproduce

1. login to Spark as a virgin user
2. Press the button of

[2018-03-18 11:54] pandamichal commented on #731
checking with her...

[2018-03-18 12:27] amotenko opened #775 "User home page - Show stats and info about user"
Including integration with Volunteers

[2018-03-18 13:15] #769 closed, assigned to nobody

[2018-03-19 11:06] amotenko opened #776 "A new request to join a camp will cancel out an existing authorized rquest"
TBD:
Exact steps to reproduce

[2018-03-19 16:02] pandamichal opened #777 "Query creation at metabase"
For theme camps tickets tracking they asked a query that should contain:
For each camp:
-How many tickets allocation they got.
-How many they used (how many members they mark that should get a ticket)
-How many members of the camp that got ticket allocation actually bought the ticket.
In Hebrew:
עבור כל מחנה שקיבל הקצאת כרטיסים בספארק, רשימה של כמה כרטיסים הוקצו בפועל, וכמה נקנו

(לדוגמא: פוסינמה

[2018-03-19 16:04] amotenko commented on #774
@galnitsan , those entities do exist in the database, why don't you want the virgins to be able to see them?

[2018-03-19 16:19] amotenko commented on #777
Just to clarify, queries are written in SQL, anybody with some SQL experience can take his

[2018-03-19 16:20] amotenko commented on #768
## Update

All of the above, plus camps and art use the bucket system as well appartently

[2018-03-19 16:56] pandamichal opened #778 "Spark signing in depends on profile update"
If a user didn't sign in on the "terms and details" at the profile system (or didn't updated emergency contact) or any change needed - the user can't log into the spark.

The two systems don't need to be related in that manner.

[2018-03-19 18:37] #761 closed, assigned to nobody

[2018-03-19 18:38] MiriOliel commented on #761
This belong to previous system. Not needed for this project. :]

[2018-03-19 18:41] galnitsan commented on #774
Because I am a virgin and those entities are not relevant for me.

[2018-03-19 19:22] MiriOliel opened #779 "Currently checked in suppliers (all entries)"
Display a table which contains all suppliers entries.
(Overdue status should be calculated by the client.

[2018-03-19 20:57] OriHoch commented on #777
https://production.midburn.org/metabase/question/17

[2018-03-19 21:15] yaarams commented on #765
@ozsoffy fixed

[2018-03-19 21:17] yaarams commented on #766
@ozsoffy please close this issue. its a non-issue.

[2018-03-19 21:28] yaarams commented on #776
Flow one:

1. Camp manager adds a user
2. User approves participation in camp
3. User submits a request to participate in camp
4. Previous request is cancelled and user is not approved - again

Flow two:

1. User submits a request to participate in a camp
2. Camp manager approves user
3. Camp manager adds the user
4. Previous request is cancelled and user is not approved - again

[2018-03-20 11:20] amotenko commented on #778
Agreed. I'm not going to say the obvious (that we are moving towards a new profile system that may or may not be a part of Spark etc.),
but,
to fix this right now, the change should be made on the side of Drupal since Drupal is failing the login attempt, not Spark.

[2018-03-20 11:34] pandamichal commented on #777
clerification:
כל מחנה קיבל כמות מסויימת של הקצאות ויכל לסמן אנשים. . אז עמודה אחת של כמה הקצאות הוא קיבל. עמודה שנייה- כמה אנשים הוא סימן מתוך אותם ההקצאות.
מתוך האנשים שהוא סימן- כמה מהם קנו את הכרטיסים שלהם וכמה לא
הדבר היחיד שלא מוצג בספארק זה מי קנה בפועל את הכרטיס שהוקצאה לו.
![screenshot](https://user-images.githubusercontent.com/34742039/37652209-77a4b85e-2c43-11e8-97d1-ca83e3f54f23.png)

[2018-03-20 11:43] pandamichal commented on #778
OK, that's sad to hear.
So let's add please a notification on the Spark login screen (to prevent a lot of noise and tickets to support) that say: "failed to log in? Enter the Profile system and make sure you entered all the details".
לא מצליחים להיכנס? כנסו למערכת הפרופילים ותוודאו שאין לכם פרטים נוספים למלא"
I'm expecting a lot of problems at the next sale (25/3).

[2018-03-20 13:34] yprez commented on #723
On it. Will try to normalize the data in events.addinfo_json.

[2018-03-20 15:24] amotenko commented on #778
Agreed!
We do have such an issue, https://github.com/Midburn/spark/issues/578
I'll prioritize it

[2018-03-20 15:26] amotenko commented on #723
@yprez great!

[2018-03-20 17:31] pandamichal commented on #777
@OriHoch  what does it means that you removed your assignment? that it can't be done? Should I say to Adir? Can't we provide this query?

[2018-03-20 20:08] OriHoch commented on #777
it means I'm not working on it at the moment, so it let's other people know the issue is available

I hope I'll get to it next week

[2018-03-20 21:29] ghost commented on #777
Thanks @OriHoch!

Based on your query I added the missing column.

Waiting for a review by whoever needs to review the report and I’ll close the issue.

[2018-03-21 10:44] amotenko opened #783 "Ingestion of 2nd sale quotas"
I don't have the numbers yet but it might be a little different this time.
It is very important that the old data isn't thrown away.

We may receive the numbers in either one of two ways,
1. New valid absolute values (easy for us)
2. Just the deltas (a bit harder)

I'll update here, and let me know if you can take this.

[2018-03-21 12:57] pandamichal commented on #777
Thank you guys! The query Elad completed with Ori , Helped us a lot!

[2018-03-21 17:04] shaniqwa commented on #779
dup of #759  ?

[2018-03-21 20:01] Aroundafur commented on #625
![image](https://user-images.githubusercontent.com/5235282/37734271-5a3e2cc6-2d53-11e8-98e8-9a6a94128f10.png)

could this be fixed? @amotenko

[2018-03-21 22:26] amotenko commented on #783
## Update

1. Data is in deltas but not from the total number of tickets allocated but rather actual number of tickets allocated. Sorry if confusing, let's talk and I'll explain

2. Old data should be set aside, new numbers inserted, and recombined after the sale.

3. Make sure to have a backup before running

[2018-03-21 22:29] amotenko commented on #625
Might have been fixed.
I still see a localisation issue in your screenshot though, since the status should also be translated.
@aroundafur

[2018-03-22 06:25] OriHoch commented on #783
confusing indeed, please describe what needs to be done.. otherwise, let's talk in the meeting Monday

[2018-03-22 19:25] amotenko commented on #783
## Update Update

New data is better structured. The needed steps are:

1. Make sure we have a current backup
2. Overwrite old sale data with new sale data (similar to how we done it before)

[2018-03-22 19:39] OriHoch commented on #783
@amotenko
1. sent you the backup in slack
2. done on production

[2018-03-22 21:02] amotenko commented on #783
## Update Update Update

Sent new and final data set received from camps department. This time it should be also the last time.

[2018-03-22 21:45] amotenko commented on #783
Done on production.

[2018-03-22 21:45] #783 closed, assigned to OriHoch

[2018-03-24 18:51] MiriOlielWibbitz commented on #779
@shaniqwa Yes, I removed it from the project when I realised it's a dup :]

[2018-03-26 17:26] yaarams commented on #776
@amotenko seems like this issue is fixed already, we couldn't reproduce.

[2018-03-26 17:37] #776 closed, assigned to amotenko

[2018-03-26 17:38] Demikulu commented on #767
This issue is also fixed, you are welcome to close it.

[2018-03-26 17:47] amotenko commented on #774
this is not a bug, as discussed :)

[2018-03-26 17:47] #774 closed, assigned to nobody

[2018-03-26 17:48] amotenko commented on #767
fixed, closing

[2018-03-26 17:48] #767 closed, assigned to nobody

[2018-03-26 17:48] amotenko commented on #766
closing

[2018-03-26 17:48] #766 closed, assigned to nobody

[2018-03-26 17:49] amotenko commented on #765
closing

[2018-03-26 17:49] #765 closed, assigned to ozsoffy

[2018-03-26 17:50] amotenko commented on #755
validated, closing

[2018-03-26 17:50] #755 closed, assigned to NitayRabi

[2018-03-26 17:53] amotenko commented on #753
this will have a proper UI when we merge the new roles & permissions.
A *single* camp managers will be able to assign and demote helpers from within the camp.

https://github.com/Midburn/spark/pull/594

[2018-03-26 17:53] #753 closed, assigned to nobody

[2018-03-26 17:55] amotenko commented on #697
not an issue

[2018-03-26 17:55] #697 closed, assigned to nobody

[2018-03-26 17:57] amotenko commented on #695
Related issue:
https://github.com/Midburn/spark/issues/758

[2018-03-26 17:58] amotenko commented on #758
So the bigger issue here is that
a. managers should be defined as such in the database
b. main contact shouldn't be manager by default, main contact is the person defined as manager

I'll open a new issue for improving the whole manager / main contact / other contacts thing

[2018-03-26 19:05] amotenko commented on #625
solved

[2018-03-26 19:05] #625 closed, assigned to nobody

[2018-03-26 19:05] amotenko commented on #615
non issue

[2018-03-26 19:05] #615 closed, assigned to nobody

[2018-03-26 19:05] #633 closed, assigned to nobody

[2018-03-26 19:05] #634 closed, assigned to yaarams

[2018-03-26 19:06] #652 closed, assigned to Aroundafur

[2018-03-26 19:06] amotenko commented on #653
non issue

[2018-03-26 19:06] #653 closed, assigned to nobody

[2018-03-26 19:06] #681 closed, assigned to nobody

[2018-03-27 06:51] ozsoffy commented on #765
Verified
Tested on staging using camp-manager.

[2018-03-27 06:54] ozsoffy commented on #766
Cant reproduce
Tested on staging using camp manager.

[2018-03-27 09:50] OriHoch opened #789 "camps should have an option to publish their camp to camp index list"
currently only camps which have `web_published=true` are displayed in the [2018 camps index list](https://production.midburn.org/camps-2018/)

however, it seems the option to set this column was removed (I think in recent design changes)

[2018-03-27 10:07] OriHoch commented on #789
sorry, no, it was a different problem
indeed camps web_published is not used anymore, forgot about it

the problem with camps not displayed was fixed in this PR: Midburn/camps_index#11

[2018-03-27 10:07] #789 closed, assigned to nobody

[2018-03-27 10:21] ozsoffy commented on #767
Verified.
Tested on Staging using Admin user.

[2018-03-28 18:15] amotenko commented on #768
## Update

As mentioned, early arrival quota is per community (camp/art) , but also needs to be assigned individually.
Community managers select members for early arrival, and only those members will be admitted and counted towards the bucket size.
Members that are not selected for early arrival *cannot* enter, even if the bucket is not full.

_How many people can be selected for early arrival?_
G

[2018-03-30 15:47] amotenko opened #792 "Vehicles back-end"
## Background

We are requested to assist the gaters to count vehicles in and out of the event, collect a histogram of arrival and departures, and display a counter for how many vehicles are currently inside the city.

## Technical details

1. Add a new table called vehicle_entries that contains the following columns:

- eventid (foreign key from events)
- timestamp (timedate)
- direction (enum: a

[2018-03-30 15:47] amotenko opened #793 "Vehicles counter"
Add a new counter for vehicles inside the city in the statistics dashboard.

See also here: https://github.com/Midburn/spark/issues/792

[2018-03-30 15:50] amotenko opened #794 "Updates to Suppliers"
Suppliers should allow for distinction between types of suppliers.
Each type has its own legal document to sign, and potentially a different default length of visa.

For 2018 we are requested to support two types of suppliers, regular suppliers and movers.
Movers will sign a different document and will have a 3 hour visa by default, in contrary to the regular suppliers who have a 4 hour visa.

##

[2018-03-31 09:04] amotenko opened #795 "[TESTING ENV] Event admin panel close button doesn't work"
Steps to reproduce:

* As an admin, go to Events
* Click on an event
* Click on close

[2018-03-31 10:55] amotenko opened #796 "Clicking on 'add member' in camps without inputting an email causes a weird message"
Desired behavior:

Button shouldn't be clickable if field is empty

[2018-03-31 11:07] amotenko opened #797 "Add tickets to seeding data"
For working with the gate module, we need some tickets to be present locally

[2018-03-31 11:09] amotenko commented on #795
Update:

Actually events can't be modified at all, console is full of errors

[2018-03-31 11:24] amotenko opened #798 "[TESTING ENV] Adding camp members is broken"
Steps:

1. as a camp admin or admin go to camp
2. add a user to the camp
3. see errors in console

[2018-03-31 11:30] amotenko opened #799 "Gate system has broken UI"
To see broken UI,

* on staging, go to gate system,
* input a popular name such as 'alex'
* Note action names on the left overflowing
* Scroll down to see 2018 tickets
* Click on 'entrance' for one of those tickets
* Note broken submit button and white on white text

[2018-03-31 11:32] amotenko opened #800 "Gate system filtering by event id"
At the moment the gate displays all tickets from all events, without regarding selected event id.

Add event ID to the query sent to the database when filtering tickets.

[2018-03-31 12:45] amotenko opened #801 "Wrong main ticket count displayed in camps"
Still investigating -
at the moment sighted on production server for camp Beyond Common Sense.

Number displayed in main counter is higher than if you would sum all the individual tickets displayed.

[2018-03-31 14:23] achieven commented on #749
@amotenko @pandamichal So currenly it's not a bug?

[2018-03-31 14:29] amotenko commented on #749
@achieven what is the current behavior?

If users can participate in more than one camp that's a bug.

[2018-03-31 15:56] flypunk commented on #794
Should we really implement "When providing a document to download, provide one of the two according to type"?
If a provider could be of a single type, there would be only one contract for provider, so there is no need to make a distinction on the API/DB level.
@amotenko, what do you think?

[2018-03-31 16:04] flypunk opened #803 "Handle contracts for suppliers"
Add functionality for viewing/adding/removing supplier contract files.

## Technical details:
* The contracts should be saved to an S3 bucket and their metadata should be updated in the DB

* Add an option to upload contract In new supplier wizard

* Add an option to reupload/delete contract In the supplier wizard

[2018-03-31 17:14] achieven commented on #749
@amotenko I don't know the business logic. As far as iv'e read this thread,  @pandamichal should consult and give us back an answer.

[2018-03-31 17:23] amotenko commented on #794
I agree and I apologize if I used unclear wording.
There can be only one document to download for a given provider so there shouldn't be any ambiguity.

[2018-03-31 17:28] amotenko commented on #749
OK I tried it now on staging.
Camps are good (Multiple membership not allowed - that's desired)
Art is not good (Multiple membership not allowed - that's not desired)

[2018-03-31 20:12] amotenko commented on #801
Suspect: tickets in carts that were not bought.
What happens to tickets before they are bought?
Are those synced like regular tickets?
Are tickets that are not bought removed from drupal but kept in our tables?

[2018-03-31 20:24] amotenko commented on #756
Solved, now neither Hebrew nor English names are editable.

[2018-03-31 20:24] #756 closed, assigned to nobody

[2018-04-01 04:37] OriHoch commented on #801
how do you need what's the right ticket count?

[2018-04-01 04:37] OriHoch commented on #801
*know

[2018-04-01 05:46] amotenko commented on #801
The numbers don't add up.
If you sum all the tickets appearing next to camp members you get a number that is lower by 15 or so (in that particular case).

[2018-04-01 15:36] NitayRabi commented on #798
@amotenko - Updated branch and testing is deployed - should work now.

[2018-04-01 15:36] NitayRabi commented on #795
@amotenko - Updated branch and testing is deployed - should work now.

[2018-04-01 20:12] yprez commented on #800
Looks like the tickets are already filtered by event id here:
https://github.com/Midburn/spark/blob/7eaacefc27a019bab6b8b794ce63e7e6a36dc9db/routes/pages/gate_routes.js#L40

Am I missing something?

[2018-04-01 20:46] yprez commented on #800
Found the problem I think- the order of the AND/OR conditionals were wrong, andWhere should come first.

[2018-04-02 17:16] amotenko opened #808 "Some tickets are associated with wrong event id"
Example:

ticket id `46348` is from 2017 Sandbox, associated with Midburn 2018

Env:

Production  and staging

This is bad because it displays noisy data when filtering in the Gate system.

[2018-04-02 17:17] amotenko commented on #800
In addition to the excellent work done here there seem to be another root cause

https://github.com/Midburn/spark/issues/808

[2018-04-02 17:17] #800 closed, assigned to nobody

[2018-04-02 17:33] amotenko commented on #795
fixed

[2018-04-02 17:33] #795 closed, assigned to NitayRabi

[2018-04-02 17:33] amotenko commented on #798
fixed

[2018-04-02 17:33] #798 closed, assigned to NitayRabi

[2018-04-02 18:20] Aroundafur commented on #800
@amotenko I reviewed this with @NitayRabi  and we didn't find a bug. Query works as expected and info is properly shown. @NitayRabi will add ticket creation to seed.

[2018-04-02 18:36] amotenko commented on #748
done (sorry don't remember the pr)

[2018-04-02 18:36] #748 closed, assigned to nobody

[2018-04-02 18:37] amotenko commented on #745
this is also fixed now, sorry don't have the pr

[2018-04-02 18:37] #745 closed, assigned to nobody

[2018-04-02 18:41] amotenko commented on #578
I think it's good enough. We could also redirect users, maybe next year

[2018-04-02 18:41] #578 closed

[2018-04-02 18:42] amotenko commented on #585
We have good seed data, dummy data on staging, not so much.
Maybe next year.

[2018-04-02 18:42] #585 closed, assigned to guyzohar1

[2018-04-02 18:50] amotenko commented on #792
@rotman, @furmana, following our conversation this will require changes in the gatting app

[2018-04-02 18:57] amotenko commented on #665
those are good now

[2018-04-02 18:57] #665 closed, assigned to nobody

[2018-04-02 18:57] amotenko commented on #667
this is good now

[2018-04-02 18:57] #667 closed, assigned to nobody

[2018-04-02 18:58] amotenko commented on #683
there is a better issue, seehttps://github.com/Midburn/spark/issues/768

[2018-04-02 18:58] #683 closed, assigned to nobody

[2018-04-02 18:59] amotenko commented on #731
closing :(

[2018-04-02 18:59] #731 closed, assigned to nobody

[2018-04-02 19:00] amotenko commented on #777
done

[2018-04-02 19:00] #777 closed, assigned to nobody

[2018-04-02 19:00] amotenko commented on #778
it's better now

[2018-04-02 19:00] #778 closed, assigned to nobody

[2018-04-02 19:01] amotenko commented on #743
do we still have this constraint?

[2018-04-02 19:02] amotenko commented on #606
issue documented and known. won't be fixed for now beyond what @OriHoch provided.

[2018-04-02 19:02] #606 closed, assigned to nobody

[2018-04-02 19:03] amotenko commented on #651
@OriHoch do we still have those?

[2018-04-02 19:06] amotenko commented on #746
I see names now

[2018-04-02 19:06] #746 closed, assigned to nobody

[2018-04-02 19:09] amotenko commented on #720
after this one:
https://github.com/Midburn/spark/issues/747

we can take the names the art managers picked without the dumb prefixes

[2018-04-02 19:23] amotenko commented on #655
Is that one reproducible ?

[2018-04-02 20:23] yprez commented on #743
it's defined as a `varchar(9)`, 20 chars should do it, right?

[2018-04-03 04:09] amotenko commented on #743
yup, should do.
When, if, Spark becomes the user management platform, we can rethink everything about user data.

[2018-04-03 04:10] amotenko commented on #808
those are probably the 3752 users that are 'in' the event.

[2018-04-03 04:31] amotenko opened #809 "Some art installations from 2017 appear in the 2018 filtering"
Those are that on top (production, staging ids):

2104, 2101, 2103, 2102

1. Are those camps really from 2017
2. Why do they appear in 2018 event filtering

[2018-04-03 04:32] amotenko commented on #809
All those also appear as 'CAMP' in type in `user_groups`, that is not even a valid value?

[2018-04-03 04:38] amotenko commented on #809
Also related, all *camps* in the 2018 filtering, likewise, have 2017 event id association in user_groups, and have the type 'CAMP', which I believe is not a valid value (please correct me).

[2018-04-03 04:51] amotenko opened #810 "In user_group table, type should be an enum"
not a varchar, that is just ridiculous.

Depends on #809 !
Data is corrupted at the moment so don't migrate.

[2018-04-03 05:11] ArtyomKa commented on #808
Didn't Elad solve this? (I can't tag him via email).

On Tue, Apr 3, 2018, 07:11 Alex <notifications@github.com> wrote:

[2018-04-03 13:05] OriHoch commented on #809
you are correct, the data in `users_groups` and `users_groups_memberships` is invalid - just ignore it

the correct data is in `camps` and `camp_members`

[2018-04-03 13:06] OriHoch commented on #809
the data in users_groups table is inserted by a trigger which is hard-coded to 2017 CAMP

I don't know why we have this trigger, all data is in camps and camp_members

[2018-04-03 13:08] OriHoch commented on #810
I think we should remove the users_groups and users_groups_membership tables - I don't see why they are needed

replace all occurences to use camps and camp_members

[2018-04-04 05:47] amotenko commented on #808
I don't know if those are new tickets that were synced incorrectly (probably not new, as those are sandbox 2017 tickets), or was it lying around in our database before and we didn't notice.

[2018-04-04 05:51] amotenko commented on #810
Good! @OriHoch  can I count on you with this delicate procedure?

[2018-04-04 09:41] OriHoch commented on #808
If you want to query the profiles DB directly, here is a query which returns tickets -
https://production.midburn.org/metabase/question/23

[2018-04-04 09:50] OriHoch commented on #810
I'll have a look next week

[2018-04-05 10:06] amotenko commented on #743
fixed

[2018-04-05 10:06] #743 closed, assigned to yprez

[2018-04-05 10:17] #744 closed, assigned to nobody

[2018-04-05 11:34] NitayRabi commented on #801
@amotenko  - we need to re validate this after the merge with refactor - Changes to the area has been made when we added dgs_allocation

[2018-04-05 12:12] NitayRabi commented on #797
@amotenko - Created https://github.com/Midburn/spark/pull/816 to add tickets seed

[2018-04-06 18:29] #796 closed, assigned to Aroundafur

[2018-04-06 19:56] amotenko opened #818 "Camps: Still possible to add non existing profiles"
Easily reproducible from camp administration screen.
As an admin go to a camp and add foo@bar.com

[2018-04-06 20:01] amotenko opened #819 "Pre-sale ticket counter mixed with camp ticket counter"
Taken from Air Camp on staging database

![image](https://user-images.githubusercontent.com/7461928/38441714-5d759ecc-39ee-11e8-8f95-be110865b044.png)

[2018-04-06 20:05] amotenko opened #820 "Camps: Remove member doesn't work"
On staging, as admin, go to Campy McCampface, try to remove one of the fake users

[2018-04-06 20:29] Aroundafur commented on #820
SweetAlert: Unexpected 2nd argument (() => {
 var request_str = `/camps/${camp_id}/members/${user_id}/${action_type}`
 $http.get(request_str).then((res) => {
 sweetAlert(tpl.alert_success_1, tpl.alert_success_1, "success");
 $scope.getCamps(camp_id);
 }).catch((err) => {
 jsonError=err.data.data.message;
 sweetAlert("Error!", "Something went wrong, please try again later \n" + jsonError, "error");

[2018-04-08 07:36] NitayRabi commented on #820
Hey, - https://github.com/Midburn/spark/pull/821 fix it.

[2018-04-08 10:21] NitayRabi commented on #759
https://github.com/Midburn/spark/pull/814

[2018-04-08 17:07] amotenko opened #822 "Complete migration of presale and DGS data"
As described in this issue,
https://github.com/Midburn/spark/issues/679

after implementing the new sale functionality, we need to complete the process by doing a search-replace over the relevant add_info_json fields for users that had DGS tickets allocated as pre-sale tickets.

@NitayRabi can you please specify here the exact syntax you used in your solution for the json?

[2018-04-08 17:23] NitayRabi commented on #822
@amotenko  - Named it dgs_ticket under user's add_info_json

[2018-04-08 17:34] amotenko opened #823 "Camp edit is broken"
On staging env, as an admin, when editing a camp, when clicking save, request fails.

[2018-04-08 17:38] amotenko opened #824 "Early arrival admin and camp manager UI"
This is a part of https://github.com/Midburn/spark/issues/768

### Camps Admin
Resurrect the Early Arrival column (make it editable in both overview and camp view)

### Camp User Management
Add another column with indicators and another action (similar to how the rest is implemented) to allocate early arrivals. Make sure action works against quota and that counter is updated.

[2018-04-08 17:50] amotenko opened #825 "Add DGS edit field in camp management screen"
In continuation to https://github.com/Midburn/spark/issues/679

Similar to pre-sale tickets, and early arrival allocation, those number should be editable by an admin in the camp management screen.  See screenshots:

(and fix the very wrong hebrew label for presale tickets)

![image](https://user-images.githubusercontent.com/7461928/38470617-2a148fc6-3b6e-11e8-9096-64c9bd809ed2.png)

![image](http

[2018-04-09 19:31] Demikulu opened #828 "All ticket sales wording should be aligned all over the system"
1. Instead of dgs we use group sale / מכירה קבוצתית 
2. Instead of "appreciation" or pre_sale we use recognition / כרטיסי הוקרה

The change should include UI, code-behind and database.

[2018-04-09 20:12] OriHoch commented on #822
added documentation for how to do it - #829

[2018-04-09 21:30] amotenko commented on #828
UI includes:

* Events admin panel (feature activation periods)
* Camps admin panel (column titles of quota input fields)
* Camp management (column titles of indicators per member)
* Camp management (allocation button labels per member)
* Camp management (input / display field labels of quotas on the bottom of the view)

[2018-04-09 21:31] amotenko commented on #823
fixed

[2018-04-09 21:31] #823 closed

[2018-04-09 21:32] amotenko commented on #822
Waiting for https://github.com/Midburn/spark/issues/828 to preserve consistency

[2018-04-09 21:37] amotenko commented on #820
fixed

[2018-04-09 21:37] #820 closed, assigned to NitayRabi

[2018-04-09 21:38] amotenko commented on #797
done

[2018-04-09 21:38] #797 closed, assigned to Aroundafur, NitayRabi

[2018-04-09 21:47] amotenko opened #831 "[SUPPLIERS] - Entry management joins on missing table"
Error when going to suppliers entry management screen
Wrong name?
Missing migration?

[2018-04-09 21:57] #818 closed, assigned to yaarams, Demikulu

[2018-04-09 22:18] amotenko commented on #810
user_group used by gate module, won't be fixed this year.
but also no need to waste time on maintenance

[2018-04-09 22:18] #810 closed, assigned to nobody

[2018-04-09 22:20] amotenko commented on #828
Fixed by this:
https://github.com/Midburn/spark/issues/819

[2018-04-09 22:26] amotenko opened #832 "[SUPPLIERS] - minor issue dump"
To avoid clutter I"m batching some suppliers stuff here, feel free to address items partially.

- [x] Phone stored as integer (truncates leading zero)
- [x] Last updated - not sure if needed, if needed not sure if should be displayed, if displayed consider a more human readable format
- [x] When adding camp to supplier, camp is chosen from a drop-down. This is a not very good ux to say the least,

[2018-04-09 22:30] amotenko commented on #825
Waiting for #828 to preserve consistency

[2018-04-10 06:51] NitayRabi opened #833 "Data validation front to back - suppliers + gate"
### Overview of the problem
Suppliers adding, editing and managing entries has been implemented yet no data validation is done either on client nor in back-end (security and stability risk)

### Steps to Reproduce
Enter invalid (more than 10 chars) phone/vat number for supplier - server returns 500 and falls.

### Expected behavior
Inputs should be validated both in client side and in back end.
Us

[2018-04-10 06:56] NitayRabi opened #834 "Suppliers gate - entry time set in backend invalid."
### Overview of the problem
When adding new entry - it seems entry time is set with wrong timezone.
Causes visa evaluation (for overdue suppliers in the event) to malfunction
### Steps to Reproduce
1. Navigate to gate/suppliers
2. Add supplier entry
3. See entry time in table (will not match local time)

[2018-04-10 07:24] NitayRabi commented on #831
#836 - should fix the issue

[2018-04-10 08:11] NitayRabi commented on #834
#835

[2018-04-10 18:30] amotenko commented on #831
fixed

[2018-04-10 18:30] #831 closed, assigned to nobody

[2018-04-10 18:44] amotenko opened #837 "Suppliers in seeding data"
For ease of development we need a handful of suppliers in the seed data

[2018-04-10 18:54] amotenko commented on #809
when looking at camps table, data seem to be in order

[2018-04-10 18:54] #809 closed, assigned to nobody

[2018-04-10 18:59] amotenko commented on #808
Not sure how but at the moment those tickets have the right event id, closing.

[2018-04-10 18:59] #808 closed, assigned to nobody

[2018-04-10 19:08] amotenko commented on #808
Those tickets do have the wrong event id association on staging database

[2018-04-10 21:56] amotenko opened #838 "Inside event indicator should use the same icons as tickets allocation"
and not binary

![image](https://user-images.githubusercontent.com/7461928/38585629-33ff6d9c-3d23-11e8-8672-3387da02eee4.png)

[2018-04-11 13:41] #799 closed, assigned to shaniqwa

[2018-04-11 13:50] shaniqwa commented on #779
ok closed

[2018-04-11 13:50] #779 closed, assigned to nobody

[2018-04-11 18:43] NitayRabi commented on #832
#839 - Fixs last update, and camp dropdown

[2018-04-11 19:25] amotenko opened #840 "Suppliers Gate - clicking on entry should pop up a modal allowing editing"
prolonging or shortening visa length for example

[2018-04-13 10:53] amotenko opened #842 "Text wrapping on website field in Suppliers management"
![image](https://user-images.githubusercontent.com/7461928/38731167-fa96bcda-3f21-11e8-92be-13b197d233e6.png)

[2018-04-13 11:01] amotenko opened #843 "Comment field for Suppliers"
Gate manager should be able to leave comments about a particular supplier.

(text field available from supplier management + database)

### Bonus points

"Leave Comment" button on each supplier entry that would take the user straight to the comment section of the supplier.

[2018-04-13 12:14] ozsoffy opened #844 "suppliers-admin: long content can hide info from view [Bug] [Javascript]"
The Problem:
As am Admin user, When visiting suppliers-admin page, the chart can be Stretched to be too long and hide from view other content.

Steps:
1. Login as ad admin.
https://spark.staging.midburn.org
2. Go to suppliers-admin page
https://spark.staging.midburn.org/he/suppliers-admin
3. Edit one of the fields to be very very long
4. go back to the suppliers-admin page

Result:
the chart can b

[2018-04-13 12:32] ozsoffy opened #845 "suppliers-admin: Category is only in English [Bug] [Javascript]"
The Problem:
As am Admin user, When visiting suppliers-admin page, the Category needs to be by language, and 'Carriage' needs to be 'Moving'/'הובלה'

Steps:
1. Login as ad admin.
https://spark.staging.midburn.org
2. Go to suppliers-admin page
https://spark.staging.midburn.org/he/suppliers-admin

Result:
Category is only in En. (See screenshot)

Expected:
the Category needs to be by language, and '

[2018-04-13 12:33] noamr commented on #832
Adding supplier choice to camps

[2018-04-13 12:46] ozsoffy opened #846 "suppliers-admin: Remove 'export' button [Bug] [Javascript]"
The Problem:
As am Admin user, When visiting suppliers-admin page, no need in Export button

Steps:
1. Login as ad admin.
https://spark.staging.midburn.org
2. Go to suppliers-admin page
https://spark.staging.midburn.org/he/suppliers-admin

Result:
we have 'export' btn  (See screenshot)

Expected:
Remove 'export' button

![image](https://user-images.githubusercontent.com/13450170/38735567-cea8e25a-

[2018-04-13 13:05] ozsoffy opened #847 "suppliers-admin: Sort default by name and add sort-arrows to the chart headers [Bug] [Javascript]"
The Problem:
As am Admin user, When visiting suppliers-admin page, I would like the chart to be sorted default by name and to add sort-arrows to the chart headers

Steps:
1. Login as ad admin.
https://spark.staging.midburn.org
2 Go to suppliers-admin page
https://spark.staging.midburn.org/he/suppliers-admin

Result:
not sure how the chart is sorted, and the user dont know he can click on headers t

[2018-04-13 13:22] NitayRabi commented on #840
#849

[2018-04-13 13:38] NitayRabi opened #850 "Add button to add new supplier from gate entry interface"
### Overview of the problem
Add to suppliers entry management screen a button to add a new supplier

[2018-04-13 13:49] NitayRabi commented on #850
#851

[2018-04-13 14:39] NitayRabi commented on #847
#853

[2018-04-13 14:42] ozsoffy opened #854 "suppliers: Change copy on buttons [Bug] [Javascript]"
Change copy on buttons:
'הזנת ספק למערכת'
'הכנסת ספק לתוך העיר'

url:

https://spark.staging.midburn.org/he/gate/suppliers

![image](https://user-images.githubusercontent.com/13450170/38741130-e12c2896-3f41-11e8-9573-ccc791966bb9.png)

[2018-04-13 15:02] NitayRabi commented on #854
#855

[2018-04-13 15:06] ozsoffy opened #856 "suppliers: Add Supplier to the db - several changes [Bug] [Javascript]"
The Problem:
As a Gater user, When I finishing adding a supplier to the db, I would like to see a popup that remaind me that I still need to add the car-to-the -city. and add a button to do so.

Steps:
1. As a Gater user only, login to spark
https://spark.staging.midburn.org
2 Go to Gate > Suppliers Entries page; click on 'Create new supplier' btn
https://spark.staging.midburn.org/he/gate/supplier

[2018-04-13 16:35] amotenko opened #862 "Gate API Event ID adaptation"
better description tbd

- [x] New endpoint get_events

- [x] adapt gate api used by app to work with event_id (not event code)

[2018-04-13 16:36] #837 closed, assigned to yprez

[2018-04-13 16:40] amotenko opened #863 "After cluster downtime, staging adminer credentials change"

[2018-04-13 16:45] amotenko commented on #850
done

[2018-04-13 16:45] #850 closed, assigned to NitayRabi

[2018-04-13 16:47] amotenko commented on #840
done

[2018-04-13 16:47] #840 closed, assigned to NitayRabi

[2018-04-13 17:20] ozsoffy opened #865 "supplier: When creating/editing a supplier, please Add more options [Bug]"
When creating/editing a supplier, please Add more options:
 - הובלה
 - ספקים קבועים
 - ספקים זמניים
- אחר

Note:
also in En

![image](https://user-images.githubusercontent.com/13450170/38748708-ab8ba00c-3f57-11e8-88a4-d4dd0c913c8b.png)

[2018-04-13 18:32] ozsoffy opened #868 "Suppliers: after entering new supplier we stay on the same edit page - need to lead to supplier page"
After entering new supplier we stay on the same edit page
 - Need to lead to supplier page

https://spark.staging.midburn.org/he/suppliers-admin/new

[2018-04-13 18:39] ozsoffy opened #869 "Suppliers: Entering a new supplier with very long ID number, we cant save [Bug]"
Suppliers: Entering a new supplier with very long ID number, we cant save
Steps:
create a new supplier
https://spark.staging.midburn.org/he/suppliers/new?c=1234567890123456789

Expected:
1. make sure users will not get this error in console
2. Please make sure the supplier ID will be limited to 9 numbers only.

Note:
Getting error in console:
jquery.min.js:4 POST https://spark.staging.midburn.org/

[2018-04-13 18:47] ozsoffy opened #870 "Suppliers: As a Camp manager I would like the option to add Suppliers to my camp"
As a Camp manager I would like the option to add Suppliers to my camp
This option is not availble
url:
https://spark.staging.midburn.org/he/camps/2045/edit

![image](https://user-images.githubusercontent.com/13450170/38752544-3f7c659c-3f64-11e8-86b7-2cd737208c2a.png)

[2018-04-13 18:58] ozsoffy opened #871 "Suppliers: Clicking 'add' leave the user on the same page Need to lead him back to suppliers [Bug]"
Clicking 'add' leave the user on the same page
Need to lead him back to suppliers

URL:
https://spark.staging.midburn.org/he/gate/suppliers

![image](https://user-images.githubusercontent.com/13450170/38753019-bff83e8e-3f65-11e8-9ea6-e788545b516b.png)

[2018-04-13 19:07] OriHoch commented on #863
they haven't changed, I'll send them

[2018-04-13 19:07] #863 closed, assigned to nobody

[2018-04-14 10:09] amotenko opened #873 "Counters are broken on main statistics page"
![image](https://user-images.githubusercontent.com/7461928/38767112-0fd6b992-3fe5-11e8-81d5-539ca29b263e.png)

[2018-04-15 06:32] hila211 commented on #869
ID and company number are up to 9 digits.

[2018-04-15 06:49] hila211 commented on #844
Text wrapping on website field is mentioned on issue #842

[2018-04-15 07:13] ozsoffy commented on #856
After talking to Shir, the gate manager, this flow is not right for them.
I will open a new issue after talking with her...

[2018-04-15 07:13] #856 closed, assigned to nobody

[2018-04-16 17:30] ozsoffy opened #874 "Suppliers: Remove 'add new supplier' button from gater page [Bug]"
Remove 'add new supplier' button from gater page
https://spark.staging.midburn.org/he/gate/suppliers

(The gater needs another page, and the location is wrong, there will be another solution in another ticket )

![image](https://user-images.githubusercontent.com/13450170/38825324-de926aa8-41b4-11e8-8215-88fc0c6bc770.png)

[2018-04-16 17:52] ozsoffy opened #875 "Suppliers: Add a new page 'Create new supplier + belongs to camp + enter to the city' [Feature]"
As a Gatter, When I'm in the event and I have a supplier that I have to let in, I would like to have a One page that will create-match-enter the supplier to the city.

Please create a new page that will have have 3 functions in one,
1. Add a supplier to the db
2. match the new supplier to a camp
3. enter the supplier to the city

In the end of the page, after clicking 'save' will popup a window wi

[2018-04-16 18:52] NitayRabi commented on #874
#878

[2018-04-16 19:05] meravtal commented on #844
assigned to Merav Tal

[2018-04-16 19:06] NitayRabi commented on #871
#879

[2018-04-16 20:17] amotenko opened #883 "After a period of inactivity, the system throws a something went wrong error message"
![image](https://user-images.githubusercontent.com/7461928/39059455-3968da4c-44c7-11e8-8ec9-610482acce2a.png)

[2018-04-16 20:34] ozsoffy opened #885 "User with role 'gate_manager' should have access to gate entrance and supplier entrance [Bug]"
## reproduction steps
* log-in with user which have `gate_manager` role

#### expected
* should have access to gate entrance management
* URL1:
  * https://spark.staging.midburn.org/he/gate
* URL2:
  * https://spark.staging.midburn.org/he/gate/suppliers

#### actual
* no access to gate entrance management

![image](https://user-images.githubusercontent.com/13450170/38833495-5eb6c5ee-41ce-11e8-842e

[2018-04-17 09:41] yprez commented on #873
Fixed by #876

[2018-04-17 09:42] #873 closed, assigned to nobody

[2018-04-17 13:47] #862 closed, assigned to ArtyomKa

[2018-04-17 19:04] zenihila opened #886 "camps bug - camp member cant approve camp membership"
Camp manager add a member
member login to spark press the approve button but nothing really happens

[2018-04-17 19:06] amotenko commented on #886
Thanks @zenihila !

[2018-04-18 06:53] benmarder commented on #869
#890

[2018-04-18 06:53] benmarder commented on #868
#890

[2018-04-18 06:54] benmarder commented on #865
#890

[2018-04-18 06:55] benmarder commented on #843
#890

[2018-04-18 12:52] amotenko opened #891 "Suppliers Management should be accessible to camp and art managers, gate admin and camps admin"
Previous work has been done on suppliers endpoints to make them accessible,
consider `isAllowedToViewSuppliers` in user_role.js as a guideline.

[2018-04-18 14:22] NitayRabi commented on #891
#892

[2018-04-20 06:26] #793 closed, assigned to shaniqwa

[2018-04-20 13:20] amotenko commented on #838
fixed

[2018-04-20 13:20] #838 closed, assigned to shaniqwa

[2018-04-20 13:20] amotenko commented on #891
fixed

[2018-04-20 13:20] #891 closed, assigned to NitayRabi

[2018-04-20 13:24] amotenko commented on #885
correction, actual role is gate_admin

[2018-04-20 13:25] amotenko commented on #870
done! new functionality available from this screen

[2018-04-20 13:25] #870 closed, assigned to nobody

[2018-04-20 14:34] amotenko opened #896 "Art management and admin should have the same features as camps"
There were a few fixes and changes to camp admin and camp management,
those didn't make their way to Art, but need to be aligned.

[2018-04-20 15:22] amotenko commented on #883
![image](https://user-images.githubusercontent.com/7461928/39059629-cbb4b876-44c7-11e8-9d51-f0074b48f13a.png)

[2018-04-20 15:24] amotenko commented on #896
The most important is association with suppliers and early arrival

[2018-04-20 19:14] amotenko opened #897 "Build a homepage for Spark repository using github pages"
https://pages.github.com/

[2018-04-21 15:57] amotenko opened #898 "Supplier is assignable iff it has a contract"
- If a supplier doesn't have a contract it cannot be assigned.
- Check if the bucket link for this supplier is non empty.
- Best to wrap this logic in a getter on the supplier model (such as hasContract)
- In the new supplier wizard it is OK to upload the file later, but make it clear that until that step is completed supplier cannot be assigned
- Also to make it clear why it cannot be assigned, c

[2018-04-21 15:58] amotenko commented on #832
Continuation to file upload
https://github.com/Midburn/spark/issues/898

[2018-04-21 16:03] amotenko opened #899 "Suppliers - category fixes in wizard"
* Provide only the following categories, Moving and Other
* Field should be mandatory, and in drop down menu, make the default choice empty so that users are forced to pick one.

[2018-04-21 16:07] amotenko opened #900 "Supplier assignment button label is misleading"
We received feedback from users that the button title is misleading.

Change to

* שיוך ספק
* Assign Supplier

![image](https://user-images.githubusercontent.com/7461928/39086215-192d5f8e-4597-11e8-9421-d63408cd4ad0.png)

[2018-04-21 16:28] amotenko opened #901 "Gate manager doesn't see list of suppliers"
Steps:

0. As an admin, go to supplier management, see list of suppliers
1. As a user with a `gate_manager` role, go to supplier management
2. See that list is not populated

Technical details:

I assume it's a permission on the server side, so might be an easy fix (use the multi-role for suppliers)

[2018-04-21 16:28] amotenko commented on #885
Sorry! My bad, role is indeed `gate_manager`

From what I see gate_manager has access to the relevant views, can see tickets, but can't see suppliers (probably because of endpoint)

I'm closing this issues and opening the following:
https://github.com/Midburn/spark/issues/901

[2018-04-21 16:28] #885 closed, assigned to nobody

[2018-04-21 16:36] amotenko opened #902 "Suppliers Entries: Provide a way to see all entries"
At the moment view is querying only for open entries. Once an entry is closed it disappears.
It will be very useful to also see all existing entries.
Consider adding a toggle to switch between the two. (e.g. All Entries, Active Only)

[2018-04-21 16:39] amotenko commented on #875
This should be (in theory) a rare flow.
Most (all) suppliers should be created and assigned before the event, since they have the whole thing with the contract they need to sign and all.

Though if needed, this functionality is available.

[2018-04-21 16:39] #875 closed, assigned to nobody

[2018-04-21 16:44] amotenko opened #903 "Gate manager should have the 'add new supplier entry' button"
Users with the role gate_manager should be able to click on this button:

![image](https://user-images.githubusercontent.com/7461928/39086569-26b6ac3c-459c-11e8-8c82-ccb46a9ac83c.png)

It's cool, it's their job.

[2018-04-21 16:44] amotenko commented on #874
done

[2018-04-21 16:44] #874 closed, assigned to NitayRabi

[2018-04-21 16:45] amotenko commented on #885
Also
https://github.com/Midburn/spark/issues/903

[2018-04-21 16:45] amotenko commented on #871
done

[2018-04-21 16:45] #871 closed, assigned to NitayRabi

[2018-04-21 16:49] amotenko commented on #865
Sorry bros, this is actually not the desired behavior.
Please see here:
https://github.com/Midburn/spark/issues/899

[2018-04-21 16:49] #865 closed, assigned to benmarder

[2018-04-21 16:50] amotenko commented on #847
done

[2018-04-21 16:50] #847 closed, assigned to NitayRabi

[2018-04-21 16:52] amotenko commented on #854
done I guess, although I don't see any problem with the original labels.

[2018-04-21 16:52] #854 closed, assigned to NitayRabi

[2018-04-21 16:54] amotenko commented on #869
done

[2018-04-21 16:54] #869 closed, assigned to benmarder

[2018-04-21 16:55] amotenko commented on #868
done

[2018-04-21 16:55] #868 closed, assigned to benmarder

[2018-04-22 18:14] amotenko opened #906 "Event admin should be able to switch event from early arrival to regular arrival"
Event admin panel should contain a switch that turns early arrival mode on and off.
This should affect the logic in the ticketing endpoint.

I assume there is some support for this from last year but it's probably not compatible with our new data model.

[2018-04-22 18:53] ArtyomKa commented on #906
What is the use case exactly? Like when early arrival phase ends, and the
event is open?

On Sun, Apr 22, 2018, 21:14 Alex <notifications@github.com> wrote:

[2018-04-22 19:54] amotenko commented on #906
Yes, exactly.
We cannot know in advance when this magic time _t_ happens because it depends on the authorities.

[2018-04-23 16:51] NitayRabi commented on #903
#908

[2018-04-23 17:07] NitayRabi commented on #901
#909

[2018-04-23 17:18] NitayRabi commented on #900
#910

[2018-04-23 19:12] ArtyomKa commented on #906
Fixed by #912

[2018-04-23 19:16] NitayRabi commented on #896
#919

[2018-04-23 19:16] meravtal commented on #899
assigned to Merav Tal

[2018-04-23 19:17] #834 closed, assigned to NitayRabi

[2018-04-23 19:54] ozsoffy opened #913 "Approved user trying to get out of the camp getting 404 [Bug]"
Approved user trying to get out of the camp getting 404

![image](https://user-images.githubusercontent.com/13450170/39149898-45dc59d2-4749-11e8-8505-ac907824e930.png)

[2018-04-23 20:03] ozsoffy opened #914 "Changing midburn event and hovering the mouse make the all page to jump fast"
Changing Midburn event and hovering the mouse make the all page to jump fast

note:
This effect all types of users
tested on chrome.

url of video:
https://drive.google.com/file/d/1XArwdy1h5YtaAmCZDytck09ux4UUzVbf/view

[2018-04-23 20:19] ozsoffy commented on #886
Reproduced

![image](https://user-images.githubusercontent.com/13450170/39150992-b1615e66-474c-11e8-8972-76ca8f705df8.png)

[2018-04-23 20:38] meravtal commented on #883
assigned to Merav Tal

[2018-04-23 22:15] yprez commented on #913
Not very critical by itself, but annoyingly blocks checking other camp membership bugs

[2018-04-24 09:05] yprez commented on #913
Nope!
actually looks like the same bug as #886

[2018-04-24 19:36] #886 closed, assigned to yprez

[2018-04-24 19:44] #913 closed, assigned to yprez

[2018-04-24 19:44] yprez commented on #913
Works on staging.

[2018-04-24 22:54] benmarder commented on #899
#921

[2018-04-25 03:57] amotenko commented on #906
done

[2018-04-25 03:57] #906 closed, assigned to ArtyomKa

[2018-04-25 03:57] amotenko commented on #903
done

[2018-04-25 03:57] #903 closed, assigned to NitayRabi

[2018-04-25 03:58] amotenko commented on #901
done

[2018-04-25 03:58] #901 closed, assigned to NitayRabi

[2018-04-25 03:58] amotenko commented on #900
done

[2018-04-25 03:58] #900 closed, assigned to NitayRabi

[2018-04-25 04:00] amotenko commented on #899
almost done, `Other` is set by default, but we can live with that

[2018-04-25 04:00] #899 closed, assigned to benmarder

[2018-04-25 04:02] amotenko commented on #896
done

[2018-04-25 04:02] #896 closed, assigned to NitayRabi

[2018-04-25 04:02] amotenko commented on #832
done

[2018-04-25 04:02] #832 closed, assigned to nobody

[2018-04-25 04:04] amotenko commented on #843
done

[2018-04-25 04:04] #843 closed, assigned to benmarder

[2018-04-25 04:05] amotenko opened #922 "Camp view is broken"
![image](https://user-images.githubusercontent.com/7461928/39225778-f568fcda-4856-11e8-8b18-8f2e41b0a3f1.png)

[2018-04-25 06:36] #922 closed, assigned to yprez

[2018-04-25 07:57] amotenko opened #924 "Ingest early arrival quotas for Camps and Art"
I have the numbers somewhere in my inbox, I need to find the data and organize it.

[2018-04-25 07:58] amotenko commented on #898
works

[2018-04-25 07:58] #898 closed, assigned to flypunk

[2018-04-25 08:00] amotenko opened #925 "Give additional camps and art managers camp_manager role"
There are several special requests from Camps and Art departments, I need to collect all of those and give them access.

[2018-04-25 11:26] benmarder opened #926 "AWS key reveals in the browser"
### Overview of the problem
AWS key is shown on S3 link path to download contract file.

![screenshot 8](https://user-images.githubusercontent.com/9483212/39242962-9525d9fe-4894-11e8-8c7e-cf761c1b6cb7.png)

### Steps to Reproduce

1. Go to edit supplier.
2. Go to upload files
3. If the supplier dont have a contract, add one yourself.
4. Hover the download button and see the query string below

###

[2018-04-25 12:50] OriHoch commented on #926
@benmarder I don't see a security issue here, this is the access key, not the secret key

[2018-04-25 13:02] OriHoch commented on #926
we also expose it here - https://github.com/Midburn/midburn-k8s/blob/master/environments/production/values.yaml#L30

[2018-04-25 13:34] benmarder commented on #926
Great :) so to leave it as is? @OriHoch

[2018-04-25 13:52] OriHoch commented on #926
I haven't review the actual requests, only based on your screenshot and assuming that only the aws access key is exposed - yes, I don't think it's a problem

[2018-04-25 17:40] pandamichal opened #927 "Camp leader don't have the 'suppliers' button"
Some camp managers don't see the supplier tab and don't have the option to add a supplier.
For example: Barouhla@gmail.com from camp פיזדיץ.

[2018-04-25 19:10] amotenko commented on #927
Duplicates https://github.com/Midburn/spark/issues/925,
also done.

[2018-04-25 19:10] #927 closed, assigned to nobody

[2018-04-25 19:11] amotenko commented on #925
done for camps

[2018-04-27 12:06] amotenko opened #931 "Suppliers Edit Button should be available to camp managers"
The thought was that since many camps use a supplier, there is no  single camp that can edit the data.
In practice people do typos so they need an edit function.

The convenience gained from users able to edit suppliers outweighs any concerns we have on integrity of data.

[2018-04-27 12:08] amotenko commented on #931
![image](https://user-images.githubusercontent.com/7461928/39361838-d240857a-4a2c-11e8-8207-24e69b74f161.png)

[2018-04-27 14:00] NitayRabi commented on #931
#932 - I added the button in supplier view and in the table view.

[2018-04-29 22:08] amotenko opened #934 "Gating and Early Arrival outline addendum"
This is a continuation to #768

## Background

On Sunday morning, during the time in which the authorities do the rounds and the event receives its permit, a ticketing party takes place in Central Camp. At the ticketing party, all burners currently inside the city are being ticketed again, and receive a permanent bracelet instead of the early arrival paper bracelet.  The ticketing party is not the

[2018-04-29 22:16] amotenko commented on #934
@pandamichal , please approve this is in fact what you want.

[2018-04-29 23:07] amotenko opened #936 "Admin Panel: Camp Edit deadline date removed"
There used to be a field for locking the option to edit camps.
The key in the addinfo json is `edit_camps_lastDate`.
This field is still active but can't be edited from the UI.

1. Resurrect field from the dead

[2018-04-29 23:51] amotenko opened #937 "Suppliers: Can't edit category"
Steps:

1. Go to supplier with category Other
2. Change to Moving
3. Save. see happy message
4. Refresh
5. See old value

Example, supplier_id `039075817` in production.

[2018-04-29 23:55] amotenko opened #938 "Suppliers: Bad categories in backend"
In database, supplier category enum supports types that are not supported by Spark, such as food and water. This is inconsistent with our data and probably bad.
For this year we only have Moving, and Other.

![image](https://user-images.githubusercontent.com/7461928/39412221-b00190a2-4c21-11e8-9d1d-9800f71b9e1d.png)

1. Create migration to remove unused types.
2. Make sure front doesn't use those

[2018-04-30 10:30] pandamichal commented on #934
I Approve :-)

[2018-04-30 16:51] yprez commented on #937
Reproduced locally

[2018-04-30 17:46] yprez commented on #937
Looks like it's caused by #938. There is no "moving" category on the prod (/staging) db.

[2018-04-30 17:50] yprez commented on #938
Prod db state doesn't match the model. Trying to add migration. Old categories aren't used anywhere.

[2018-04-30 19:37] ozsoffy opened #944 "Space in gate search show no results"
Space in gate search show no results
and
entering a name and space in the search field delete the space

URL:
https://spark.staging.midburn.org/he/gate

Expected:
find users even with using space.
entering a name and space in the search field will not delete the space

![image](https://user-images.githubusercontent.com/13450170/39446257-8f6b51c0-4cc6-11e8-80a5-2e8061906660.png)

[2018-05-03 19:04] amotenko opened #946 "Suppliers: Camp managers don't get auto complete suggestions when assigning suppliers"
Users with `camp_admin` role don't get auto complete suggestions. Only admins get those.

![image](https://user-images.githubusercontent.com/7461928/39597394-e2afe716-4f1d-11e8-84c6-d5526f837567.png)

[2018-05-04 14:15] amotenko opened #948 "Spark needs a log shipping and analysis system"
Such as ELK

[2018-05-10 16:41] amotenko opened #960 "Can't add members to art (maybe also camps) with + plus in email"
Steps
* As camp manager
* Try to add a member with a plus in the title
* See error message

![image](https://user-images.githubusercontent.com/7461928/39881543-e6ea83c4-5489-11e8-8126-0ac47847c28e.png)

This example taken from production, user `oshryr+midburn@gmail.com` is a valid user, should be able to join Art #2085

See related issue https://github.com/Midburn/spark/issues/575

[2018-05-11 04:27] amotenko opened #961 "reset event action should also reset entrances time stamps and entrance groups"
TBD

[2018-05-18 13:54] shayelbaz1 opened #963 "Enable the midburn app search by ID."
### Overview of the problem

When people get out from the Milburn
the app doesn't always work.
so the gaters write the ID on a piece of paper.
when it comes to the WILL CALL we couldn't not finding the people in the system.
so it could be amazing if the app itself could search people by ID.
so there will never be issues like this.

### Description

### Steps to Reproduce

### Expected behavior

##

[2018-09-10 14:49] amotenko opened #973 "Event start / end dates in Event Admin Panel are not displayed"
Not for existing events, and not for newly created events.
Hopefully they are there somewhere but just not displayed.

[2018-09-10 14:50] amotenko commented on #973
![image](https://user-images.githubusercontent.com/7461928/45304959-fe4ff000-b521-11e8-94c5-e04bd9f06c12.png)

[2018-09-21 14:02] pandamichal opened #976 "Ticket state "cancelled" is not been updated on Spark"
After a ticket been canceled on Drupal, the Spark doesn't update it on gate management.

[2018-09-21 14:07] #976 closed, assigned to nobody

[2018-09-21 14:46] pandamichal opened #978 "Sync ticket_status field in tickets table"
Due to new `ticket_status` field added - GUI won't display former tickets (not synced with Drupal).
We need to perform sync in order to view tickets before SANDBOX2018.
! Tickets are not erased from DB - simply filtered!

related to - #976

[2018-11-29 12:59] NitayRabi opened #980 "Clean global scope in all controllers."
### Overview of the problem
We have several functions declared globally in controller files.
This can create issues hard to anticipate and solve.

### Description
1. We need to move all functions into scope.
![image](https://user-images.githubusercontent.com/24541325/49223311-17f92900-f3e7-11e8-91b5-cbe7f590b075.png)
![image](https://user-images.githubusercontent.com/24541325/49223335-2b0bf900-f3e

[2018-11-29 13:05] NitayRabi commented on #978
Solved with @OriHoch 's help before sandbox. (all tickets synced through DB script)

[2018-11-29 13:05] #978 closed, assigned to nobody

[2018-12-03 18:06] NitayRabi opened #981 "Prevent editing of camps related to past events"
### Overview of the problem
Currently past events (such as Midburn2018) are editable - this shouldn't be functional after the event.

### Steps to Reproduce
1. Navigate to camp management (in past event)
3. Editing is available.

### Expected behavior
Editing old camps related to old event shouldn't be possible.

### Actual behavior
Editing camps related to old event is possible.

[2018-12-04 09:16] NitayRabi opened #982 "Joining camp requests override each other"
### Overview of the problem
A new camp member can join a camp in one of two ways -
1. Sends a request to join and a camp admin approves.
2. Admin sends a request to the member and the member approves.

### Steps to Reproduce
1. Send a request as a camp member to camp X.
2. Send a request as camp X's admin to the the member.
3. One or both of the requests will be deleted.

### Expected behavior

**

[2018-12-04 09:21] NitayRabi opened #983 "Home page text changes"
### Overview of the problem
Several renaming for the Hebrew version of the homepage (table headers)
(https://spark.midburn.org/he/home)
### Expected behavior
`סוג הקבוצה` לשנות ל`מחנה/מיצג`
`שם הקבוצה` לשנות ל`שם`

When views in English - table headers are still in Hebrew - please add translations.

![image](https://user-images.githubusercontent.com/24541325/49431909-282e5100-f7b7-11e8-8b0a-f61f38

[2018-12-04 09:30] NitayRabi opened #984 "Change status and add role columns in Home Page Table"
### Overview of the problem
Currently in homepage (https://spark.midburn.org/en/home) there's one table column for role in camp which is titled `status` and contains the role of the camp member.
### Expected behavior
There should be two separate columns for role and status
1. role column shall contain user's role in camp (manager, member etc...)
2. status column shall contain approval status for t

[2018-12-04 10:03] NitayRabi opened #985 "Since/מאז displays - "Invalid Date""
### Overview of the problem
Under camp editing - since/מאז displays `Invalid date` instead of date string.
### Steps to Reproduce
1. Navigate to camp editing.
### Expected behavior
Should display date string
### Actual behavior
Displays `Invalid date`

![image](https://user-images.githubusercontent.com/24541325/49434311-93c6ed00-f7bc-11e8-8a47-8c34aa7dbebe.png)

[2018-12-04 10:06] NitayRabi opened #986 "Camp view should have edit button"
### Overview of the problem
Camp editing is only accessible through home page
### Steps to Reproduce
1. Navigate to camp view (המחנה שלי)
2. No edit button available (even for admins)
### Expected behavior
Camp admins should be able to edit camps directly from camp view

### Actual behavior
Button is missing
![image](https://user-images.githubusercontent.com/24541325/49434533-0b951780-f7bd-11e8-83

[2018-12-04 10:12] NitayRabi opened #987 "[Camp Editing] Camp description box should fit text."
### Overview of the problem
Camp description (in camp editing section) doesn't fit text and is un-scroll-able.

### Steps to Reproduce
1. Navigate to camp editing
2. View description area
### Expected behavior
Text box should be larger and scroll-able
### Actual behavior
Text is unreadable and not scroll-able.

![image](https://user-images.githubusercontent.com/24541325/49434845-db9a4400-f7bd-11e8

[2018-12-04 10:18] NitayRabi opened #988 "[Camp Editing] text changes"
### Overview of the problem
Several text changes needed in camp editing (Hebrew)
### Expected behavior
1. Camp name should be the Hebrew name (displays the English one) -
![image](https://user-images.githubusercontent.com/24541325/49435032-53686e80-f7be-11e8-92ef-c37abf990f90.png)
![image](https://user-images.githubusercontent.com/24541325/49435076-65e2a800-f7be-11e8-9bfb-2ad165ececa9.png)

2. "בט

[2018-12-04 10:31] NitayRabi opened #989 "[Camp Editing] inconsistent check-box positions under basic details tab"
### Overview of the problem
Checkboxs should stay in same position (right to text in Hebrew, left in English) relative to text.

### Steps to Reproduce
1. Navigate to camp editing.
2. Navigate to BASIC DETAILS tab.
3. Checkbox is right hand to `Child friendly` text (In English view)

### Expected behavior
Checkboxs should stay in same position (right to text in Hebrew, left in English) relative to

[2018-12-04 10:33] NitayRabi opened #990 "[Camp Editing] Remove # (id) column from members editing"
### Overview of the problem
Remove `#` Column from Edit members view under camp editing
![image](https://user-images.githubusercontent.com/24541325/49442211-75b7b780-f7d1-11e8-81b8-769069275716.png)

[2018-12-05 09:13] galnitsan commented on #980
function moved inside controllers.
suitable names were named for these functions.
the "old" names of functions were changed to the "new" names in all functions calls.
2 new services were create (factory) - (camps/suppliers).
camps/suppliers services were injected to relevant controllers.
camps/suppliers services were declared in layout.jade (under "spark scripts").

still 1 issue in suppliers edit

[2018-12-05 12:32] NitayRabi commented on #986
Will be fixed via #991

[2018-12-05 12:32] NitayRabi commented on #973
Will be fixed via #991

[2018-12-05 12:32] NitayRabi commented on #981
Will be fixed via #991

[2018-12-06 09:50] dani0197 commented on #990
@NitayRabi  I think i did it!
ill make a PR so you could check it.

[2018-12-06 13:35] NitayRabi commented on #990
Fixed by #993

[2018-12-06 13:35] #990 closed, assigned to dani0197

[2018-12-11 10:32] Michal-Leizerowitz commented on #988
EN text for the requested above:
#2 - change      new.midburn_website_publication
to
Publishing in Midburn Website

#4 change    Art Admin Additional Information
to
Additional Information

#5 change button text from MEMBERS UPDATE
to
MEMBERS

[2018-12-11 10:39] Michal-Leizerowitz commented on #987
Same exact issue when editing a supplier page (comment box):
![image](https://user-images.githubusercontent.com/38831553/49795090-cbe0a980-fd41-11e8-87a5-9ca4b9a5ab40.png)

[2018-12-11 10:43] Michal-Leizerowitz commented on #984
Same column appears in Edit camp -> Members, so should be split there too
![image](https://user-images.githubusercontent.com/38831553/49795325-6345fc80-fd42-11e8-87e0-887ad1b81ea2.png)

[2018-12-11 10:47] Michal-Leizerowitz commented on #983
EN headers:
Type
Name
Status (or Role + Status after   https://github.com/Midburn/spark/issues/984)

מנהל = Leader

[2018-12-12 10:56] tamchesadi commented on #989
can you add a screen shot?

[2018-12-12 12:03] NitayRabi commented on #989
![image](https://user-images.githubusercontent.com/24541325/49868662-bd17f680-fe16-11e8-970e-f80b49fb17b1.png)

[2018-12-12 12:27] Michal-Leizerowitz commented on #989
Also here:
![image](https://user-images.githubusercontent.com/38831553/49869756-00279900-fe1a-11e8-9b15-270133e7e16f.png)

[2018-12-13 10:28] NitayRabi commented on #987
Fixed via #996

[2018-12-13 10:48] NitayRabi commented on #985
Fixed via #997

[2018-12-18 06:50] #985 closed, assigned to nobody

[2018-12-18 12:04] #987 closed, assigned to nobody

[2018-12-18 12:06] NitayRabi commented on #982
Fixed via #999

[2018-12-29 17:52] galnitsan opened #1002 "Existed supplier notification is missing + button clicked event to be modified"
### Overview of the problem

 This is about the Spark **Suppliers module**

### Description
Enhancement:
While enter a supplier id (company id or personal id)  in the input form,
if the supplier id is already existed in db,
 it should have a notification of:
"The supplier id is already in the system, click "continue" to edit or type a new supplier id"

### Expected behavior

To have a notification

[2018-12-30 06:10] galnitsan commented on #1002
requested by @guyzohar1
and will be instructed by @NitayRabi

[2019-01-14 20:42] #762 closed, assigned to guyzohar1

[2019-01-27 08:42] NitayRabi opened #1012 "Implement MDBootstrap."
### Overview of the problem

### Description

Implement MDBootstrap, upgrade correct dependancies.

### Steps to Implement

1. Use [MDBoostrap installation guide](https://mdbootstrap.com/education/bootstrap/quick-start/)
2. Make sure to upgrade correct dependancies (JQuery)
3. Add correct classes and container divs in order to make it work.
4. Validate RTL-LTR works, if needed install library for

[2019-02-02 15:13] NitayRabi opened #1014 "Remove redundant features for event edit"
### Overview of the problem
Editing event page contains redundant data (duplicate terms for presale/group sale, editing camps/arts checkbox etc)
We should rethink the data relevant for event rules (which determines different features inside spark application)

### Expected behavior
All "event features" should be easy to understand and manipulate.
 - Are camps and arts available (for searching/view