[2016-12-12 07:42] ripper234 opened #1 "Automatically verify passport"
Roughly 10% of Midburn tickets are allocated to foreign residents.
We want to verify people don't open fake account and pretend to live outside of Israel.

There are 3rd party API we can use for this purpose, such as

- https://www.trulioo.com/
- https://www.idcheck.io/
- https://blockscore.com/features/identity-verification

[2017-01-10 09:16] OriHoch opened #4 "standardize the migration and DB setup process"
Currently there are duplicated migrations:
* Knex - https://github.com/Midburn/Spark/tree/master/migrations
* .sql files - https://github.com/Midburn/Spark/tree/master/sql

Also, there is no standard simple way to run migration (at least from what I could see)

### TODO
* decide on which migration tool we are using and remove the other one
* create a standardized way to run the migrations - e.g. a

[2017-01-10 09:22] OriHoch opened #5 "update the documentation - make it more friendly to noobs"
currently it's a bit hard to understand what's going on and who is against who..

started work on a noob guide in #3 - need to continue

### Main objectives
* project should have clear documentation to allow contributors to start contributing as soon as possible
* target audience for this documentation: Developers / QA / Content / UX / project managers

[2017-01-10 09:44] OriHoch opened #6 "should have documentation for QA / UX / product management"
personas, user stories, use-cases, goals etc..

This can be used by non-technical people for QA / product management  - and of course very beneficial to the developers as well

maybe you have it somewhere, in which case should a link to the relevant place..

[2017-01-10 09:49] OriHoch opened #7 "project should have release tracking"
should have release tracking, each release should have release notes - so that people can track the project progress and know what was deployed and what changes are introduced..

natural choice is to use GitHub releases..

[2017-01-10 09:50] OriHoch commented on #7
see for example release tracking of Open Knesset - https://github.com/hasadna/Open-Knesset/releases

[2017-01-10 10:14] OriHoch opened #9 "should have a script to run tests without dependencies / minimal prerequisites"
should have a script e.g. bin/run_tests.sh - which will run all the tests with minimal dependencies or prerequisites

this is useful for:
* CI systems (e.g. Travis CI)
* developers can use it before pushing - to ensure tests ran with correct and predictable environment and configuration.

[2017-01-10 10:45] OriHoch commented on #9
mostly done in #8

[2017-01-10 10:45] #9 closed, assigned to nobody

[2017-01-10 11:55] netanelben opened #12 "Extract secrets out to environment vars"
#13
Out from ``config/default.js`` and into environment variables.

[2017-01-10 12:50] OriHoch commented on #12
suggested implementation in #13

[2017-01-11 17:28] ripper234 commented on #7
+1 for Github releases.

(right now we haven't released any versions yet, I'm wondering whether this issue is premature / can we make progress on it right now)

[2017-01-11 17:33] ripper234 commented on #4
Odd. I translated the major schema to knex (because it's compatible with other databases including SQLite I introduced for testing). I thought I deleted the main schema.sql file, but apparently not.

Need to:

1. Synchronize any changes from schema.sql into migrations/20161208025453_init.js (knex)
2. Delete schema.sql
3. Check with the team if anyone needs the other SQL files in the sql/ folder (b

[2017-01-11 17:36] ripper234 commented on #4
BTW regarding your second TODO above: knex is the standard, pretty well documented.
If there's a need for a mini-script (not sure that there is), we can add it to the `scripts` section of package.json ... but I don't think we need an external bash script.

[2017-01-11 18:16] OriHoch commented on #4
Cool, I'll do it

[2017-01-11 18:24] OriHoch commented on #7
The idea is to update the release notes on every merge. Can also include deployment / testing notes.

I'll write some documentation for how to do release management and we could discuss further there..

Amyway, I see someone created the first release so I'll close this issue

[2017-01-11 18:24] #7 closed, assigned to nobody

[2017-01-12 17:44] OriHoch commented on #4
@ripper234  - opened a PR which switches to Knex, please review - #15

[2017-01-12 17:45] OriHoch commented on #4
## Follow-up tasks:
* update documentation about how to use Knex and inform the team - #16
* use Sqlite by default for local development - #17

[2017-01-12 17:47] OriHoch opened #16 "update documentation about how to use Knex and inform the team"
after PR #15 - we will switch to use Knex for migrations

should update and write some documentation about how to use it and also inform the team about it

[2017-01-12 17:47] OriHoch opened #17 "should use sqlite for local development"
after PR #15 - we will switch to Knex

we should also support using Sqlite for local development

this greatly simplifies the new developer setup process

[2017-01-12 18:01] rootux commented on #17
Totally agree - this was a big issue dealing with mysql as a new developer setup process

[2017-01-15 06:10] OriHoch opened #23 "update documentation regarding merging policies / suggested procedures"

[2017-01-15 19:11] #5 closed, assigned to nobody

[2017-01-15 19:18] ArtyomKa opened #24 "Dockerize the spark web app."
Dockerizing the web application can greatly reduce the installation of development environment and facilitate later deployment to staging and production environments.

There is a PR by Rudy Atias in the old bitbucket repository. Most of the feature can be taken from there.

Please comment if further discussion needed.

[2017-01-16 19:37] OriHoch opened #25 "spark should allow login with auth based on drupal users"
* spark will have DB table drupal_users
  * columns: username, password
  * username is the email
* password hash - function will be supplied

### drupal_users table

[code]

[2017-01-16 23:01] ripper234 commented on #25
Definitely!

I know a few people did some research on this a few weeks ago.
Do you know who? If not, ask on Slack.

[2017-01-16 23:04] ripper234 opened #26 "Continuous integration to run on commit"
There are a few relevant options here, a few SAAS services that are free for open source projects.

[2017-01-16 23:05] ripper234 commented on #24
@eyalliebermann

[2017-01-16 23:14] #12 closed, assigned to ripper234

[2017-01-16 23:19] amotenko opened #27 "Best practice for storing server configuration"
Research and implement a solution for storing and using for deployment secret server configuration in version control.
Consider git-secret and / or other tools.

[2017-01-16 23:34] ripper234 commented on #17
+1

[2017-01-16 23:44] ripper234 commented on #27
Following

[2017-01-17 00:11] ripper234 commented on #6
@amotenko & @mtr574 does this exist anywhere for Spark/Camps?
Should be linked to from our main documentation (Readmes).

[2017-01-17 06:33] #4 closed, assigned to OriHoch

[2017-01-17 06:33] #16 closed, assigned to OriHoch

[2017-01-17 06:33] #17 closed, assigned to OriHoch

[2017-01-17 06:47] OriHoch commented on #6
added some stuff here -
https://github.com/Midburn/Spark/blob/master/docs/usage/README.md

[2017-01-17 06:50] OriHoch commented on #26
as of #28 this is done with Travis-CI
just need to activate Travis-ci for Midburn repository and it will work and run the tests on every branch and pull request

[2017-01-17 08:33] #26 closed, assigned to nobody

[2017-01-17 10:16] ripper234 commented on #26
Sweet!

![image](https://cloud.githubusercontent.com/assets/172282/22016400/d46150ba-dcae-11e6-921b-8d2581ea26a9.png)

[2017-01-17 10:31] ripper234 commented on #6
LGTM. Can we close this issue for now?

[2017-01-17 14:53] ripper234 opened #30 "A link to join slack"
`joinslack.midburn.org` (or something similar) should be an easy link to join our Slack.

Waiting on Goldi for this one for a decision.

[2017-01-17 14:55] amotenko commented on #30
@ripper234 why from Spark though?

[2017-01-17 14:55] ripper234 opened #31 "Deploy Spark to staging"
Let's have the CI auto-deploy to our staging server.
Devops already provisioned a server for us.

We need to:

- [ ] Write an npm build target deploystaging
- [ ] Hook it to Travis
- [ ] Connect staging.camps.midburn.org to the server
- [ ] Update the readme with this address

[2017-01-17 15:06] ripper234 commented on #30
Why is the issue in this repo? Because we're migrating away from Asana, and this is the best place I found to put the ticket. It's relevant to Spark because it will help new Spark contributors find our Slack (and the Spark readme should be updated)

Do you have a better suggestion?

[2017-01-17 17:22] OriHoch opened #32 "user integration with old drupal profile should import more user details"
after #29 drupal users can log-in to spark

these drupal users have some data which is missing

most important:
* first_name
* last_name
* gender

possibly other data as well..

best way will be to add those fields to drupal_users table

[2017-01-18 09:15] #6 closed, assigned to nobody

[2017-01-18 09:17] amotenko commented on #30
@guywarburg is working on a page for Midburn Tech as a part of the midburn website that will have info about our projects as well as contact info and of course a 'join slack' link.

[2017-01-18 09:31] amotenko opened #33 "Add a technical description of Spark's (desired) architecture and mission statement"
I'm on the motherfucker

[2017-01-18 10:49] ripper234 opened #34 "Setup & Deploy to Staging Server"
Every commit to master, the code should be auto-deployed to staging (after/if tests pass).

[2017-01-18 10:52] ripper234 commented on #33
+1

Following

[2017-01-18 10:52] ripper234 commented on #33
(talk to me if you want help)

[2017-01-18 11:00] ripper234 opened #35 "Travis Slack integration"
Whenever a build fails, or passes for the first time after a failure, Travis should post to #sparksystem-alerts channel on Slack.

Make sure no excessive messages (we don't want to annoy people).

[] Add all spark devs to sparksystem-alerts (if anyone wants to leave they can)
[] Add #sparksystem-alerts as a default channel for new devs on Slack
[] Nice to have: if you personally broke the build, y

[2017-01-18 13:14] ripper234 commented on #30
@amotenko we still need to create the link, which requires work in itself.

@OriHoch can you help with this?

[2017-01-18 13:24] amotenko commented on #30
@ripper234 Ron, this is not the place for this issue. Please close it.

[2017-01-18 13:26] amotenko opened #36 "Admin panel for Users"
Spark should provide an admin panel for easy manipulation of users

[2017-01-18 13:27] amotenko opened #37 "Fix reset password"
It worked in this [PR](https://github.com/Midburn/Spark/commit/bb7999efece19811c0f6c6988fddac0136b87d1b), feature was run over by mistake

https://github.com/Midburn/Spark/commit/bb7999efece19811c0f6c6988fddac0136b87d1b

[2017-01-18 13:28] amotenko opened #38 "Merge expanded login branch"
This is the branch
https://github.com/Midburn/Spark/pull/1

It has some conflicts, if you are not @ArtyomKa , please talk to @ArtyomKa

[2017-01-18 16:24] ripper234 commented on #30
Can we talk about it tonight?

[2017-01-18 18:02] ripper234 opened #40 "Improve Readme"
It needs a re-haul.

- [x] tech stack
- [x] help wanted
- [ ] code review process
- [ ] ...

[2017-01-18 20:05] ripper234 commented on #40
What else do we need?

[2017-01-18 20:11] ripper234 commented on #40
@OriHoch I did some work on Readme today, then saw the [CONTRIBUTING](https://github.com/Midburn/Spark/blob/master/CONTRIBUTING.md) docs we have. Readme should probablly link to them, not sure whether currently there is a duplication.

[2017-01-18 20:21] ripper234 opened #41 "Choose an open source license"
MIT/Unlicense?

[2017-01-21 19:37] netanelben opened #44 "Add columns to user model"
### Overview of the problem
User model should have the following columns:

- early arrivals (boolean)
- has ticket (boolean)
- TBA

According to the specs http://prnt.sc/dhnlzl

[2017-01-21 20:25] OriHoch commented on #44
I think there is a relation, or at least a constraint in DB..

https://github.com/Midburn/Spark/blob/master/migrations/20170113114610_constraints.js

or did you mean something else?

[2017-01-21 20:27] OriHoch commented on #41
interesting question - which open source license is most compatible with the burning man principles

[2017-01-21 20:28] OriHoch commented on #41
MIT allows for most freedom
but maybe the restrictive ones are better because we won't to prevent commercialization.. in that case I would go with AGPLv3

[2017-01-21 20:31] OriHoch commented on #40
yeah, should have a link from README

[2017-01-21 20:33] OriHoch commented on #36
a few questions:
1. what kind of manipulations would you expect to do?
2. who will do these manipulations - only tech people or we should support also non technical users?
3. Would a simple DB UI be enough?

[2017-01-21 20:34] OriHoch commented on #36
Personally my go-to tool for these kinds of UIs is Django Admin..

[2017-01-22 06:31] ripper234 commented on #36
I think a simple DB UI should be enough for the MVP.
Of course we do need a more sophisticated admin panel, the question is whether it's a MUST HAVE for launching Camps.

[2017-01-22 06:32] ripper234 commented on #41
Interesting. I suggest we open this discussion up on Slack.

[2017-01-22 06:33] ripper234 commented on #41
See also http://choosealicense.com/

[2017-01-22 09:27] OriHoch commented on #31
I'm working on it

[2017-01-22 09:28] OriHoch commented on #31
related issue: #34

[2017-01-22 10:45] netanelben commented on #44
Awesome.
I'll update the issue demands.

[2017-01-22 19:07] amotenko commented on #32
Nitay was adding some scripts, I'll ask him to update his progress here

[2017-01-22 19:09] #30 closed, assigned to nobody

[2017-01-22 19:16] amotenko commented on #36
0. indeed Django admin panel is both a pleasure and delight to use
1. I expect there will be problems with drupal migration and it will be very handy to edit users
2. developers and maybe system administrators
3. From UI point of view, since every module in Spark will have to include an admin panel to manipulate data directly but also to perform various admin actions (for example, in Camps, admin

[2017-01-22 19:17] #37 closed, assigned to guywarburg

[2017-01-22 19:21] amotenko opened #47 "Roles for users in Spark"
This is a somewhat big issue but for the upcoming MVP a simple solution will be sufficient. Talk to me if you pull this

[2017-01-23 04:09] ripper234 commented on #41
We'll discuss this this upcoming Wednesday, I'll make/find a presentation about it.

[2017-01-23 07:11] OriHoch commented on #35
@amotenko  - I'm already working on it.. will publish a pull request soon
re-assigning back to me..

[2017-01-23 07:23] amotenko commented on #27
Elad is working on this, I can't assign him for some reason

[2017-01-23 07:29] OriHoch opened #49 "fix npm install warnings"
npm WARN deprecated jade@1.11.0: Jade has been renamed to pug, please install the latest version of pug instead of jade
npm WARN deprecated minimatch@0.2.14: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated graceful-fs@1.2.3: graceful-fs v3.0.0 and before will fail on node releases >= v7.0. Please update to graceful-fs@^4.0.0 as soon as possible. Use 'npm

[2017-01-23 07:30] OriHoch commented on #49
can see them on travis -
https://travis-ci.org/OriHoch/Spark#L152

[2017-01-23 13:40] OriHoch commented on #35
in #45 I added notification to slack on every build of master

[2017-01-23 13:41] OriHoch commented on #34
first part of this issue is done in #45 - building deployment package automatically on every commit to master and upload this package to slack

next step is to do the actual deployment of this pacakge (simple bash script can do it..)

[2017-01-23 13:42] OriHoch commented on #34
this is a duplicate of #31

[2017-01-23 13:43] OriHoch commented on #31
some of this work was done in #45

[2017-01-23 13:43] #34 closed, assigned to OriHoch

[2017-01-23 14:46] OriHoch commented on #23
mostly done in #45

[2017-01-23 14:46] #23 closed, assigned to OriHoch

[2017-01-23 17:13] ripper234 commented on #27
Should add him to the list of contributors, I think he's not there.

[2017-01-24 11:46] OriHoch opened #50 "remove gentelella (and possibly other) dependencies from our code base"
gentelella is embedded in our code-base: [/public/gentelella](/public/gentelella)

it should be installed as an external dependency and not be part of our code, should be easy to do using npm or bower: https://github.com/puikinsh/gentelella

[2017-01-24 11:48] OriHoch commented on #31
I started working on it, but it's on hold now, waiting for:
1. merge of PR #45
2. more details regarding how app will run on an actual server (this conflicts with work on Docker which someone else is doing)
3. credentials to access amazon to configure the CI/CD stuff

once those 3 points are resolved I could move on to add more features to CI/CD..

[2017-01-24 14:33] ripper234 commented on #41
I did some research and prepared this presentation.

https://docs.google.com/presentation/d/1GMAiyDT14XlSKXtTiDULqTgceEFzo6H4bM1NVW593Ng/edit?usp=sharing

The TL;DR is that Apache seems to be my personal favorite. Will present it tomorrow evening.

[2017-01-24 14:33] ripper234 commented on #41
@OriHoch can you review?

[2017-01-24 20:14] #25 closed, assigned to OriHoch

[2017-01-24 20:39] omerpines opened #52 "Admin interface: Bulk add emails to define as volunteers in a department"
Bulk - Text area, one line per email
Department selection - Dropdown

[2017-01-24 20:43] eyalhag opened #53 "test"
### Overview of the problem

### Description

### Steps to Reproduce

### Expected behavior

### Actual behavior

[2017-01-24 20:43] #53 closed, assigned to nobody

[2017-01-24 21:28] OriHoch commented on #41
looks good

[2017-01-25 11:06] OriHoch commented on #35
continuing to work on it with the staging server

[2017-01-25 11:06] OriHoch commented on #31
got the staging server, I'll continue some work on it

[2017-01-25 11:22] ripper234 commented on #41
@OriHoch what do you think of the last slide? I raised a few questions there.

[2017-01-25 11:40] ripper234 opened #54 "Camps website should have a dedicated welcome screen"
**Camps module**

Welcome screen to Camps should not read

![image](https://cloud.githubusercontent.com/assets/172282/22289348/be889ed2-e303-11e6-9509-dfb25b95e868.png)

but rather show a dedicate screen with different text.

[2017-01-25 11:43] ripper234 commented on #54
The <title> should also read "Midburn Theme Camps" and not "Spark by Midburn"

[2017-01-25 11:50] ripper234 opened #55 "Can't register new account due to CAPTCHA on staging server"
On our staging server:

![image](https://cloud.githubusercontent.com/assets/172282/22289602/1ed632da-e305-11e6-855d-fa9ed9bbfe6c.png)

I expect the solution to include:

1. Giving the staging served a fixed URL
2. Updating that in our reCAPTCHA account

[2017-01-25 16:55] OriHoch commented on #55
once #57 is merged this recaptcha configuration error will be ignored and will allow to continue sign-up
also added configurable recaptcha keys

[2017-01-25 17:30] ripper234 opened #58 "Implement Coding Style/Conventions, add linter"
1. Lint on commit, fail the build if lint rule fails
2. Lint on save (saving a file triggers the app to show lint errors, maybe like how [Vue webpack](https://github.com/vuejs-templates/webpack) does it.

[2017-01-25 17:33] ripper234 commented on #1
@ArtyomKa is this PR still relevant? Or should it be closed?

[2017-01-25 19:17] netanelben opened #59 "Camps listing page (Admin)"
## 3-cards camp management page
1. Camps list
2. Bulk camp update
3. Global flags

### Camps list

In this page, list of all camps registered in the system

Mockup
http://prntscr.com/dhnqwl (List)

Table attributes:
- camp name
- contact person name
- contact person email
- contact person phone
- camp status
- filled activity?
- filled location info?
- filled safety check-list?

Features:
- [ ] se

[2017-01-25 19:19] netanelben opened #60 "Camps: View camp details"
Path: views/pages/camps/camp.jade

[2017-01-25 19:21] netanelben opened #61 "Footer template"
- [x] Create footer with links and style
- [x] Translate footer links to Hebrew (change text to translated variables)
- [x] ERROR: footer missing t function (translate)

[2017-01-25 19:22] netanelben opened #62 "Welcome page (index)"
In this page you can:
- create new camp
- request to join a camp
- camp management & statistics
- members manage

__some features are hidden for the MVP release__

Path: views/pages/camps/index.jade

Follow this: http://prntscr.com/dhn7z4

[2017-01-25 19:25] netanelben opened #63 "Members page"
In this page listing all camp members, with basic information.

Follow this: http://prntscr.com/dhnlzl

[2017-01-25 19:26] netanelben opened #64 "Camps: Create new camp"
Create camp and provide camp details

Path: views/pages/camps/new.jade

Follow this:
1. http://prntscr.com/dhni7o
2. http://prntscr.com/dhnicx
3. http://prntscr.com/dhnigm (Details)

[2017-01-25 19:26] netanelben opened #65 "Program page"
Backend PR: https://github.com/Midburn/Spark/pull/75

In this page you create a program schedule of your camp, activities, parties, lectures etc..

Follow this:
1. http://prntscr.com/dhnir4
2. http://prntscr.com/dhnj9l

[2017-01-25 19:27] netanelben commented on #65
COPIED FROM ASANA:

Guy Warburg | 25-Jan at 3:24pm
1
Completed client-side work.
Branch includes:
- new web page for submitting a new program.
- i18n files for both he and en
- css improvements
- js data-parsing and ajax post request.

tmp additions:
- link from home page to program page for testing.
- routing for link.
- api routing to accept post request.

Bugs:
- I used 'MultiSelector' to creat

[2017-01-25 19:47] ripper234 opened #66 "Setup documentation portal (read-the-doc)"
https://readthedocs.org/

[2017-01-25 19:53] netanelben opened #67 "Documents page"
# Documents page

implement file upload component

[2017-01-26 09:10] guywarburg commented on #61
Issue closed with PR #56

[2017-01-26 11:34] netanelben opened #68 "Breadcrumbs"
every page should implement breadcrumbs.
- https://www.npmjs.com/package/express-breadcrumbs
OR
- https://www.npmjs.com/package/express-url-breadcrumb

[2017-01-26 11:34] netanelben opened #69 "Camp model validations"
### Form validations

forms in camps module should implement client-side validations,
implement form validation for:

1. add new camp
2. edit camp

for the following attributes:

- email (valid email address)
- phone (valid phone, israeli & non-israeli)
- other inputs (should not be null if database-model requires it)

[2017-01-26 11:35] netanelben opened #70 "Camps: Edit exist camp"
Path: views/pages/camps/edit.jade

[2017-01-28 18:57] netanelben opened #74 "Published camps list for website"
## This page is index of published camps, for the community, will be presented in midburn.org website.

last year's page: http://midburn-themecamps.herokuapp.com/published-camps

[This task has its own repo, here](https://github.com/Midburn/camps_index)

Two main task, Front & Back end.

### Back-end task
1. [x] Create end-point with public camps;
 - end-point address: ``/camps_public``
 - respons

[2017-01-28 19:21] netanelben opened #76 "Roles for camp module"
# Camp manager role

1. Create user role for camp manager, follow this string that used in the DB: `camp_manager`
2. Camp members page
   - update the route to: ``/camp/:id/members``
   - manager sees camp members with full details, while user sees less details

[2017-01-28 19:27] OriHoch commented on #76
I can do that, could you provide more details?

[2017-01-28 23:45] netanelben opened #79 "File upload implementation to support docs & forms"
Camps need file uploading module, for documents (doc,xls,csv) mainly.

1. [x] need a bucket , key & secret. (update: we have the bucket named ``alex.spark``)
2. [ ] implement __[express-fileuploader-s3](https://www.npmjs.com/package/express-fileuploader-s3)__ package

[2017-01-29 07:41] netanelben opened #80 "Translate Templates"
#### The following list has pages/components which needs translate take-care:

1. Create camp:
- heading
- new inputs: Facebook, contact person
- request modal after clicking create

2. Members page
- table header titles

---

_most of these needs only Hebrew translation__

[2017-01-29 08:14] guywarburg commented on #80
PR #78 - DONE

[2017-01-29 15:39] natekonimbo commented on #61
@guywarburg
footer: midburn_logo has problem with loading in few pages,
consider make it Base64 encoded. might solve it.

[2017-01-29 21:40] netanelben opened #82 "Camps Migration"
Migration for model: camp

add these columns:

- accept_families (boolean)
- facebook_page_url (text)
- contact_person_id (a constraint of model: user)
  each camp has contact person, his details (name, email) published in the website later.

fix here: https://github.com/Midburn/Spark/pull/84

[2017-01-30 05:24] OriHoch commented on #79
I can do that but need more details..

[2017-01-30 09:54] OriHoch commented on #47
done and merged (#71)

[2017-01-30 09:54] #47 closed, assigned to OriHoch

[2017-01-30 09:55] OriHoch commented on #31
after #45 is merged we have automated deploy on every travis successful build to master

[2017-01-30 09:57] OriHoch commented on #35
basic auto deploy is working on staging, relevant documentation:
https://github.com/Midburn/Spark/blob/master/docs/development/devops.md

[2017-01-30 10:05] OriHoch commented on #82
@mtr574 - how is "contact_person_id" field different then the existing "main_contact" field?

[2017-01-30 10:47] natekonimbo commented on #82
@OriHoch ``main_contact`` can be camp owner/manager unlike ``contact_person`` who is the person you contact if you'd like to join the camp, for example, and his details will be published to the website.

[2017-01-30 11:05] OriHoch commented on #82
cool, then issue is done once #84 is merged

[2017-01-30 11:05] #82 closed, assigned to OriHoch

[2017-01-30 11:17] OriHoch commented on #76
not sure what is needed here but we have the roles framework, you can see documentation and usage guide here:
https://github.com/Midburn/Spark/blob/master/docs/development/users-roles-and-permissions.md

[2017-01-30 11:19] OriHoch commented on #74
@mtr574  - could you provide more details about this public page? is it also part of spark node webapp? is it expected to be put somewhere else?

[2017-01-30 15:42] guywarburg commented on #74
I'll take the Front-End part

[2017-01-30 17:38] netanelben commented on #74
starting back end task

[2017-01-31 11:36] OriHoch commented on #36
There aren't many options for ready to use admin panels in node JS.

I tried the following options:

* [express-admin](https://simov.github.io/express-admin/), I tried to use it but it's a mess, very limited and hard to use, work I did on it so far is in this branch - https://github.com/OriHoch/Spark/tree/express-admin

* [gentelella](https://github.com/puikinsh/gentelella/blob/master/README.md) -

[2017-01-31 11:54] eyalhag commented on #31
@OriHoch very cool, what else needs to be done in order to mark this task as finished?

[2017-01-31 11:56] eyalhag commented on #38
@amotenko @ArtyomKa  who handle this?

[2017-01-31 11:59] OriHoch commented on #31
original issue description contains some tasks which I don't fully understand what they mean..

The only thing I know is missing is DNS setting

[2017-01-31 14:08] ArtyomKa commented on #38
In MVP new users still sign up in old site. So this can be put on hold?

[2017-01-31 22:35] netanelben commented on #68
https://github.com/Midburn/Spark/tree/kushmar-added_breadcrumbs

[2017-02-03 08:56] OriHoch commented on #50
will be handled as part of #36 - which will use gentelella

[2017-02-03 08:56] #50 closed, assigned to nobody

[2017-02-03 10:55] ripper234 commented on #40
Not really relevant anymore, most of it is covered by the dev guide.

[2017-02-03 10:55] #40 closed, assigned to ripper234

[2017-02-05 09:01] ripper234 commented on #58
Take coding standards from Standard.js

[2017-02-05 09:03] ripper234 commented on #58
http://eslint.org/ also would be useful here.

[2017-02-05 10:26] ripper234 opened #95 "Write sanity end-to-end tests"
I recommend using Nightmare.js for that.

I plan to write a test or two when I get the chance, self-assigning this.

[2017-02-05 13:07] natekonimbo opened #96 "Migrate camps data from Google forms (for camps index)"
#### Migrate camps data from Google forms

Lilach started to collect camps data with Google forms, so she has a Doc format with all the current data. Technically it has to be store in Spark's database, mind to adapt the table column names.

- Contact Lilach Givaty to get the data.
- The data will be used in Camps Index page (in Midburn.org)

[2017-02-05 13:07] natekonimbo opened #97 "Publish camps index page"
This issue has two-steps:

1. Insert camps data from Google forms (DevOps - Nitay should help me)
Lilach started to collect camps data with Google forms, so she has a Doc format with all the current data. Technically it has to be store in Spark's database, mind to adapt the table column names.

 - Contact Lilach Givaty to get the data.
 - The data will be used in Camps Index page (in Midburn.org)

[2017-02-05 13:23] guywarburg opened #98 "Fix Cross-Origin issue for Camps-Index-API"

[2017-02-05 13:25] guywarburg commented on #98
![screen shot 2017-02-05 at 1 21 20 pm](https://cloud.githubusercontent.com/assets/24923164/22626487/3ea5dd30-ebb7-11e6-90db-289131496031.png)
*Error when trying to call api

[2017-02-05 15:04] natekonimbo commented on #96
Merged with: https://github.com/Midburn/Spark/issues/97

[2017-02-05 15:04] #96 closed, assigned to nobody

[2017-02-05 15:06] natekonimbo commented on #97
i got them

[2017-02-05 20:12] omerpines opened #99 "Volunteer interface:"
1. Departments user is volunteering
2. Notification for volunteer

[2017-02-06 18:52] ripper234 opened #101 "Email in Staging is received from spark@localhost"
The FROM email address should be something like `spark@staging.midburn.org<Spark Staging>`, not localhost.

![image](https://cloud.githubusercontent.com/assets/172282/22661472/1f6a64e8-ecae-11e6-90dc-df7740f003cb.png)

[2017-02-06 22:08] ripper234 opened #102 "Tests fail locally with SQLITE_ERROR error"
Although the [CI is green](https://travis-ci.org/Midburn/Spark/builds/198922697), when I run tests locally one of them fails:

[2017-02-07 05:26] ripper234 opened #103 "Can't edit English camp name field"
Tested in Staging environment, the "camp name" field on the Hebrew form is uneditable (haven't tested other envs/languages).

![image](https://cloud.githubusercontent.com/assets/172282/22678919/a7a42a9e-ed06-11e6-9638-47b29498390b.png)

[2017-02-07 20:10] roy-zahor opened #106 "Language selector in header is not working"
Small UI bug. It used to work before (can't remember exactley when)

### Overview of the problem

### Description

The language selector on the header is not working.

### Steps to Reproduce

-> login to the system
-> enter any page
-> click the language selector icon in the header (the flag)
-> not working.

### Expected behavior

See above

### Actual behavior

See above

[2017-02-13 11:44] netanelben commented on #106
@roy-zahor, I tested it here, works fine from mobile chrome
http://54.194.247.12/en/home

[2017-02-13 11:45] netanelben commented on #103
Not a bug, It was intended.

Later we will allow this feature.

[2017-02-13 11:45] #103 closed, assigned to nobody

[2017-02-13 11:46] netanelben commented on #102
Forgot to ``knex migrate:latest`` mybe?

[2017-02-13 11:47] netanelben commented on #97
Done.
https://midburn-camps.firebaseapp.com/

[2017-02-13 11:47] #97 closed, assigned to natekonimbo

[2017-02-13 11:48] netanelben commented on #98
Not an issue yet,
Need to implement JSONP.

[2017-02-13 11:48] #98 closed, assigned to netanelben

[2017-02-13 15:22] ripper234 commented on #102
Local tests should not be reliant on knex migrations - they run on SQLite which is cleared on every `npm test` run.

[2017-02-15 18:00] OriHoch commented on #106
I don't see the original bug, but there is a problem in the npo page:

#### reproduction steps
* login
* click on "npo" link in header
* change the language

##### expected
* go to npo page in chosen language

##### actual
* goes to login page

[2017-02-15 21:41] #80 closed, assigned to guywarburg

[2017-02-16 09:38] OriHoch opened #108 "use admin module as POC for microservices architecture"

[2017-02-16 15:30] OriHoch opened #109 "spark staging environment should not return 502 Bad Gateway error"
#### reproduction steps
* goto: http://sparkstaging.midburn.org/

##### expected
* spark staging environment

##### actual
* 502 Bad Gateway

#### notes
* probably related to merges done on Feb. 16, 2017

[2017-02-16 15:32] OriHoch commented on #109
relevant travis build - https://travis-ci.org/Midburn/Spark/builds/202176588

can see the errors at the bottom -
[code]

#### TODO
* check why errors happened
* ensure build fails in case of errors (currently it shows as successfull)

[2017-02-16 15:33] OriHoch commented on #109
I restarted the build, maybe it was a one-time fluke..
https://travis-ci.org/Midburn/Spark/builds/202176588

[2017-02-16 15:40] OriHoch commented on #109
yes, it was a one-time fluke, staging environment is back, I'll continue to investigate why it happened and prevent it

[2017-02-19 05:05] #109 closed, assigned to OriHoch

[2017-02-19 07:13] netanelben opened #113 "Auto deploy fails"
### Overview of the problem

Tried `/spark-deploy v1.3.2`

My username appears in .env file.

### Description

### Steps to Reproduce

### Expected behavior
Deploy latest release.

### Actual behavior
Received permission denied.

[2017-02-19 07:55] OriHoch commented on #113
I couldn't find a specific problem, but I added some logs so if you try again I might be able to debug

What is the specific error you are getting? Please add a screenshot from slack

You can also deploy from ssh, for example:
[code]

[2017-02-19 19:18] netanelben opened #114 "Insert data (staging/production)"
## Data sets to be imported into STAGING & PRODUCTION databases

### Spark Users

the following data set contains spark users with role: camp_manager

table: `users`
[data set](https://slack-files.com/T0JMLJX7H-F48FFMBQX-4b20dc042c)

#### Sub-tasks (important)
1. create a relation user-camp identified by `email`
2. ~generate password for each user & insert to table~ (ON-HOLD)

### 2. Spark Camps

[2017-02-20 20:12] OriHoch commented on #114
@mtr574
I added a script which imports the data (https://github.com/Midburn/Spark/blob/master/bin/import_camps_data.js)
I imported the data on staging - please test

to run on production - need to deploy (it's part of the code) and then run something like this:
[code]

[2017-02-21 06:49] OriHoch commented on #114
@mtr574 - regarding the sub-tasks you wrote, I didn't understand what needs to be done there
what use are passwords I generate and store in DB if no one will know the passwords?
also, the other points are not clear as well..

I did what I understood, and it's on staging, if you need something else please open a new issue and define properly what is needed

[2017-02-21 12:14] natekonimbo commented on #114
@OriHoch yep. we need to work on that flow-- maybe keep it like that without password, and later send everyone email with request to create one.

the relationship user-camps code segment didn't work.

[2017-02-22 08:17] netanelben commented on #114
Also after committing to staging, the DB gets reset..

[2017-02-22 16:01] omerpines opened #115 "test issue for Nate"

[2017-02-22 16:16] natekonimbo commented on #115
works ?

[2017-02-25 13:30] #115 closed, assigned to nobody

[2017-02-28 14:00] natekonimbo opened #116 "Camp profile page"
Profile page for each camp, presents the published details, for example:

- name
- description
- contact person
- facebook page
etc

profile page will be visible with permanent link to the public

can be implemented by the Camps API

[2017-02-28 14:03] natekonimbo opened #117 "Documentation for Camps API"
### Camps API
Write specification document for each end-point, start with this file `api_camps_routes.js` and later for the rest of the modules in Spark.

Use [apiary.io](https://app.apiary.io/midburnspark/) web-app for writing, the doc is written with [Blueprint](https://apiblueprint.org) syntax
- ask @nate for write credentials

[2017-02-28 14:05] natekonimbo commented on #68
@itaikushmar can you merge with master? OR if it's intimidating, do this:
 pull master and apply your changes in fresh copy.

[2017-02-28 14:12] natekonimbo opened #118 "Insert camps data into production"
### Background
camps module in spark isn't in-use due to lack of data,
another web-app is hosted in Firebase, using Firebase:Database services, and presented the camps index.

### TODO
#### Task one
insert the camps data into the production database so the camps index can fetch the list from it, and camps module in spark will have a meaning,  specially edit camps but also (create/remove).

#### Ta

[2017-03-04 00:12] amotenko commented on #33
First draft is here

https://docs.google.com/document/d/11eETwSJrDBvQkD8IKL8h3EHdZhLa8MFD3DMElvWrleE/edit#heading=h.6syw8ttdft1y

[2017-03-04 00:14] #36 closed, assigned to OriHoch

[2017-03-04 00:15] #38 closed, assigned to nobody

[2017-03-04 00:17] amotenko commented on #41
@ripper234 so have we added the license eventually?

[2017-03-04 00:17] #44 closed, assigned to nobody

[2017-03-04 00:24] amotenko commented on #55
@ripper234 is that fixed for you?

[2017-03-04 00:26] #61 closed, assigned to guywarburg

[2017-03-04 08:19] amotenko opened #122 "Authentication from drupal"
Done on the test Drupal server for now.

We need to have an SSO functionality so that we can authenticate users and bring related info.

* A view in the Drupal database that aggregates all relevant user info
* An endpoint on Spark for authenticating and consequentially retrieving user data

[2017-03-04 08:29] amotenko opened #123 "Implement new api endpoints"
The new endpoints that will be used by Volunteers are described in detail here:

https://docs.google.com/document/d/1QquLZZl8kO_-_Wv58OtJjGd0sDbWSUl6z12Mq56vzZI/edit?usp=sharing

[2017-03-04 08:30] amotenko commented on #123
Bonus points:
Create a Postman collection

[2017-03-04 11:24] guywarburg opened #125 "NPO module - inconsistent links break translation links"
BUG -
Due to inconsistency with the way the NPO routes builds its inner links, the rest of the application doesn't work.

### Overview of the problem
This is about the Spark **NPO module**
I am sure this issue is **not a duplicate**?

### Description
(location - routes/npo_routes.js - I believe it's line 3 but not sure)
Within the NPO routes the links handling is modified.
Instead of using full pa

[2017-03-04 11:25] guywarburg commented on #125
@amotenko - Please review and add to project / milestone if necessary.

[2017-03-05 06:34] OriHoch commented on #125
@mickeyil - is this related to your pull request #119 ? (issue #106)

[2017-03-05 06:35] OriHoch commented on #123
@amotenko  - I think it will be best to first finalize the multi-module / microservices implementation
in my microservices implementation there is support for the API which IMO it's best to use to implement this
https://github.com/OriHoch/Spark/blob/microservices-poc-admin-module/modules/api/README.md

[2017-03-05 06:37] OriHoch commented on #122
@omerpines / @amotenko - will be best to get access to the drupal code, I've been asking for this for a long time, what's the hold-up?

[2017-03-05 06:38] OriHoch commented on #118
@mtr574 - I don't understand what's needed.. please elaborate

[2017-03-05 06:39] OriHoch commented on #117
should integrate with the multi-module implementation ( #110 / #120 )

[2017-03-05 06:40] OriHoch commented on #116
@natekonimbo more info needed..

[2017-03-05 06:41] OriHoch commented on #108
check out the suggested implementation at #110

currently waiting for feedback

[2017-03-05 07:07] OriHoch commented on #35
@amotenko  - why did you close it?

[2017-03-05 07:08] OriHoch commented on #33
@amotenko - why did you close it?
if the manifesto is complete then publish it on github

[2017-03-05 07:09] OriHoch commented on #31
some work is still needed

[2017-03-05 07:11] OriHoch commented on #32
I did not see a fix for this issue.. why is it closed?

[2017-03-05 07:43] mickeyil commented on #125
@OriHoch - it sounds like issue #106. It is fixed in pr #119.

[2017-03-05 07:48] OriHoch commented on #125
cool! two for the price of one

[2017-03-05 08:30] guywarburg commented on #125
Nice, didn't notice this exists already.
@OriHoch - should we close this issue or reference it in the PR?

[2017-03-05 09:24] guywarburg opened #127 "Add breadcrumbs to all modules - New Feature"
New Feature - Expand current implementation to all modules.

### Overview of the problem
This is about the Spark **Users module**

### Description

In order to enable breadcrumbs in all modules we must:
1. Move the init command from camp-routes to main-routes:
`app.use(breadcrumbs.init());` - camps_routes.js line 9

2. Declare Home page - this will store a persistent home page throughout the app:

[2017-03-05 09:41] #68 closed

[2017-03-05 10:27] amotenko commented on #127
Hey, this is really great!
But, keep in mind that any solution should be uniform to all Spark core modules.
So please as much as possible keep this solution portable.

[2017-03-05 10:29] amotenko commented on #125
I'm closing it.
Cheers!

[2017-03-05 10:29] #125 closed, assigned to nobody

[2017-03-05 10:39] amotenko commented on #122
@OriHoch , we can get access to the test server but not production.
It's a policy we'll have to live with.
Once the solution is ready we will be able to port it to the production server (and maybe then we'll get access :)

[2017-03-05 10:40] amotenko commented on #32
I'm sorry, I should have commented on that.
I see it as a duplicate of this broader issue:

https://github.com/Midburn/Spark/issues/122

[2017-03-05 10:48] amotenko commented on #31
what's missing?

[2017-03-05 10:50] amotenko commented on #33
I wouldn't say it's completed but I sure will post it here. needs to be
translate it to markdown though

On Sun, Mar 5, 2017 at 9:08 AM Ori Hoch <notifications@github.com> wrote:

[2017-03-05 11:01] amotenko commented on #35
if I'm not mistaken we got everything , but correct me if I'm wrong

[2017-03-05 11:56] natekonimbo commented on #123
Bonus points:
document everything in apiary.io
:)

[2017-03-05 12:18] amotenko commented on #123
I'm concerned that with so many bonus points it will be far too easy to get a 100 :)

[2017-03-05 13:58] OriHoch commented on #35
I didn't open this issue but AFAIK some points from original description are not done yet:
[] Add all spark devs to sparksystem-alerts (if anyone wants to leave they can)
[] Add #sparksystem-alerts as a default channel for new devs on Slack
[] Nice to have: if you personally broke the build, you get a pm.

we have some limited integration, but I'm not sure what was the original intent

[2017-03-05 13:59] OriHoch commented on #35
I usually let the original reporter (in this case @ripper234) close the issue or at least give him a chance to respons before closing to make sure no idea is left behind..

also, explaining why issue is closed is required in my opinion for correct working flow

[2017-03-05 14:01] OriHoch commented on #31
we have some basic implementation but issue description contains some points which are not done yet IMO

I'm just not sure why you closed it.. if you think everything is done then feel free to close, just let us know..

[2017-03-05 14:05] OriHoch commented on #32
this issue is about data we are missing from drupal users (like we don't have their first_name / last_name fields for them)

even if we have SSO we will still need to figure out how to map the fields from drupal

for example, in spark we have 3 fields for name: name, first_name, last_name - but drupal only have "name" - how do we map and integrate those fields? should we split the name field by sp

[2017-03-05 14:07] OriHoch commented on #122
I don't want access to the server, I want to see the code and be able to run a local drupal environment locally

this will allow to test the integration and SSO functionality, without this development is much harder and it's possible but before diving to working like that I would like to know why...

[2017-03-05 14:11] OriHoch commented on #122
if the hold-up is just that there is no one that can do it - I  am happy to do that

give me access to the test server and I will remove any sensitive data and upload to github

[2017-03-05 14:17] ripper234 commented on #31
I think it can be closed, npm target isn't relevant since it auto-deploys, I think everything else is done, no?

[2017-03-05 14:19] OriHoch commented on #31
I vaguely remember we discussed more stuff but if you can't think of
anything else then let's close it !

On Sun, Mar 5, 2017, 16:17 Ron Gross <notifications@github.com> wrote:

[2017-03-05 14:19] #31 closed, assigned to nobody

[2017-03-05 14:20] ripper234 commented on #35
Thanks @OriHoch.
@amotenko : I agree that in general when closing, an explanation should be mandatory.

However in this case I'm not really a part of the workflow these days, so I have no objection to closing if @amotenko wants. Closing it for now.

[2017-03-05 14:20] #35 closed, assigned to nobody

[2017-03-05 14:26] ripper234 commented on #55
Seems fixed, yeah.

[2017-03-05 14:26] #55 closed, assigned to nobody

[2017-03-05 14:26] ripper234 commented on #41
No, this is pending on Goldi / Omer.

[2017-03-05 14:37] amotenko commented on #32
Right, so since we decided to leach from the drupal database (for this year), we will effectively have no need for the user table.

Furthermore, we will need to cache every single user uid we fetch so that it can serve as a primary key in other tables.
Unfortunately we will not be able to cache any other information about the user since the drupal data is live and might change at any time.

Having

[2017-03-05 14:39] amotenko commented on #41
Let's say we pick one, how do we actually add it ?
Is it just a footnote somewhere or does it require stamping each and every source file?

[2017-03-05 14:47] amotenko commented on #35
@ripper234 , @OriHoch I know it sounds retarded but I wasn't aware of this aspect of open source project etiquette, so thank you for pointing this out.
Regarding the bullets above, I may be biased and please tell me if you feel that's wrong but I think that 'noise' should always be opt-in and not opt-out, especially for newcomers.
Regarding the last bullet, today with Travis we can't push a branch

[2017-03-05 14:49] amotenko commented on #31
worst case guys, we'll open a new one :metal:

[2017-03-05 14:53] OriHoch commented on #41
IIRC the standard is a LICENSE file in root of the project

On Sun, Mar 5, 2017, 16:39 Alex <notifications@github.com> wrote:

[2017-03-05 15:12] amotenko commented on #122
Sorry for misreading.
That would be very cool. But let me just ask, when you say drupal code you actually mean the MySQL files themselves with all the table definitions, constraints and stored procedures?

[2017-03-05 15:14] amotenko commented on #41
@ripper234 can you make this happen? we **_do_** need a license.

[2017-03-05 15:14] OriHoch commented on #122
no, I mean the actual drupal modules code (PHP code) - to allow running the actual drupal locally and testing the SSO functionality

just SQL data is not enough

[2017-03-05 15:18] amotenko commented on #122
I see. I have no idea where it is but I can try to find that.
Someone also suggested to ignore the Drupal on top, and just create a view on the MySQL instance itself that will bring back the required info (and obviously connect to it from Spark). What do you think about such solution?

[2017-03-05 15:20] ArtyomKa commented on #35
BTW, if everyone sets up Travis for their own fork of the repo, we will
have very little CI failures.

On Sun, Mar 5, 2017, 16:47 Alex <notifications@github.com> wrote:

[2017-03-05 15:23] OriHoch commented on #35
@ArtyomKa - spark's travis runs on pull requests so you don't have to configure travis for each fork
you just have to open a pull request and mark it as in progress so it won't be merged..

[2017-03-05 15:24] OriHoch commented on #122
I think that to choose the right solution and implement it (whichever one we choose) we will need to look at the drupal php code and be able to run drupal locally

[2017-03-05 15:33] amotenko commented on #122
I'll try to find it

[2017-03-05 17:28] mickeyil commented on #117
@OriHoch - how would multi-module affect the external API, in specific: camps API?

[2017-03-05 18:27] OriHoch commented on #117
The microservices implementation (PR #110) includes a central API interface which is meant to suppor  both external usage via REST and internal usage via node JS library.

Documentation for this is here -
https://github.com/OriHoch/Spark/blob/microservices-poc-admin-module/modules/api/README.md

[2017-03-05 18:33] amotenko commented on #117
I wouldn't give this too much energy because eventually (before next year) Camps will go out. It will consume an API in a similar way that Volunteers is about to do. As such, this API will be modified and documented to fit with the rest. But all of that in the future.

[2017-03-05 21:42] omerpines commented on #122
@OriHoch, I've opened a request for DevOps to prepare a key for you:
http://jira.midburn.org:8080/browse/DEVOPS-10

[2017-03-06 09:17] asihud commented on #116
@OriHoch

What is needed is that the link:
http://localhost:3000/he/camps/1

which describes the camp, will be available from the outside (even if no one logged in)
ofcourse, all edit options are disabled.
basically, is to take this link, and disable all options of menu, when user is not logged in, or even create the same jade file, but with different header & footer.

[2017-03-06 09:39] OriHoch commented on #116
@asihud  - when I go to this page I get an error
http://sparkstaging.midburn.org/he/camps/1
also, I'm not sure I understand what the outcome is supposed to be.. does it require UI design? is it just a matter of permissions?

it would be helpful if  you could write precise reproduction steps (for example - open URL, click on this icon, look at that image) - then the expected behavior (what you expe

[2017-03-06 09:42] OriHoch commented on #122
thanks @omerpines
@amotenko  - if you think it's worth for me to get the drupal code please let me know, I might do it anyway but it would be better to know if you think it's actually needed or not

[2017-03-06 10:45] asihud commented on #79
@OriHoch @mtr574 @natekonimbo @guywarburg

For file upload:
1. On the edit camp http://localhost:3000/he/camps/1/edit we need to add another section:
    Files. (Current we have two tabs: Basic Information, Basic Details) , we will add File Upload
2. On this section we will have various of File Types to upload.
    (Add on the camps/edit.jade one file option, we will add as much as we want)
3. Ins

[2017-03-06 10:58] OriHoch commented on #79
@asihud - great spec, but I think I'm missing something
could you please provide links / reproduction steps on the staging server?
currently if I go to: http://sparkstaging.midburn.org/he/camps/1/edit
It's stuck..

[2017-03-06 11:15] asihud commented on #79
@OriHoch
I am not working on the sparkstaging, so i do not know. maybe to ask alex or omer.
dont you have your own local copy ?

i am just asking @guywarburg to create all the front end first,
and then i will update the spec accordingly.

[2017-03-06 11:16] OriHoch commented on #79
@asihud  - it would be best to have issues reproducible on staging / test server
otherwise, it's hard to know what's the status of your local copy, which branch you are on, is it updated etc. etc...

[2017-03-06 11:19] asihud commented on #79
the problem is that i do not have permission to merge to master, and not in charge of the staging.
and still dont know how to do that on github.. :)
I will ask on slak who in charge of that.

[2017-03-06 12:18] OriHoch commented on #79
If the bug is reproduced on a specific branch then include that step in the reproduction steps...
But it would be better to work on master branch

[2017-03-06 14:30] asihud opened #130 "Front end for implementing File Upload"
The File Upload require some front end touch:
1. Add a tab on http://localhost:3000/en/camps/1/edit
    The tab name near BASIC INFORMATION, BASIC DETAILS, FILES & FORMS UPLOAD (העלאת קבצים וטפסים) - already implemented on my master.
   this is in camps/edit.jade
2. Make the other hide, on click (need to set it on camps.js client side javascript)
3. This form will show a section of types (make 1,

[2017-03-06 14:52] #118 closed, assigned to nobody

[2017-03-06 14:53] #113 closed, assigned to nobody

[2017-03-06 14:54] natekonimbo commented on #106
Fixed.

[2017-03-06 14:54] #106 closed, assigned to nobody

[2017-03-06 15:02] amotenko commented on #122
@OriHoch To be honest I'm not sure it's super useful for us, we just need to 'hack' the database, in my understanding.

[2017-03-06 16:05] OriHoch opened #131 "midburn drupal code should be accessible at least to spark team but preferably to the world"
As I understood, the goal of Spark system is to replace the old Drupal code.

To answer this specific goal and also general use-cases which are likely to arise I think we (the spark team) should have access to see the drupal code (e.g. on GitHub) and be able to run a local instance of the drupal code

This will also help specifically in the following issues -
* #122 - SSO between drupal and spark

[2017-03-06 16:06] OriHoch commented on #131
I am waiting to get ssh access to the drupal test server, then I will see what we have there and decide how to continue from there

@amotenko @omerpines

[2017-03-06 16:06] OriHoch commented on #122
no problem, I'll handle it in this issue - #131

[2017-03-06 16:09] amotenko commented on #131
@OriHoch I'm with you bro

[2017-03-06 16:12] OriHoch commented on #113
@natekonimbo  - is the problem fixed? everything is working well for you now?

[2017-03-06 16:55] mickeyil commented on #117
@natekonimbo, can you give me write credentials on apiary.io for midburn?

[2017-03-06 18:41] rootux commented on #131
This will also help the dreams platform so I'm with you also.

[2017-03-06 19:33] asihud commented on #130
okay, the task is finished.
tommorow, a list of ui upgrades...!

[2017-03-06 19:33] #130 closed, assigned to guywarburg

[2017-03-06 19:37] asihud opened #135 "User interface bug list and changes list"
Several Updates on the UI:

- [ ] Camps edit: details form: Field Camp Type:
       Should be changed to Multi Select instead of check box.
       Basic Information, Details, Files & Form upload, Members
- [ ] Camps Index:
      The following tabs should be displayed:
1. for Regular user: - Join Camp (if not joined) -
2. for Camp manager - My Camp [default]
    Shows my camp.
3. for camps admin -

[2017-03-07 06:36] asihud commented on #79
@OriHoch
Please update your branch with guy changes or even from asihud/Spark fork, to your branch.
It is include the file upload ui.
now need to implement it. please tell me that you are on this issue, and grabbed it.

[2017-03-07 07:47] OriHoch commented on #79
@asihud  - you instructions are very ambiguous..
what is "guy changes"? what is "asihud/Spark fork" - a fork contains many branches
what is "my branch"? I don't have a single branch, I have a fork
it would be helpful to have full reproduction steps from start to finish

[2017-03-07 07:49] OriHoch commented on #135
I think @amotenko can you give the permissions, you need write (AKA merge) permissions to be able to label issues

[2017-03-07 08:08] asihud commented on #79
@OriHoch ,
sure. to sync:
1. go to PULL REQUEST , ask for NEW PULL REQUEST
2. on the Compare Changes page, press the compare across forks.
3. select for base fork: asihud/Spark base: master  to head fork (your fork)
4. sync changes.
5. implement the upload code.
6. we all happy!

[2017-03-07 08:26] OriHoch commented on #79
@asihud  - I appreciate your work and trying to be clearer but the issue is still very confusing (to me..)
If you (AKA spark team / AKA midburn) would like to involve more volunteers in the project I believe you need to have clearer issues, requirements and working flow
However, I might be mistaken and maybe it's not needed and you will be able to have volunteers help you.. in that case, you are w

[2017-03-07 08:54] amotenko commented on #41
Here is a reference for future me

https://help.github.com/articles/adding-a-license-to-a-repository/

[2017-03-07 11:25] asihud commented on #79
@OriHoch ,
No Problem.
I will try to set up better spec.
Hope to see you tommorow at the meeting at iron source, so we can sync.

[2017-03-07 15:34] guywarburg commented on #74
@natekonimbo can we close this task?

[2017-03-08 07:13] OriHoch commented on #127
nice, thanks @guywarburg - sounds good to me

[2017-03-08 15:18] eyalliebermann opened #139 "bug: camps list last update field is uninitialized and shows epoch:0"
recreation
create a camp
got to the camps list on http://localhost:3000/he/camps-stats
look at the last updated field
It's 	Thu Jan 01 1970
It should either be empty or it should be equal to the creation date

[2017-03-09 11:14] natekonimbo commented on #139
Fixed!

[2017-03-09 11:14] #139 closed, assigned to nobody

[2017-03-09 15:32] natekonimbo opened #144 "Email Template: Join Camp Notification"
Implement stand-alone HTML page following this design,
this template will be sent by email to camp manager upon join requests.

- use in-file `<style>` tag to include the CSS (for speed matter)

![](https://d13yacurqjgara.cloudfront.net/users/929188/screenshots/2751838/day-77-thank-you.png)

[2017-03-09 18:25] ripper234 commented on #41
It's stuck with Goldi/Midburn legal... I have zero power to move this except bugging Goldi :)
I'll ping him now again.

[2017-03-13 17:51] asihud commented on #135
@guywarburg
i am checking:

- [ ] for some reason, the create new camp submit button disappeared.
- [ ] The Camp type, still not set to Multi Select
- [ ] the Edit Camp on View Camp form, should be removed for non logged user.
- [ ] the logout button on header should be removed for non logged user.

[2017-03-13 19:20] asihud commented on #135
more small stuff:

- [ ] to show login button on header for non logged user (link to login page)
- [ ] for non logged user, remove the username header.

[2017-03-13 19:43] #116 closed, assigned to nobody

[2017-03-13 19:44] #76 closed, assigned to netanelben, natekonimbo

[2017-03-13 19:47] asihud commented on #60
it seems to be working. closing the issue.

[2017-03-13 19:57] #60 closed, assigned to nobody

[2017-03-13 19:58] asihud commented on #62
this issue is done.
@natekonimbo done most of it. now fixing some issues there.

[2017-03-13 19:58] #62 closed, assigned to nobody

[2017-03-13 20:32] asihud opened #146 "update tables for camps usage"
#### The DB schema changes required:

### table constants.CAMPS_TABLE_NAME:
- [ ] add field: event_id - string15 - default 'MIDBURN2017'
- [ ] change field: `camp_name_he` to be unique with event_id
- [ ] change field: `camp_name_en` to be unique with event_id
- [ ] change field: `type` to be text field (instead of enu)

### table constants.CAMP_DETAILS_TABLE_NAME
- [ ] change field: `camp_id` to

[2017-03-13 20:34] asihud commented on #146
@OriHoch
think you can take this issue ?

[2017-03-14 08:35] OriHoch commented on #131
@omerpines - I see you deleted the JIRA issue regarding giving me access
could you explain why?
is there any progress on getting access to this code?
thanks

[2017-03-14 08:37] asihud commented on #70
i'm closing this issue, as this is almost done, but small bugs.

[2017-03-14 08:37] #70 closed, assigned to nobody

[2017-03-14 08:38] omerpines commented on #131
Since Nitay completed the task on the Drupal SSO API, which brings all the profile data from Drupal to Spark, I thought there is no need to access the Drupal system anymore and therefore deleted the task.
@OriHoch , Please explain the need to access the Drupal code.

[2017-03-14 08:40] asihud commented on #74
yes. this task is done,
except that the json is not implemented.

[2017-03-14 08:40] #74 closed, assigned to netanelben, guywarburg

[2017-03-14 08:41] OriHoch commented on #131
drupal SSO is only 1 example of usage for having this code, this issue is more general

as described in the issue description:

[2017-03-14 08:42] asihud commented on #64
new camp creation is working.
this issue is done.
only settings bugs, in new issue.

[2017-03-14 08:42] #64 closed, assigned to nobody

[2017-03-14 08:43] OriHoch commented on #131
also, I believe in open source and having all code available.. and am willing to do the work to open source this code

[2017-03-14 08:53] ArtyomKa commented on #123
@OriHoch @natekonimbo @amotenko
Hey all... I have a couple of questions, could not find something similar in our code:
1. I need to extract some user data (email, tickets name etc..) from Drupal DB
2. I need to be able to search existing users by their name/email and if they have a ticket or not.

Do we have the technology for that?

[2017-03-14 09:07] omerpines commented on #123
@ArtyomKa, you need to talk to Tom Meir about this in Slack.
Please open group chat.
He can probably add more user data regarding tickets.
Ask him about the search as well.

[2017-03-14 09:08] omerpines commented on #131
I'm checking this with the Drupalist.

[2017-03-14 09:10] omerpines commented on #131
Answer from Drupalist:

I think in general it is good to open your source code. I think in this case it is not a good idea, if it is just for git sake we have our private git repo. if it is for public knowledge then Drupal COD already have it in the open. and since we use an outdated unupdated hacked version, it only serves as an invitation to hack us using exposed known security vulnerabilities o

[2017-03-14 09:43] OriHoch commented on #131
Great to know the code is available even if privately, please give us (AKA spark team) access like we asked many times before..

About open sourcing it - I guess I have to take the drupalist word for it, because I haven't seen the code yet.. Once I see it I could voice my opinion as well..

[2017-03-14 09:46] OriHoch commented on #131
BTW - if you know about security vulnerabilities - it's even more reason to have more people accessing the code (even if privately) - to allow us to review and maybe fix or mitigate some of those problems.. It's very scary to hear that you have known vulnerabilities while people use this system for private details, payments etc..

[2017-03-14 12:23] asihud opened #147 "Login from drupal profile"
The procedure

- User login to the Spark/Camp system.
   First we try to check thru DRUPAL, and if not authenticated, we try old authentication.
- Once authenticated (using the /api/userlogin request), the Spark receive all the information from drupal, and updates the user profile. (Create new if not exists, and update if exists).

[2017-03-14 14:04] asihud opened #148 "Get ticket status information"
To set up the members, and to approve the camp,
it is required to know the status of the camp members ticket status.

[2017-03-14 15:35] OriHoch commented on #147
what happens if user profile is updated (either on spark or on drupal)?
it might create a situation where one system have some information while the other system have different information.

[2017-03-14 17:03] natekonimbo commented on #144
im on it! :fire:

[2017-03-14 23:56] asihud commented on #147
its not issue,
every login we update the information from DRUPAL
until the spark will be the profile db.

[2017-03-15 10:47] asihud commented on #135
all done by @guywarburg
very good.

[2017-03-15 10:47] #135 closed, assigned to guywarburg

[2017-03-15 10:54] asihud opened #152 "Updating edit camp fields and merging with new"
- [ ]  The edit.jade and new.jade doing the same. we need to merge those files, so when a change is made to the form, it will affect both.
- [x] new fields should be added on:
   Basic Information -> Website publication
   Field input text: Contact Person Name , field on db: contact_person_name
   Field input text: Contact Person Email , field on db: contact_person_email
   Field input text: Conta

[2017-03-15 13:14] asihud commented on #146
done.

[2017-03-15 13:41] asihud opened #153 "Join Camp spec"
Here is the join camp flow:

### User Point of view
- [x] User Flow:
1. User is not within camp_manager role.
2. Check if user is member in member_camps db.
   YES: Render camp , and status.
        If status is pending_mgr we will also render a button to approve myself.
   NO: Render join camp form.
3. Camp Form:
User Submited a camp_id to join
    A. Load camp by camp_id
    B. Check if camp is

[2017-03-17 09:19] asihud commented on #147
okay, this task is done.
thanks to leon. (he is not on the github, we need to add him)

[2017-03-17 09:19] #147 closed, assigned to natekonimbo

[2017-03-17 09:20] asihud commented on #69
done.

[2017-03-17 09:20] #69 closed, assigned to nobody

[2017-03-17 09:23] asihud commented on #54
in this feature, I want that if the logged user has role of camp manager,
the tab of camps will be opened by default.

[2017-03-17 10:43] #146 closed, assigned to nobody

[2017-03-19 09:15] natekonimbo opened #156 "NodeJS & Sqlite3 versions issue"
quote from https://www.npmjs.com/package/sqlite3

We run Node v7 now.
Should downgrade version to support this middleware.

:)

[2017-03-19 09:20] OriHoch commented on #156
on github it says they support v7.x as well

https://github.com/mapbox/node-sqlite3

most likely the details on npmjs are not up to date

if you had a specific problem with it, try installing the version from github instead to see if that fixes it

[2017-03-19 09:23] natekonimbo commented on #156
@OriHoch i see. so we can set `package.json` to pull this package from GitHub?

hence the Travis-CI failing [log](https://travis-ci.org/Midburn/Spark#log-container)

[2017-03-19 09:31] OriHoch commented on #156
@natekonimbo you can install from github (sqlite3 installation details how to do it) but I'm not sure that will solve the problem on travis

I don't see indication that the problem is related to node version..

I see a lot of other changes done to dependencies and installation process, sqlite3 worked fine in the past, I see no reason for it to stop working now

[2017-03-19 09:36] OriHoch commented on #156
If I had to guess, I would guess the replacing of npm with yarn is a good candidate for causing this bug..

[2017-03-19 10:23] natekonimbo commented on #117
@mickeyil good work on the camps end-points :+1:

[2017-03-19 16:20] netanelben commented on #156
Fixed.

travis.yml missing node version

[2017-03-19 16:20] #156 closed, assigned to nobody

[2017-03-21 09:58] OriHoch commented on #131
@asihud @LeonFedotov  - regarding our chat about the automated tests, this issue will help for that use-case.
Once we have access to drupal code + simple script (or maybe docker) to run it locally - we could include that in travis and that way we can have drupal included in automated tests without external dependencies

@ArtyomKa also had some problems where this will help -

[2017-03-21 10:23] asihud opened #168 "csv-parse package is missing"
for the https://github.com/Midburn/Spark/blob/master/bin/import_camps_data.js
a dependency required csv-parse package.

need to add it, as i'll provide a csv with updated camps,
and we will need to install on production as well.

[2017-03-22 08:34] asihud opened #174 "#camps - GUI fixup & join finishing"
After importing the join request, here are some things required to do:

- [x] Member list on admin
will show a list of all camps, with the total of members in pending status, and approved status, and approved status with ticket. option to edit the camp (and automatically go to member tab)
- [x] Member list on camp edit
on the MEMBERS tab on camp edit, we will have a table of all camp members, with

[2017-03-22 16:18] asihud opened #177 "#camps - API Access Rules - business rules!"
## A List of #camps API Commands and their access rules.
Please note, this MUST BE INCLUDED in phase#1.

### API_CAMPS:

### app.get('/users/:id', (req, res) => {
	Description: Get user information stated by :id
	Return: json

- [ ] API Access:
	logged_user.id = :id
	logged_user.role = camp_manager & logged_user.id = :id.camp.camp_manager.id
	logged_user.role = admin

### app.post('/camps/new', (r

[2017-03-22 17:21] asihud opened #178 "#Camps - Update the Spark Menu Header"
On the menu on the header:
Camps - Change it to 'My Camps'
Add new tab for Camps Admin and render the admin tab (for role admins)

[2017-03-22 21:09] asihud opened #183 "#camps - fixes from lilach"
- [ ] camp member view - יש לבחור את המחנה שלך. שים לב שבחירת מחנה פה אינה אומרת שאתה חבר במחנה. עליך ליצור קשר עם מנהל המחנה ישירות.

- [ ] סטטוס מחנה - לשנות ל"המחנה פתוח למצטרפים חדשים?"

- [ ] סטטוס מחנה - להעביר לחלק של האתר

- [ ] פרסום באתר מידברן + לינק

- [ ] שעות פעילות - בחירה מרובה

- [ ] חבר מחנה לא אמור לראות

[2017-03-23 06:11] asihud commented on #178
done!

[2017-03-23 06:11] #178 closed, assigned to guywarburg

[2017-03-23 10:11] guywarburg commented on #152
Closing this and opening a new detailed issue

[2017-03-23 10:12] #152 closed, assigned to guywarburg

[2017-03-23 10:14] guywarburg opened #185 "Camps - merge edit and new pages"
Merge the two pages to one reusable page.

[2017-03-23 10:16] guywarburg opened #186 "Camps - Improve New camp page UI"
Implement changes requested by Lilach (see attached images):

![screen shot 2017-03-22 at 10 54 04 pm](https://cloud.githubusercontent.com/assets/24923164/24243057/7ddd84ce-0fc2-11e7-8f1d-b173dd4b1573.png)

![screen shot 2017-03-22 at 11 04 57 pm](https://cloud.githubusercontent.com/assets/24923164/24243066/83e163a4-0fc2-11e7-8ee8-544c29a336a6.png)

![screen shot 2017-03-22 at 11 05 08 pm](https:/

[2017-03-23 10:19] guywarburg opened #187 "Camps - Improve dynamic routing"
//routes/camps-routes.js

for camps index page:
test if user is assigned to a camp or not.
If he is redirect to camp page,
else send to join-camp-page (currently this is what the route does)

(see todo in code)

### wait for PR #182 to be merged

[2017-03-24 09:59] asihud opened #192 "#camps: changes for upcoming features, db bug fix"
- [x] Add db fields for user to know his current status. In the next feature, we want to know if the camp suppliers/members are inside the event.
- [x] fix db field for camp_type to be string for multi select option.
- [x] fix db enabled to be web_published
- [x] add member in camp to be also manager, and can be of type supplier, for later use of suppliers.

[2017-03-24 12:55] #185 closed, assigned to guywarburg

[2017-03-24 15:40] #192 closed, assigned to asihud

[2017-03-27 08:02] LeonFedotov opened #204 "Information Leak"
Hey thanks to  @guywarburg who had discovered an information leak we have over at the `/users` api call:
https://github.com/Midburn/Spark/blob/master/routes/api_camps_routes.js#L296
this route shouldn't just return all the data but filter the private information out before sending it to the client.
Please open your eyes for this kind of security issues.

cc: @natekonimbo @nitay-neeman @asihud @amo

[2017-03-27 08:18] OriHoch commented on #204
good catch @guywarburg !

I suggest to have a centralized authenticated API to prevent these sort of problems

It is partially implemented in #110

this is the relevant documentation: https://github.com/OriHoch/Spark/blob/microservices-poc-admin-module/modules/api/README.md

[2017-03-27 08:20] rootux opened #205 "Profile api should return json by default (not xml)"
The returned data from calling
https://profile.midburn.org/api/user/login is **xml** by default.

To get **json** you should call:
https://profile.midburn.org/api/user/login.json
It should be the other way around - returning json by default.

[2017-03-27 09:36] asihud commented on #168
seems to be working.

[2017-03-27 09:36] #168 closed, assigned to nobody

[2017-03-27 09:38] asihud commented on #204
an API security for all API calls has established, and never got finished.
look at issue #177 for more information.

[2017-03-27 09:39] asihud commented on #187
this was done in the last PR. once will approved, it will include it.
PR #201

[2017-03-27 09:39] #187 closed, assigned to guywarburg

[2017-03-27 09:40] LeonFedotov commented on #204
@asihud did you implement a fix?

[2017-03-27 09:41] LeonFedotov commented on #177
@asihud this part
[code]
maybe add some more description of which fields

[2017-03-27 09:51] asihud commented on #177
if you could look:
### app.get('/users', (req, res) => {
	Description: Return users list
	return: json

- [ ] 	API Access:
	logged_user.role = admin

it should be accessed via logged_user.role=admin only.

and of course it will get improved to send the users of the camps if the logged_user is camp_manager, and to cut some properties that only admin has access to.
but at the moment, for first stage

[2017-03-27 14:34] asihud commented on #204
already implemented on my branch.
Will be included in the next PR.
(was in continue to issue #177), and no need to have duplicate issues.
but, lets keep it open, to link it to the next PR.

[2017-03-27 14:42] asihud opened #207 "Getting email information for unknown users from Drupal."
## A scenario:
A Camp admin send request to user to apply for his camp.
The email is free text, and mail is sent to the user.
Now, i need to save this information (I.e. create email to this user).
Okay, created a user to this user, with empty details (to get his id to link him to a camp).
now, once he logged in, to approve himself, he already included, and the drupal sign will not happen.

## Solu

[2017-03-27 15:18] OriHoch commented on #207
This kind of problem was discussed in the past in slack / in issues, here are 2 relevant issues where this was also discussed: #32 #147
and also comments in this issue deals with similar problems: #131

I believe that more hacks / patches (like ones done in the past, and like solution A in descriptioin) will give many problems and headaches.. and feels like grinding water

I think that the best wa

[2017-03-27 19:15] nitay-neeman commented on #207
Looks to me like a mix of A& B.
Get the basic camp member data from the drupal api, save the uid and relevant information in your camps  table.
 ones the camp member will log in and approve the membership  you will check your table and mark him as approved.

No need for patches just another drupal API call🤘

[2017-03-27 19:20] nitay-neeman commented on #207
Of course that all the api calls will be to spark  core api and it will communicate with the drupal api.

[2017-03-27 20:05] #127 closed, assigned to nobody

[2017-03-28 09:43] asihud commented on #207
@OriHoch , we do not have this privilege to wait.
ofcourse option 2 is better, but can we established it today/tommorow ?

[2017-03-28 09:47] OriHoch commented on #207
probably not but I can't know without having access to the drupal code

[2017-03-28 09:54] ArtyomKa commented on #207
I'm currently working on getting user data from drupal, for the Volunteers
module. Drupal folks have opened an API for that:
http://jira.midburn.org:8080/browse/IT-660 there some authentication issues
that kinda give me hard time, but I hope to overcome them soon. (I hope by
today)...

On Tue, Mar 28, 2017 at 12:43 PM asihud <notifications@github.com> wrote:

[2017-03-28 12:52] guywarburg opened #210 "Camps - refactor create new and edit camp sunctions"
In file camps.js (/public/scripts/camps.js) there are two separate functions that handle the edti camp and the new camp.
The data collectaion part is an exact duplicate and should be refactored.

function on line 251 and 328.

[2017-03-29 14:09] #183 closed, assigned to nobody

[2017-03-29 14:09] #186 closed, assigned to guywarburg

[2017-03-29 15:15] ripper234 commented on #1
@mtr574 @ArtyomKa this has been tagged `on:hold` on Feb 15.
It is now 1.5 months after.

Is this feature still relevant?

[2017-03-29 15:36] ripper234 opened #216 "Why are error codes and details hidden by default?"
When I access a non-existing URL, I got a generic error page.

After a bit of digging, I understood that the error is known within the page, only displayed in a hidden div.

What is the reason for hiding the error?
Is it a security reason?
If so, perhaps we should only apply this policy for internal sever errors (500), and for other types of errors display that to the user?

Under the current beha

[2017-03-29 16:41] asihud opened #219 "#camps - add email member under admin"
## On Edit camp members
In Edit camp, under camp manager, on Members tab, input: Add Email.
this input use for adding more members, even if they are not recognized.

- [x] Create API call to get the camp_id + email. (need to check for administrator)
- [x] Check email validation- server side.
- [x] Check if user exists on this email
- [x] if not exists, create him on users, setting validate to fals

[2017-03-29 16:55] ripper234 opened #220 "A few questions about admin-created user and Drupal logins"
I'm trying to login to the system through the `a` user created via `/dev/create-admin`.

It appears the login logic always goes to the live drupal system, and doesn't find any `a` users there, and fails the login.
So, this login method doesn't currently work (tried it on a clear local system).

Since the `/dev/create-admin` endpoints still exists in the code, it being broken is confusing to a new

[2017-03-29 17:58] bestori opened #222 "Change login endpoint from GET to POST"
### Overview of the problem

Spark module

### Description

### Steps to Reproduce

### Expected behavior

### Actual behavior

[2017-03-30 14:25] natekonimbo opened #224 "Camps bug list"
- camp/1/edit can't edit `Activity time` field

[2017-03-30 16:47] ripper234 commented on #102
So, it appears the `npm test` script wasn't Windows-friendly.
Fixed in #226 (merge pending).

[2017-03-30 16:47] #102 closed, assigned to nobody

[2017-03-30 20:54] natekonimbo opened #230 "knex migrate:latest fails in PROD"
This is the output after running `knex migrate:latest` for release v2.0.0

[code]

[2017-03-30 21:43] asihud commented on #230
it seems there is an issue in the volenteers.
how are we going to fix that, I guess this also make a problem on getting the Spark online ?

[2017-03-30 21:49] asihud commented on #220
@ripper234 -
Ron, this because we want people to login the spark thru their profile system.
until the spark system will not be the main authentication server, this is the issue.
we do not save the passwords on the local server. then again, waiting for it to become the main system.
i think the admin-created should be deprecated, or at least it would update special emails to gain admin role, automat

[2017-03-30 21:50] asihud commented on #219
finsihed on pr #229

[2017-03-30 21:50] #219 closed, assigned to asihud, natekonimbo

[2017-03-30 21:53] asihud commented on #216
that should be set upped as a task,
any API Call on the code, should be checked to see that the error response are the correct one.

[2017-03-30 21:54] asihud commented on #174
closed!

[2017-03-30 21:54] #174 closed, assigned to guywarburg

[2017-03-30 21:54] asihud commented on #153
done.

[2017-03-30 21:54] #153 closed, assigned to natekonimbo

[2017-03-30 21:57] asihud commented on #148
@natekonimbo

it seems no one has a solution for that.
as i checked on the JSON repsonse from drupal, all ticket information are there.
to which tables it should be synced?
did we already assigned db tables or to make new one ?

is the NPO_* tables are suitable for that?

it also can be easily added to the text field (in json format) on the users table.

[2017-03-30 22:03] asihud commented on #65
@mtr574
where do we want to save the program data ? new table ? json data on camps ?
do we have the gui forms ready ?

[2017-03-31 06:35] ArtyomKa commented on #230
I'm not sure how it happens, but it looks like the [volunteers tables migration](https://github.com/Midburn/Spark/blob/master/migrations/20170303180503_volunteers.js) is executed twice. This should not happen, since there should be _knex_migrations_ table in the DB (at least in sqlite there is).
Can someone verify it?

If this is the case, maybe changing the table creation statement to a condition

[2017-03-31 08:17] OriHoch commented on #230
migrations framework works on production (or at least worked until a few weeks ago)

common problems which might cause such problems -
* name of the migration was modified (e.g. - the table was created when migration was called X, then someone renamed the migration filename to Y - and now knex tries to run it again)
* someone added the table manually in DB - without going through knex

to fix it y

[2017-03-31 08:20] ArtyomKa commented on #230
Who has access to prod DB?

[2017-03-31 08:47] natekonimbo commented on #230
I do have access.

Knex migration table looks like this:
[code]

and tables in DB are:
[code]

[2017-03-31 08:52] asihud commented on #230
as suggested, to copy spark db to spark1 , and do clean init

[2017-03-31 08:56] asihud opened #231 "#devop Security issue production mysql db."
I think that access to port 3306 on server
spark-production.cwol69gtjljp.eu-west-1.rds.amazonaws.com
should be closed to the world ip, and open only for the web access.
(even better to put vlan on our server, and open it just for the local network)

The spark mysql should not have access from the IN/OUT to any port, except 3306 (and the common ones, DNS etc)

[2017-03-31 09:07] natekonimbo commented on #230
Solved.

[2017-03-31 09:07] #230 closed, assigned to nobody

[2017-03-31 09:08] asihud commented on #210
checked it, and it is refactored.
closing issue.

[2017-03-31 09:08] #210 closed, assigned to nobody

[2017-03-31 09:10] OriHoch commented on #231
I agree, but this was specifically requested in the past (don't remember by whom..)

[2017-03-31 09:13] danielbenzvi commented on #231
The MySQL should never be opened to the world no matter who asks. This issue is assigned to me but I don't have access to the AWS account in order to close it. Perhaps a different Daniel?

[2017-04-01 09:09] #224 closed, assigned to nobody

[2017-04-01 10:59] asihud commented on #220
@ripper234 ,
can we closed this issue?

[2017-04-01 11:01] asihud commented on #207
@ArtyomKa ,
the most important thing, is to fetch the ticket information.
as at the moment, the ticket information is received when we authenticating to the drupal.

at the moment, every login updates the spark db.

[2017-04-01 11:02] asihud commented on #63
this issue has been done.

[2017-04-01 11:02] #63 closed, assigned to BBBmonkey

[2017-04-01 11:03] asihud commented on #59
most of the features of this was done.
on phase#2 we will add all the other information!

[2017-04-01 14:40] ArtyomKa commented on #207
We have ability to fetch very basic user information from Drupal  - name, email, phone number. Maybe Drupal folks can add ticket info as well on the same API.

[2017-04-02 20:41] #220 closed, assigned to nobody

[2017-04-02 20:41] #216 closed, assigned to nobody

[2017-04-02 20:42] #204 closed, assigned to nobody

[2017-04-03 11:29] asihud opened #238 "updating documents to execute the knex for mysql"
Just checked the tables on mysql.
everything is working perfectly.

the documents should be updated that before we executing the knex migration:latest
we need to import all environment settings from .env to the system.
to do that,
set -a
. .env
set +a

those 3 commands, will do export to the environment.

[2017-04-04 08:41] netanelben commented on #49
From that list what's left is: Jade
I'll fix it.

[2017-04-06 12:58] OriHoch opened #243 "should have some manual testing scenarios organized in a consistent and reproducible way"
### the problem
* We have a lot of people in Spark working at the same time on different stuff (AKA different modules)
  * This produces unexpected bugs and problems
    * Sometime the module a user works on is fine but his changes made problems for other modules
    * Making changes to migrations / DB can be difficult and dangerous
    * _TODO: add more examples_
* we would like to have sanity en

[2017-04-07 09:48] asihud opened #246 "#gate create new API functionality for gate"
# Gate to Spark API:

On the spark user table, a current* fields were added. This describes the current user status information. The spark system has API keys to set it.

## Commands:
- [ ] /gate/event_in/id/:user_id
set the profile described by user_id to status inside event.

### parameters:
event_id - set the event_id different from current_event_id constant.

permissions:
req.user.isAdmin ===

[2017-04-07 10:20] asihud opened #247 "#production, upload to production and create clean db"
- [x] Deploy master to production.
- [x] Creating the spark db from fresh copy
- [x] Importing the camps

# After this stage, we will have the DB production up, and changes will be only thru knex migration files.

[2017-04-07 11:04] OriHoch commented on #131
I got ssh access to drupal test server

I got some dumps of data (not published because it was not screened for security yet, contact me to get it):
* apache and php configurations
* mysql dump

I tried to find the relevant Drupal code, but I got lost, here is what I got so far:
* drupal code is under /opt/bitnami/apps/drupal
  * **conf** - some app-specific apache and php configurations
  * **htd

[2017-04-07 11:05] OriHoch commented on #131
on hold for now, will get back to it in a few weeks (I need to get into Drupal for other projects so hopefully I will have some time to learn it a bit more)

[2017-04-07 11:26] netanelben commented on #114
Solved by @asihud

[2017-04-07 11:26] #114 closed, assigned to OriHoch, netanelben

[2017-04-07 12:03] netanelben opened #249 "camps/new should create new camp"
Reproduce:
1. go to `http://sparkstaging.midburn.org/he/camps/new?c=yo%20yo%20yo`
2. Click save
3. Error occurred

Error report:

[code]

[2017-04-07 13:16] OriHoch opened #251 "production shouldn't raise errors about missing session table"
@asihud did deployment and migration of [v2.1.0](https://github.com/Midburn/Spark/releases/tag/v2.1.0)

(not sure exactly what he did)

now, there is error in the spark web-app about missing session table:
`ER_NO_SUCH_TABLE: Table 'spark.sessions' doesn't exist`

full log:
[code]

[2017-04-07 13:18] OriHoch commented on #251
this is in the spark deploy log `/var/log/spark-deploy.log`

[code]

[2017-04-07 13:19] OriHoch commented on #251
seems the root of the problem is that migrations ran on a new DB but which had some pre-existing tables

[2017-04-07 13:21] OriHoch opened #252 "failed migrations should cause deployment to stop"
see this issue: #251

it has a situations where there are errors in deploy log, but deployment continued

it's very important to ensure that deployment stops on any error

you can see how server is setup in this document: https://github.com/Midburn/Spark/blob/master/docs/development/devops.md

[2017-04-07 13:23] OriHoch commented on #251
@asihud  - I'm not sure how to continue, I can fix the bug by clearing the DB and starting knex again - it should work
also, I think it's better to test the process you did locally before doing it on production - I don't see any special problem that won't be reproduced when tested locally

[2017-04-07 13:29] OriHoch commented on #251
talked to @natekonimbo  - I'll drop DB and create from scratch again

[2017-04-07 13:35] OriHoch commented on #251
[code]

[2017-04-07 13:35] #251 closed, assigned to nobody

[2017-04-07 13:35] OriHoch commented on #251
production is back!

[2017-04-07 15:26] alondanoch opened #254 "camps/add new user by email - doesn't add it"
The problem is with the system not recognize the current user as admin (although he is), so it wont let it add new users to the camps

[2017-04-08 09:51] asihud commented on #254
if tested on production, the problem is in production with db not working correct.

[2017-04-08 09:51] #254 closed, assigned to nobody

[2017-04-08 09:56] asihud commented on #249
the problem is because we trying to write a foreign key value which does not exists.
(0 does not exists...)
we need to check if the value is empty, no need to write it.

[2017-04-08 10:15] asihud commented on #249
okay, i am refactoring the new / edit to work as it should,
not to add the contact id and all foreign keys if they are bad.

[2017-04-08 14:25] asihud commented on #249
this was fixed in pr #256

[2017-04-08 14:25] #249 closed, assigned to alondanoch

[2017-04-08 17:08] asihud commented on #247
done!

[2017-04-08 17:09] #247 closed, assigned to OriHoch

[2017-04-08 17:11] asihud opened #257 "Creating before deployment production a db backup!"
Once deployment is happening to production,
it is wise to create a backup for the spark db.

At the moment, the db is now production.
no more changes from here.
if migration will failed, we need to have a way to get back to old revision.

[2017-04-08 17:18] asihud commented on #238
okay, the scripts was changed (not really)
they were already fine on production, and staging was fixed.

[2017-04-08 17:18] #238 closed, assigned to ArtyomKa, netanelben, amotenko

[2017-04-08 17:20] #59 closed, assigned to nobody

[2017-04-08 17:20] #54 closed, assigned to guywarburg

[2017-04-08 17:44] asihud opened #258 "#camps Phase #1 fixes:"
### Followed small issues to finish Phase#1 of camps.

- [ ] Camps edit page show null on empty data. before render, we will change all fields to empty data.
- [x] Edit the mails and mail string. The required emails are at: https://github.com/Midburn/Spark/tree/master/views/emails/camps
- join_cancel.jade - Notifies camp admin that the user has canceled himself.
- join_request.jade - Notifies camp

[2017-04-09 07:56] amotenko commented on #252
@johnyzed can you help with this?

[2017-04-09 07:57] amotenko commented on #222
done by @rootux

[2017-04-09 07:57] #222 closed, assigned to bestori

[2017-04-09 08:28] OriHoch commented on #257
I don't like having backup of DB part of automated deployment - this somewhat contradicts the idea of deploy quick and often. I generally think automated deployment should be as quick and minimal as possible

We use amazon RDS for DB - I believe it has daily backup (need to verify) - which is enough in my opinion

it is also very easy in amazon RDS ui to create a backup/snapshot - so you can do th

[2017-04-09 11:16] netanelben commented on #257
AWS RDS backup in buckets are the best

[2017-04-09 16:20] omerpines opened #259 "Critical bugs in Login screen"
See screen capture.

Requirements:
1. Remove "Login with Facebook" button
2. Change "Forgot password" button link to Drupal reset password screen:
Hebrew: https://profile.midburn.org/he/user/password
English: https://profile.midburn.org/en/user/password
     2.1 Phase 2: Forgot password API call to drupal
3. Change "Open a new account" link to Drupal homepage:
Hebrew: https://profile.midburn.org/h

[2017-04-09 16:25] omerpines opened #260 "Bugs in Submit request to join a camp"
See screen capture below.

Reproduction steps:
1. User requests to join a camp
2. User gets a message confirming they are pending to join the camp.

Bugs:
1. Incorrect camp displayed (I selected handycamp and got זקני השבט)

![image](https://cloud.githubusercontent.com/assets/7349997/24838948/5d8542f2-1d5a-11e7-8f1a-787acd99b552.png)

[2017-04-09 16:31] asihud commented on #260
fixed just now on pr #261

[2017-04-09 16:31] #260 closed, assigned to asihud

[2017-04-09 16:32] omerpines opened #262 "Bugs in Spark profile screen"
See screen capture below.

Bugs:
1. Show image placeholder and allow the user to upload their image or bring image from profile or don't show any image. BUT DON'T USE RANDOM IMAGE IN PROFILE.
2. User profile should only show the camp of the user after they have been approved for the camp (I was still pending and it showed it as my camp).
3. Incorrect details coming from the Drupal about the User's

[2017-04-09 16:32] omerpines opened #263 "Request to join camp - Name is displayed incorrectly"
See screen capture.

![image](https://cloud.githubusercontent.com/assets/7349997/24838992/54617604-1d5b-11e7-9597-6438a1142e03.png)

[2017-04-09 16:34] omerpines opened #264 "Bugs in Camp details screen"
See screen captures:

![image](https://cloud.githubusercontent.com/assets/7349997/24839002/7ab24324-1d5b-11e7-8adf-8ea3f05b3dce.png)

![image](https://cloud.githubusercontent.com/assets/7349997/24839000/75189f8a-1d5b-11e7-952f-fb1c0876cd23.png)

[2017-04-09 16:35] omerpines opened #265 "Bugs in Amuta screen"
Phase 1: Hide Amuta screen + menu item from Spark.
Phase 2: Correct according to screen capture below.

![image](https://cloud.githubusercontent.com/assets/7349997/24839007/a13da90c-1d5b-11e7-95c2-079f9fa748ca.png)

[2017-04-09 16:39] omerpines opened #266 "Bugs in Spark footer"
See bugs in screen captures:

![image](https://cloud.githubusercontent.com/assets/7349997/24839019/041e3bf4-1d5c-11e7-95da-f4e0f1ffd811.png)

![image](https://cloud.githubusercontent.com/assets/7349997/24839025/267c1d60-1d5c-11e7-8781-86ff3de5644c.png)

[2017-04-09 16:39] asihud commented on #262
this was fixed in PR #261
except the random image.

[2017-04-09 16:41] omerpines opened #267 "Translation gaps in Spark"
See screen captures:

Camp name is displayed in Hebrew instead of English:
![image](https://cloud.githubusercontent.com/assets/7349997/24839046/6903dac4-1d5c-11e7-8d43-dec22f235148.png)

Also in user's profile:
![image](https://cloud.githubusercontent.com/assets/7349997/24839054/81230904-1d5c-11e7-8b48-38f1998d5717.png)

Name of camp leader is in Hebrew (should have 2 fields for this in Camp detai

[2017-04-10 09:48] OriHoch commented on #252
is @johnyzed working on it? if not, please remove him from assignees and add the up-for-grabs label

[2017-04-10 09:50] OriHoch commented on #231
is @danielbenzvi working on this issue?
@asihud - I see you assigned him, but this means no one else can work on the issue
if @danielbenzvi is not actively working on the issue, please remove the assignment

[2017-04-10 09:51] johnyzed commented on #252
@OriHoch I am working on it. To be honest i already fixed it in my fork (https://github.com/johnyzed/Spark/commit/0f520f0d4b18c68b85fefd5f9dbee010e2226620), I just want to discuss with the guys on wednesday about a more generic solution, so I wanted to wait before submiting my PR

[2017-04-10 09:52] OriHoch commented on #27
@amotenko are you actively working on it? if not, please update status or remove yourself from assignees so someone else might continue work on it

[2017-04-10 09:52] OriHoch commented on #24
@ArtyomKa - are you actively working on this issue? if not, please remove yourself from assignees or update status

[2017-04-10 09:53] asihud commented on #148
okay, this was done.
Now, to fetch the ticket the user must login to the system.

[2017-04-10 09:53] #148 closed, assigned to OriHoch, natekonimbo

[2017-04-10 09:55] asihud commented on #231
okay, removed him.
@OriHoch , you want to take this issue ?

[2017-04-10 09:55] OriHoch commented on #252
@johnyzed  - better to open a pull request and prefix the title with [WIP] - so we know not to merge it
WIP = work in progress

[2017-04-10 09:56] asihud commented on #263
fixed in last PR!

[2017-04-10 09:56] #263 closed, assigned to asihud

[2017-04-10 09:57] OriHoch commented on #231
@johnyzed

[2017-04-10 09:57] OriHoch commented on #257
@johnyzed

[2017-04-10 10:02] OriHoch commented on #24
see this pull request which had some code for docker (it's closed because it was on hold for a long time):
https://github.com/Midburn/Spark/pull/51

[2017-04-10 10:05] OriHoch commented on #1
closing because did not receive updates for a long time

feel free to re-open if you think it's still relevant - and explain why it's still relevant

[2017-04-10 19:31] asihud commented on #207
okay, the lastest commits include to bring ticket information.
the problem is that it is fetched only when user is logged in.
once we will be able to bring the information to any user without authentication, it will be better.

[2017-04-10 19:31] #207 closed, assigned to OriHoch, natekonimbo, guywarburg, nitay-neeman

[2017-04-10 19:32] asihud commented on #266
done in latest release.

[2017-04-10 19:32] #266 closed, assigned to asihud, amotenko

[2017-04-11 08:50] asihud opened #269 "#camps #spark QA Requests"
### QA Request with Security Perspective
- [ ] Check that adding camp hebrew/english description strips html tags, for security reasons.
- [ ] Check that camp hebrew/english description translate http:// or mail:// to linkable.
- [ ] Check that login under regular camp user, you cannot see other members information
- [ ] Check that login under camp_manager, you cannot edit other camp (changing of

[2017-04-11 08:52] asihud commented on #269
please update any more testing you have in mind!

[2017-04-11 09:40] guywarburg commented on #258
@omerpines - regarding the email template - the template receives user, camp and camp-manager params. Mark somehow the params you would like to use and I'll fix the template.

[2017-04-11 09:42] asihud commented on #265
information is now fetched from drupal.
this section is now working.

[2017-04-11 09:42] #265 closed, assigned to asihud

[2017-04-11 09:43] asihud commented on #264
uploaded in v2.1.3 release.

[2017-04-11 09:43] #264 closed, assigned to asihud

[2017-04-11 13:19] OriHoch opened #271 "travis should get notifications from github"
for example, look at the last commits on these pull requests:
* #126
* #110

each commit should have a green or red check next to it - notifying about build status

looking at travis, it seems build is running but not notifying status to github

this hints towards permissions problem, but need to check

[2017-04-11 13:21] OriHoch commented on #271
relevant slack discussion:
[code]

[2017-04-11 13:21] OriHoch commented on #271
need someone with admin permissions to look at the travis / github settings / permissions / integration

[2017-04-11 13:25] amotenko commented on #271
@OriHoch granted you admin superpowers.
hope it's the right permission

[2017-04-11 15:45] OriHoch commented on #271
had a look.. couldn't figure it out :crying_cat_face:
will try again in a few days.. unless someone else can have a look

[2017-04-11 17:16] LeonFedotov commented on #271
@OriHoch on it

[2017-04-11 17:44] LeonFedotov commented on #271
@OriHoch please check if the webhooks got disabled or something, i don't have adming on the repo i cant see the settings, but from a google this seems to be the problem...

[2017-04-11 17:47] LeonFedotov commented on #271
https://github.com/travis-ci/travis-ci/issues/7602 added an issue, @amotenko gimme them sweet powers!

[2017-04-11 17:52] amotenko commented on #271
@LeonFedotov you got it

[2017-04-11 17:57] LeonFedotov commented on #271
@amotenko yo! whats apiary.io ? it seems to be returning some errors on the webhook...

[2017-04-11 18:02] amotenko commented on #271
Wasn't familiar with it until now

[2017-04-11 18:03] LeonFedotov commented on #271
@amotenko ok im not sure it is related, can you give me admin on travis i want to flush the integration...

[2017-04-11 18:03] LeonFedotov commented on #271
i canceled the webhook to apiray for now...

[2017-04-11 18:05] amotenko commented on #271
you should have, it is supposed to reflect github permissions

[2017-04-11 18:06] LeonFedotov commented on #271
@amotenko alright i re synced and now i have access...

[2017-04-11 18:27] amotenko opened #274 "Spark Roadmap 2018"
Next year Spark is going to be faster, stronger, and better.
We are also going to rewrite everything in Rust.

Please add here all the ideas you had and would like to see happening in Spark 2018, starting from technical issues like 'better tests', 'finally getting to fixing that bug' and 'rewrite everything in Rust' up to products and systems that can be implemented on top of Spark.
Be specific wh

[2017-04-11 20:30] omerpines opened #275 "Spark - Manage Camps - Manage Members - The dropdown is appearing upwards and is cut"
Bug

This is about the Spark **Camps module**
My **browser** is: Chrome 57.0.2987.133

### Description
Dropdown is appearing upwards and is cut (See screen capture)

![image](https://cloud.githubusercontent.com/assets/7349997/24929511/e17eae3a-1f0e-11e7-82d2-c34cbd6443e1.png)

[2017-04-11 20:48] LeonFedotov commented on #271
ok update: nothing works for me maybe @natekonimbo can shed some light, and we can wait for the update on the issue ive created https://github.com/travis-ci/travis-ci/issues/7602

[2017-04-11 21:53] omerpines opened #276 "Spark - Manage Camp - Edit Camp"
BUG
Camps module
Description: Show description field as expanded (See screen capture)
![image](https://cloud.githubusercontent.com/assets/7349997/24932476/63fd1d3c-1f1a-11e7-80aa-14a44f83d1c9.png)

[2017-04-12 06:25] omerpines commented on #258
join_cancel.jade email contentץ
**Purpose: This is both a rejection of a member's request to join the camp and the cancellation of an existing member. This is usually done by camp manager.**

Reply to: noreply@midburn.org (DO NOT REPLY TO THIS EMAIL)
Email Subject: Cancellation of camp membership - ביטול חברות בקאמפ

Email Body Content:
מצטערים...
השתתפותך בקאמפ {שם הקאמפ בעברית} בוטלה
אם נפלה טעו

[2017-04-12 07:54] omerpines opened #277 "Bug: Camp Management - Camp members - Warning text appears in both Hebrew and English"
BUG
CAMPS MODULE
Reproduction steps:
1. Go to a camp.
2. Cancel membership of a camp member.
3. A warning message appears.

Expected: Message will display text in Hebrew or English, depending on the user's interface language.
Actual: Message appears with both Hebrew and English (See screen capture)

![image](https://cloud.githubusercontent.com/assets/7349997/24947133/4d737710-1f6e-11e7-8936-38402a

[2017-04-12 08:53] omerpines commented on #258
join_request.jade email content:

**Purpose: This is an automated response email, sent to the user who was requested to join the camp by the camp manager.**

Flow:
1. The Camp manager goes to manage camp members
2. The Camp manager adds a new camp member.
3. This email is sent to the new camp member.

Reply to: no-reply
Email Subject: Request to join camp {Camp name in English} - בקשת הצטרפות לקאמ

[2017-04-12 08:55] omerpines opened #278 "Spark Camps - Manage Camp - Add new members does not work"
Adding the member's email and clicking the Add new member CTA button does not do anything. See screen shot below.

![image](https://cloud.githubusercontent.com/assets/7349997/24949601/dff3d992-1f76-11e7-9cff-396d83a27d6b.png)

[2017-04-12 09:41] rootux opened #279 "Spark should provide real SSO functionality"
Right now spark support normal login
We need real Sso so users could 'Login with spark'.
The idea is that the browser will know the credentials and that certified apps can login and get users info through spark

[2017-04-12 10:05] amotenko opened #280 "Spark should address mock drupal endpoint and get mock user data in testing and dev"
Today we depend on drupal to be available and have the right data in our local tests.
We should have a mock endpoint that would supply consistent mock data as part of our dev environment.
The benefit of this would be two-fold

1. Better and easier testing and development
2. Live documentation of how drupal should behave

@OriHoch suggests implementing as follows:

[2017-04-12 10:07] omerpines commented on #279
Guys, this is an urgent task since people don't remember their password to their Midburn Profile (Sometimes they don't even remember their email) and this is causing people to leave the other platforms without logging in (currently only Dreams but soon enough MidMarket, Spark - Camps and Volunteers...)

We need to add an SSO module in Spark that can handle sessions, linked users from other service

[2017-04-12 10:18] omerpines commented on #258
member_approved.jade email content:

**Purpose: This is an automated response email to the user who requested to join the camp, confirming their request was approved by the camp manager.**

Flow:
1. User applies to join the camp
2. Camp manager approves the user
3. This email is sent automatically to the user who applied

Reply to: no-reply
Email Subject: Your request to join camp has been approve

[2017-04-12 10:23] amotenko opened #281 "Spark should move towards OAuth"
In the distant future

[2017-04-12 10:28] omerpines commented on #258
member_rejected.jade email content:

**Purpose: This is an automated response email to a member after they reject their participation in a camp.**

Flow:
1. User applies to join the camp or camp manager adds user to camp.
2. User cancels their participation in the camp via the system.
3. This email is sent automatically to the user.

Reply to: no-reply
Email Subject: You requested to cancel your p

[2017-04-12 14:38] ripper234 commented on #95
Duplicated by #243

[2017-04-12 14:38] #95 closed, assigned to ripper234

[2017-04-12 14:39] ripper234 commented on #243
+1

I'll try to make some progress on that today. Plan on using `nightmarejs.org`

[2017-04-12 15:29] asihud commented on #278
omer,
this can happen if the added member,
is assigned to different camp.

[2017-04-12 15:47] asihud commented on #278
okay, found the bug. fixed, will be uploaded in the next PR.
you are member in more than one camp.

[2017-04-12 15:47] #278 closed, assigned to asihud

[2017-04-12 16:08] asihud commented on #277
fixed in latest PR

[2017-04-12 16:21] ripper234 commented on #243
Started in PR #282

[2017-04-12 17:02] ripper234 commented on #41
I didn't find Goldi's nick here, assigning to @omerpines in the meantime ... I can't make progress on this issue.

[2017-04-12 17:03] ripper234 commented on #58
I believe this is done.

[2017-04-12 17:03] #58 closed, assigned to ripper234

[2017-04-12 17:08] LeonFedotov opened #283 "Volunteers session integration"
- [ ] Dynamic **(with token)** link to the volunteers from spark front-end
- [ ] api identifies user per token - provides token => id
- [ ] /me api thats provides volunteering info from the volunteer table in spark db
- [ ] The token need to be validated each api call from volunteer to spark

[2017-04-12 17:10] LeonFedotov commented on #283
@amotenko says:

[2017-04-12 17:26] ripper234 opened #284 "Camps data should be pre-populated on a new enviornment"
To make it easy on new developers, we should make it easy for them to start working on camps.

The following steps on a clean environment should allow a developer to login and see a populated list of camps.

[code]

[2017-04-12 17:33] ripper234 commented on #276
I failed to start working with camps due to missing data (#284)

[2017-04-12 18:18] guywarburg opened #287 "Change api call on camps-index list"
In the project [camps-index](https://github.com/Midburn/camps_index) the data should be retrieved from the spark api at - spark.midburn.org/published

[2017-04-12 18:21] LeonFedotov opened #288 "Implement sso functionality"
spark should provide single-sign-on abilities for out modules (volunteers, dreams)

[2017-04-12 19:27] amotenko commented on #276
@ripper234 were you able to add a camp?

[2017-04-13 04:14] ripper234 commented on #276
I wasn't able to access the camps admin page and enter any data. The process is too complicated right now (see #284 ).

[2017-04-13 05:54] OriHoch commented on #41
done in #285

[2017-04-13 05:54] #41 closed, assigned to omerpines

[2017-04-13 05:56] OriHoch commented on #243
very nice work @ripper234

in this issue I thought more about manual testing scenarios

while of course it's much better to have automated tests like you started writing - a lot of times these tests don't get updated / people don't add tests etc..

I think that if we had a simple directory with plain text (or markdown) step-by-step scenarios it will be easier to update and add tests

it would also

[2017-04-13 05:57] OriHoch commented on #243
IMO both this issue and #95 should remain open - they deal with different (but overlapping) issues

[2017-04-13 05:59] OriHoch commented on #281
please provide some details -
* why OAuth specifically?
* what's the use case specifically for OAuth
* how it related to other SSO issues like #279 / #288

[2017-04-13 06:01] OriHoch commented on #279
#### related / possibly duplicate issues
* #281 - Spark should move towards OAuth
* #288 - Implement sso functionality

[2017-04-13 06:01] OriHoch commented on #288
#### related / possibly duplicate issues
* #281 - Spark should move towards OAuth
* #279 - Spark should provide real SSO functionality

[2017-04-13 06:02] OriHoch commented on #281
#### related / possibly duplicate issues
* #279 - Spark should provide real SSO functionality
* #288 - Implement sso functionality

[2017-04-13 06:02] OriHoch commented on #281
I'll be working on issue #288

[2017-04-13 06:02] OriHoch commented on #279
I'll be working on issue #288

[2017-04-13 06:03] OriHoch commented on #283
#### related issues
* #288 - Implement sso functionality

[2017-04-13 06:04] OriHoch commented on #288
@LeonFedotov @amotenko @rootux @omerpines
I'll write a specification / implementation guide for this

[2017-04-13 07:22] OriHoch commented on #288
Wrote the spec here:
https://github.com/Midburn/Spark/blob/master/docs/usage/SSO.md

let me know what you think..

[2017-04-13 08:47] LeonFedotov commented on #281
ok closing this as duplicate of #288

[2017-04-13 08:47] #281 closed, assigned to danielbenzvi

[2017-04-13 08:48] LeonFedotov commented on #279
duplicate of #288

[2017-04-13 08:48] #279 closed, assigned to nobody

[2017-04-14 06:06] OriHoch commented on #271
@noamr saved the day!

check out his response here: https://github.com/travis-ci/travis-ci/issues/7602#issuecomment-294014898

I guess we should just have smaller pull requests and merge quickly..

at the moment seems there are very large pull requests which are not merged - that's a problem regardless of the travis bug

I'll open an issue to deal with that

[2017-04-14 06:10] LeonFedotov commented on #271
@OriHoch it doesn't seem like the problem is fixed even with small pr's :(

[2017-04-14 06:13] OriHoch opened #292 "pull requests should be small and merged quickly"
at the moment seems there are very large pull requests (e.g. a lot of commits, open for a long time), some examples:
* #126
* #270

### TODO
* figure out why it happens
* update the contribution guidelines and the maintainers guidelines -
  * each pull request should have a related issue
    * the related issue should be well-defined, to the point, and with a clear outcome
    * (it's ok not to ha

[2017-04-14 06:13] OriHoch commented on #271
:sob:

opened an issue regarding handling of pull requests - #292

[2017-04-14 06:14] OriHoch commented on #271
@LeonFedotov - please link to a short pull request where it happens

[2017-04-14 06:15] LeonFedotov commented on #271
https://github.com/Midburn/Spark/pull/273

[2017-04-14 06:29] OriHoch commented on #271
I'm trying to build using travis api
[code]

[code]

[2017-04-14 06:44] OriHoch commented on #271
of course there was a silly mistake in last comment, now it works - editted the comment ^^

[2017-04-14 06:45] OriHoch commented on #271
of course I also exposed my token.. :palm_tree: :face_with_head_bandage:

[2017-04-14 06:46] LeonFedotov commented on #271
@OriHoch WOAH how you did it it did work!

[2017-04-14 07:28] amotenko commented on #292
I agree, it is a good practice

[2017-04-14 07:39] OriHoch commented on #271
ok, so, results of my investigations so far:
* travis works fine, you can start a build manually on travis using the code I wrote above
* the problem is that github does not notify travis to start a build

The only thing I haven't ruled out is the whole Midburn organization permissions

This still looks like some kind of permissions or settings problem on the organization level.

I think that only

[2017-04-14 07:53] asihud commented on #259
submitted in PR. done!

[2017-04-14 07:53] #259 closed, assigned to alondanoch, asihud, guywarburg

[2017-04-14 07:59] #277 closed, assigned to asihud

[2017-04-14 08:01] asihud commented on #267
closed, and fixed both hebrew / english.

[2017-04-14 08:01] #267 closed, assigned to asihud, amotenko

[2017-04-14 08:02] asihud commented on #262
fixed. for the random image we will consider to download images from the drupal.

[2017-04-14 08:02] #262 closed, assigned to asihud, amotenko

[2017-04-14 09:38] ripper234 commented on #95
As per @OriHoch's suggestion, reopening this to signify automated testing.
I wrote two tests in PR #282 (one of them is failing right now and so on "ignore").

[2017-04-14 11:55] OriHoch commented on #271
ok, I got full owner permissions, looking into it again now

[2017-04-14 19:26] ArtyomKa commented on #292
Question here. I opened the PR that has many commits, but I think the
problem is, not that I made a lot of commits, actually I changed several
files only, but most of the commits came from the upstream as I was
regularly pulling changes from the master. Is this a bad practice and I
should have merge upstream only when I was finished?

On Apr 14, 2017 10:28, "Alex" <notifications@github.com> wrote:

[2017-04-15 05:55] asihud commented on #258
fixes on release v2.2

[2017-04-15 05:55] #258 closed, assigned to omerpines, guywarburg

[2017-04-15 09:02] ArtyomKa opened #297 "Test files should be concentrated in one folder"
### Overview of the problem

Problem with the tests,  tests possibly failing.
### Description

Right now there test files are spread across the code base:
there is _test_ folder containing e2e tests
there is _tests_ folder containing unit tests
there are several more test files in the _routes_ folder

### Expected
I propose to create following structure:
[code]

[2017-04-15 10:05] OriHoch commented on #292
@ArtyomKa what you need to do when starting working on a feature / bug fix / anything that will result in PR
* go to master branch - `git checkout master`
* pull latest changes from midburn master - `git pull midburn master`  (assuming you have a remote named "midburn" which points to Spark/Midburn Github repo)
* create a new feature branch - `git checkout -b 123-my-feature-or-bug-fix-title`
* mak

[2017-04-15 10:07] amotenko opened #298 "Spark should provide temporary solution for authentication based on cookies"
We will do a quick solution for now before implementing the full solution based on this specification [link].

Since spark and volunteers, although separate processes, will run on the same domain, this will allow us to exploit a solution based on storing cookies in the user's browser. The flow is as follows:

User not logged in:
Opens up Volunteers,
Volunteers check for existence of authentication

[2017-04-15 12:58] ArtyomKa opened #303 "Volunteers api cleanup"
### Overview of the problem
All shift management moved to Volunteers module server side DB.
So some of the defined tables are no longer required.

### Description
_vol_shifts_ and _vol_schedule_ tables need to be deleted and references removed from other tables.

[2017-04-15 15:15] mrohad commented on #298
I plan to require https://www.npmjs.com/package/express-session

[2017-04-15 15:29] mrohad commented on #298
Oh I see that you guys already init express-session. Awesome, I will utilize it.

[2017-04-15 15:35] amotenko commented on #298
Usage of second-person plural is prohibited
;)

On Sat, 15 Apr 2017, 18:29 Ohad, <notifications@github.com> wrote:

[2017-04-15 15:39] mrohad commented on #298
My bad :-)
I will use the
var session = require('express-session'); that is being created in app.js line 7

[2017-04-16 07:19] asihud commented on #271
@OriHoch
it seems the issue is not solved.
if i want to upload & deploy release, what is needed to send in the TRAVIS_POST_BODY ?

TRAVIS_POST_BODY='{
  "request": {
    "branch":"LeonFedotov-patch-1"
  }
}'
it seems that changing the branch to v2.2.2 , works fine on the travis testing, but it does not deploy it for spark (or givving it different name).
can we have a solution for that , or i will

[2017-04-16 07:52] OriHoch commented on #271
full details about the travis request body are here -
https://docs.travis-ci.com/api#requests

I think you will need to do something like this:
[code]

you can also deploy manually without travis

[2017-04-16 08:13] asihud commented on #271
@OriHoch
it doesnt seems to be working.
i'll try to put both branch and tag, and see if it is happening.
(for some reason, it did not execute at all)

[2017-04-16 13:15] OriHoch opened #307 "should have an alternative for deployment without travis"
seems there is a problem with travis, should have a simple alternative to deploying without travis

[2017-04-16 13:25] OriHoch commented on #307
looks like [this guide](https://github.com/Midburn/Spark/blob/master/docs/development/manual_deployment.md) works, running it locally now:
[code]

[2017-04-17 10:15] OriHoch commented on #271
I updated the title - it seems the issue is more general, and travis doesn't get any notifications from github

same problems happens with Codeship - I set it up for Midburn/Spark and - same problem.. I opened a support request for Codeship, hopefully they will shed some light on the issue

At the moment, we have workarounds which allow us to work with this problem, see in comments on this issue o

[2017-04-17 11:53] #280 closed, assigned to ArtyomKa

[2017-04-17 11:57] ArtyomKa commented on #123
Most of the api (except the logged-in user volunteer info) was implemented in #126 and #272 , I think this one can be closed.

[2017-04-18 08:47] ArtyomKa opened #310 "Camp Membership screen display bugs"
Minor Display bug camps membership status screen

### Overview of the problem

### Description

An integer shown near camp name (I'm guessing camp id)
Status appears in English when selected language is Hebrew
![photo6028077288626694330](https://cloud.githubusercontent.com/assets/595596/25122106/72840e44-242c-11e7-899f-b505d785397f.jpg)

### Steps to Reproduce

### Expected behavior

### Actual be

[2017-04-18 13:57] OriHoch commented on #271
the issue is that Midburn organization was downgraded to free plan while still having private repositories

GitHub blocked all web hooks

Need Midburn org to sort out the billing / delete the private repositories

[2017-04-18 17:03] amotenko opened #311 "Spark should have a monitoring and alerting solution"
At the most basic level we need something that monitors our various services and sends alerts in the relevant slack channels if anything is down.

At a more advanced level the monitoring service can attempt restarting the fallen service.

[2017-04-18 17:04] amotenko commented on #311
Also consider load balancing and auto-scaling

[2017-04-18 19:09] ArtyomKa commented on #311
I tested [StatusCake](https://www.statuscake.com/) monitoring service. Looks like it works... Got slack integration to work it sends messages on #sparksystem_status channel I opened for that purpose.

The problem is that the free version is allowing only one account to manage the monitoring settings. So we either use some system account (we probably have one for managing the Amazon services), get

[2017-04-19 05:49] #307 closed, assigned to nobody

[2017-04-19 05:51] OriHoch commented on #271
ok, looks like github removed the limitations, integrations seem to work now

[2017-04-19 05:51] #271 closed, assigned to nobody

[2017-04-19 06:51] OriHoch commented on #311
@amotenko - regarding load balancing and auto-scaling - not sure what you meant..
what I meant was that we need to have the servers support auto-scaling and load-balancing (which we don't at the moment)
once servers support that, monitoring should monitor it but that's only secondary to actually having autoscaling..

[2017-04-19 07:10] amotenko commented on #311
I meant what you meant. That we should probably have the amazon load balancer and auto scaling enabled, and those should report to the monitoring system.
@OriHoch

[2017-04-19 07:17] OriHoch commented on #311
cool, worth to open a separate issue for that and write what the high-level requirements are for this functionality

[2017-04-19 07:31] amotenko commented on #311
will do

[2017-04-19 08:11] asihud opened #314 "Cannot login into spark"
Some of the users, cannot login into spark.
there is returned error:
ERROR app.js : Possibly Unhandled Rejection at: Promise
	{"isFulfilled":false,"isRejected":true,"rejectionReason":"Incorrect arguments"}
and the login proccess is hanged.

[2017-04-19 14:48] asihud commented on #314
@roy.zahor did some debug about my issue. it seems that it fails on models/user.js at:
    validPassword: function (password) {
        return bcrypt.compareSync(password, this.attributes.password);
    },
it seems that if this.attributes.password=null, it is automatically throw the exception.
this is coming from passport.js at line 50
            else if (!user.validPassword(password)) {

[2017-04-19 15:04] asihud commented on #314
fixed that in last PR.

[2017-04-19 15:05] asihud commented on #284
not relevant.

[2017-04-19 15:07] asihud commented on #276
@guywarburg , see if you can pick this small issue.

[2017-04-19 15:22] asihud opened #318 "#Camps - Phase 2"
### Spark #Camps module, Phase #2
* note: All tasks will spreaded into small issues, upon pickup.
- [x] Edit Camp - Additional Information -
Show the camp_location_area field (near the camp_location_street_time)
the fields: camp_location_street, camp_location_street_time, camp_location_area
should be read only on the GUI, and editable for role admin.
  * note: please make sure, that on save, only

[2017-04-19 15:27] OriHoch commented on #284
@asihud is it resolved? is it now easy for new developers to start working on camps?
please write why you think it's not relevant
I also had this issue - could not start working on camps

[2017-04-20 08:25] asihud commented on #287
this is done!~

[2017-04-20 08:25] #287 closed, assigned to netanelben, natekonimbo

[2017-04-20 08:48] asihud commented on #284
no, it is not resolved.
do you suggest to populate all camps data within the project ?

[2017-04-20 08:59] OriHoch commented on #284
yes, we should have some process that loads test data (AKA fixtures)
this allows for:
* quick start for new developers
* reliable reproduction steps - if you reproduce bugs on the same data, you have less problems of "it works on my machin"
* use in unit tests - it is easier to write tests if you use the same data for both dev and test

I think @ripper234 even wrote some perliminary code to help d

[2017-04-20 10:49] ripper234 commented on #284
#282 is not really related to this issue.

However this issue is very relevent. It's very difficult to get started working with the camps module. We should strive that our dev env will be fully populated with data after the steps described above.

Currently I'm not even sure what's the process to get started working on camps, it's not documented anywhere, not to mention not automated.

We don't ne

[2017-04-20 16:43] rootux opened #322 "Camps - Facebook share looks wrong"
Apparently the og:description tag is not being used - I believe it's something related to the iframe - not sure but it looks bad when shared.

![18051999_10209801657853548_958760809_n](https://cloud.githubusercontent.com/assets/1032526/25242202/7bda3a96-2601-11e7-8dcd-d3438943b711.png)

[2017-04-21 08:53] #314 closed, assigned to nobody

[2017-04-21 15:49] ArtyomKa opened #323 "investigate Spark web app crashes"
### Overview of the problem
Spark system crashed twice in one week. Site was unreachable..

* #324 Apr. 18
* #325 Apr. 21

### Description
Spark system crashes once in a while, logs don't show apparent problem. Current workaround is restarting the service.
log file from last incident can be found here
[syslog.zip](https://github.com/Midburn/Spark/files/947577/syslog.zip)

[2017-04-21 16:38] OriHoch commented on #323
I'll see what can be done to increase spark stability

my idea at the moment is to use AWS autoscaling + load balancer - so that at least when spark goes down it will automatically go back up

[2017-04-21 17:06] OriHoch commented on #322
it's a share from Feb. 13 - I think it works OK now

![image](https://cloud.githubusercontent.com/assets/1198854/25288424/0a17dfb2-26ce-11e7-84c7-a79db4f0220f.png)

[2017-04-21 17:17] OriHoch opened #324 "[Incident] Production down-time Apr. 18, 2017"
### timeline (Israel time, Apr. 18, 2017)
@ArtyomKa [6:44 PM]
Production is down...:confused:
@ArtyomKa [6:48 PM]
Hey All. Looks like production is down... 504..
also no ping
Ran Goldi [7:09 PM]
Couldn’t see what’s wrong via AWS, restarted the server
[7:10]
now it’s responsive. but we have a 504 bad gateway response
@johnyzed [7:41 PM]
i just restarted the service

[2017-04-21 17:18] #324 closed, assigned to nobody

[2017-04-21 17:21] OriHoch opened #325 "[Incident] production down-time Apr. 21, 2017"
### timeline (Israel time, Apr. 21, 2017)
@ArtyomKa  [5:21 PM]
production is down.
Ori Hoch [7:56 PM]
spark is back

[2017-04-21 17:21] #325 closed, assigned to nobody

[2017-04-21 17:35] OriHoch commented on #323
inspected the logs around the time of the Apr.21 incident, looks like last log before crash it to `/users/USERID/join_details` at Apr 21 14:14:31 (UTC)
then web-app is silent until restarted

[2017-04-21 18:51] OriHoch commented on #323
logs around the time of the Apr.18 incident have last log entry at 15:07:58 (UTC) - a GET request to /he/login

I don't see any relevance to which requests were done at time of the incident

[2017-04-21 18:57] OriHoch commented on #323
![image](https://cloud.githubusercontent.com/assets/1198854/25292139/8c711a96-26dd-11e7-8ee4-bb8ec5ecce4a.png)

[2017-04-21 19:00] OriHoch commented on #323
![image](https://cloud.githubusercontent.com/assets/1198854/25292222/e392421e-26dd-11e7-9c8a-f89e69578def.png)

[2017-04-21 19:05] OriHoch commented on #323
![image](https://cloud.githubusercontent.com/assets/1198854/25292404/a0304a56-26de-11e7-94fd-2e254c1d255d.png)

[2017-04-21 19:11] OriHoch commented on #323
[code]

lot's of connection timeouts (a few per minute), they look like this:
[code]

last one is at 15:27 - then I guess app crashed

[2017-04-21 19:18] OriHoch opened #326 "[Task] review the nginx / node production configuration (focus on stability and performance)"
We got some problems of web app crashing unexpectedly
See summary of this issue here: #323

Need to review the nginx and node configurations and see if something there might cause problems

### TODO
ssh to the spark production server
- [ ] review nginx configuration (/etc/nginx)
  - including all relevant configuration files
  - including the spark site configuration
- [ ] review the node server c

[2017-04-21 19:29] OriHoch opened #327 "[Task] should support basic (manual) autoscaling group with load balancer"
Spark server seems overloaded and crashes, we should support autoscaling and load balancer to support fast recovery and server redundancy

This issue details the most basic requirement to improve stability in minimal time

### overview of expected outcome
- [x] AMI with support for getting Spark version along with the .env file in userdata
- [x] Launch configuration with latest Spark version and a

[2017-04-21 19:31] OriHoch commented on #323
seems the problem is simply due to server being overloaded

closing the issue for now as I don't think more work is needed regarding this investigation

opened follow-up tasks to resolve the stability problems
- #326
- #327

[2017-04-21 19:31] #323 closed, assigned to OriHoch

[2017-04-21 19:40] OriHoch commented on #327
seems we already have a load balancer - it's just not in use yet.. @amotenko - could you please link to the issue where this load balancer was added? Can I use this load balancer? Is someone else working on this?
Waiting for your reply before I continue to work.. It seems there is someone else working on similar issue

[2017-04-21 19:41] OriHoch commented on #327
load balancer is called "spark-production" - seems that it's configured correctly with SSL (different certificate from production server though) - and it contains the spark-production instance
it's just that DNS is not pointing to this load balancer so it's not in use

[2017-04-21 20:27] rootux commented on #323
Can we in the meanwhile increase the server power? @OriHoch

[2017-04-22 05:07] OriHoch commented on #327
ok, I'm going to create a new load balancer "the-real-spark-production" and use that..
see #328 regarding the old "spark-production" load balancer

[2017-04-22 05:08] OriHoch opened #328 "[Task] find out what's the "spark-production" load balancer meant to be used for"
there is an existing load balancer on AWS called "spark-production"
not sure who configured it and how
it's not in use

need to find out what it is and delete it if not needed..

in #327 I'm going to use a new load balancer called "the-real-spark-production"

[2017-04-22 05:09] OriHoch commented on #323
not that simple because currently we have direct DNS setup directly to the instance
I'm working on #327 - will try to get something working ASAP

[2017-04-22 05:14] OriHoch commented on #327
- [x] create new security groups:
  - the-real-spark-production-load-balancer - (open for HTTP and HTTPS)
  - the-real-spark-production-instances (open for SSH, open for HTTP only from the load balancer, open for port 82 for the load balancer - to redirect http to https)
- [x] create AMI from spark-production instance (Without reboot) - `spark-production-2017-04-22
ami-aed9dfc8`
- [x] launch insta

[2017-04-22 06:34] OriHoch commented on #327
### userdata template
[code]

### /etc/nginx/sites-enabled/midburn-spark
[code]

### /opt/spark/deploy.sh
[code]

[2017-04-22 07:33] LeonFedotov commented on #323
maybe we can use [forever](https://github.com/foreverjs/forever) to automatically manage node drops, Iv'e had the pleasure to use it in the past and its pretty straight forward.

[2017-04-22 07:36] OriHoch commented on #323
@LeonFedotov - these kinds of suggestions are what I was looking for in this issue - #326
currently I'm working on autoscale, but any changes to how nginx / node is running are welcome

[2017-04-22 07:42] LeonFedotov commented on #323
Great, sorry i missed it - at any case forever will work as drop-in
replacement for node
On Sat, 22 Apr 2017 at 10:36 Ori Hoch <notifications@github.com> wrote:

--
Leon. Everything web.
leonfedotov.com

[2017-04-22 07:43] OriHoch commented on #327
done, see [v2.2.3](https://github.com/Midburn/Spark/releases/tag/v2.2.3)

[2017-04-22 07:43] #327 closed, assigned to OriHoch

[2017-04-22 07:59] OriHoch commented on #326
@LeonFedotov suggested to use forever

[2017-04-22 08:01] OriHoch opened #329 "[Task] remove the old spark production instance after we are sure the new load balancer works and dns was propogated"
in [v2.2.3](https://github.com/Midburn/Spark/releases/tag/v2.2.3) we changed to use a load balancer + autoscaling group

the old spark production instance is still running to ensure smooth transition

after 48 hours - if everything is in order, the old instance can be terminated

[2017-04-22 08:07] OriHoch opened #330 "[Task] investigate error when running migrations on spark production"
### reproduction steps
* ssh to spark production instance
* `cd /opt/spark/latest`
* `./knex migrate:latest`

#### expected
* no migrations run / no errors

#### actual
[code]

[2017-04-22 09:09] asihud opened #331 "cannot debug #camps module, as I run out of coffee."
I run out of coffee.
Usually working with tester's choice.
tried different coffee, but still, debug is not working right.

any suggestion of other brand, that works well with debug?

[2017-04-22 09:19] LeonFedotov commented on #326
https://github.com/foreverjs/forever 👋

[2017-04-22 10:08] ArtyomKa opened #332 "Travis should run migrations on mysql-server also."
### Overview of the problem
Some of the migrations pass on dev environments (sqlite) but fail on staging-production. Most of the developers don't run local versions of mysqlserver, so we only discover that we have broken migrations when we are about to deploy a version to either staging, which is probably too late...

### Description

### Steps to Reproduce
In current code version v2.2.3 migration

[2017-04-22 10:09] ArtyomKa commented on #330
I also see these when running migration on local mysql server. Looks like mysqlserver and sqlite behave somewhat differently, especially regarding foreign keys, and _knex_ lets you find out about this the hardway... Another problem is that travis runs migrations only on sqlite, so the we have bad migrations leaking into the master branch. Opened another issue on that #332

[2017-04-22 10:46] ArtyomKa commented on #330
@OriHoch @amotenko @LeonFedotov
This is what i think happened:
at first, volunteers table was created with compound primary key on `user_id`, `deparment_id` and `event_id`.
after the initial migration was merged and deployed to staging. I decided to create an id column that will be a PK and the combination of the three columns should be unique. But sqllite wouldn't let me drop compound PK. so I de

[2017-04-22 16:34] OriHoch commented on #332
should be relatively easy to do - need to modify .travis.yml to:
- [ ] setup mysql  - this is well documented on travis and elsewhere
- [ ] modify the .env file used by travis to use the mysql DB instead of the default sqlite
  - this can be done by creating a .env.travis file and have the travis scripts copy that to .env file

[2017-04-22 16:52] OriHoch commented on #330
the migrations fail on the last line of this migration -
https://github.com/Midburn/Spark/blob/master/migrations/20170308194741_recreate_volunteers_table.js#L29

seem to me if you just remove that line everything should work properly..

however, it seems some very wierd things are happening with migrations, I think people are not using them correctly, for example, I don't understand how the tables

[2017-04-22 19:48] ArtyomKa commented on #330
@OriHoch
I tried removing the suggested line, other problems appear.

I also tried executing the sql statement that knex generates directly in mysql console, got error num. 1215. From reading about it a little on SO appears that foreign key can only be defined on indexed columns. Right now Looks like the best solution is to comment out all foreign keys declarations drop all volunteers table shift

[2017-04-22 19:53] ArtyomKa commented on #332
OK. Thanks I'll do that. But I want to fix the migrations locally first...

[2017-04-22 19:54] OriHoch commented on #330
I think the other problems are due to camp members migration

your plan sounds good

another option - reset migrations

[2017-04-23 05:49] OriHoch commented on #332
@ArtyomKa I'll work on that, maybe help with the migrations as well

[2017-04-23 05:54] asihud commented on #330
I myself executed the migration on production, once created the production databases, and imported all the camps data.
We had some issues with migration then (also because of foreign key, that mysql cannot use foreign key for unsigned fields or signed field. can't remember, but it is github documented),
but eventually everything worked flawless.
@OriHoch suggestion that something done manually is

[2017-04-23 05:58] asihud commented on #331
@OriHoch is not helping.
took @omerpines idea to get nespresso machine.
closing this issue.

[2017-04-23 05:58] #331 closed, assigned to OriHoch

[2017-04-23 06:00] ArtyomKa commented on #330
I have a theory on how the camps migrations where executed before the volunteers:
* Both where created on different branches.
* Volunteers migration was created before the camps
* Camps where merged into the master and executed on  the server before the volunteers migration was merged.

Yes. having smaller PR and shorter living feature branches would have solved that.

[2017-04-23 06:04] OriHoch commented on #330
https://github.com/Midburn/Spark/pull/333

[2017-04-23 06:22] OriHoch commented on #332
#333

[2017-04-23 08:19] omerpines opened #335 "[Task] Deploy new Spark version to Production"
This is about the Spark Theme Camps module / Core

### Description

Deploy the latest Spark version (currently deployed to Staging, ver 2.3.0 [Updated]) to the production servers.

Note that we now have two production servers with load balancing. Deploying instructions: https://github.com/Midburn/Spark/blob/master/docs/development/releases-and-deployment.md#deploying-a-published-release

[2017-04-23 08:24] OriHoch commented on #335
@omerpines  - v2.2.3 is on production

staging is always updated with every push to master (discussed to stop this at some point, don't know what happened with that)

currently there is a draft release (v2.3.0) - you can see it on releases page - https://github.com/Midburn/Spark/releases

this release should be published, and then we can deploy it

[2017-04-23 08:25] OriHoch commented on #335
the releases and deployment document you linked to contains all the details regarding this process - publishing a release, merging etc..
https://github.com/Midburn/Spark/blob/master/docs/development/releases-and-deployment.md

[2017-04-23 08:26] OriHoch commented on #335
also, I'm pretty sure release notes are not updated, which I believe should be required before publishing a release

[2017-04-23 13:18] asihud commented on #335
@OriHoch
i've published the release.
Would you be kind enough to upload the release ?

/spark-deploy v2.3.0
command from the bot, return an error:
<div id="content">
<p>The following error was encountered while trying to retrieve the requested URL:</p>
<blockquote id="error">
<p><b>[Error Code: 1008] Connection to the client IP address failed.</b></p>
</blockquote>
<p>The remote host or network ma

[2017-04-23 13:23] OriHoch commented on #335
please read the deployment document that @omerpines linked to above - we now have different more complex configuration with load balancer and autoscaling group and the deployment process changed

[2017-04-23 13:35] asihud commented on #335
@OriHoch ,
I've read the document, but the documents is not clear enough to do the process and i myself do not understand much about it.
who wrote the document, or has all the information to execute it ?

[2017-04-23 13:49] OriHoch commented on #335
I wrote it, you can try to get DevOps people to help - it uses standard AWS methods for deployment

I'll be able to do it tonight

[2017-04-23 14:21] omerpines commented on #335
Escalated to DevOps team: http://jira.midburn.org:8080/browse/DEVOPS-25
Also requested in Slack.

[2017-04-23 19:38] OriHoch opened #339 "[Task] investigate error on production with v2.3.0"
after failed deployment of v2.3.0 I see this error in logs of one of the failed instances

no sure if it's the cause of the problem, but worth to investigate
[code]

[2017-04-23 20:25] asihud commented on #339
this might get the instance to crush, ill check that.
can i have access to the all log?
further more, is there any way to do upload releases easily? every crash like that , that require to upload a version quickly, makes it hard to manage.

[2017-04-24 13:08] asihud opened #342 "#camps - hide unapproved camp_member phone"
### Overview of the problem
When camp manager add a member, if the member is available in the spark users,
he will see his/her phone number, before the approval.

### Steps to Fix
On /members api call, we need to remove the unneeded fields regard the logged user security. (admin will see the phone numbers)

[2017-04-24 17:50] asihud opened #343 "#Camps small issue bugs"
- [ ] Sort the camp list in A..B order
- [x] Remove all the tickets status to hold (will not show the ticket status, disabled until the gate team will sync all tickets.
- [ ] Add Search for admins, to know where a specific user email is listed. (on which camp)
- [x] Delete camps members on inactive camps, who are admin. they cannot register to another camp.
- [x] Edit camp on explorer not working

[2017-04-25 06:18] asihud commented on #339
this issue was solved at v2.3.1.

[2017-04-25 06:18] #339 closed, assigned to nobody

[2017-04-25 08:29] OriHoch opened #344 "[Task] review system stability and performance after v2.3.1 deployment"
## load balancer stats last 24 hours (data points are per minute)
![image](https://cloud.githubusercontent.com/assets/1198854/25376224/16bee964-29ac-11e7-8855-18641782c853.png)

## autoscale instances cpu utilization
![image](https://cloud.githubusercontent.com/assets/1198854/25375136/6ec39d84-29a8-11e7-8335-2e2ff72b8a4e.png)
![image](https://cloud.githubusercontent.com/assets/1198854/25375165/809

[2017-04-25 08:35] OriHoch commented on #344
overall looks good

peak load was 800 requests per minute during the night

some points worth to consider for follow-up:
* CPU utilization spike - on both instances
* backend connection errors during the deployment
* latency spikes

[2017-04-25 08:36] #344 closed, assigned to OriHoch

[2017-04-25 08:46] OriHoch opened #345 "[Task] investigate why errors in code cause server to crash and are not found on test environment"
there were a few cases where errors caused the server to crash (for example: #339)

need to investigate those cases (or the spark code in general) and find out:

 - [ ] why errors in code cause the entire node process to crash
 - [ ] why these errors are not reproduced on test environment

[2017-04-25 08:46] OriHoch commented on #339
thanks, opened follow-up issue: #345

[2017-04-25 12:02] noam-almog commented on #345
Not sure what the logs are, but if we don't dump them to /var/logs we should
[code]

[2017-04-25 12:03] noam-almog commented on #345
as for node crashing for no good reason, we are using node 7.4 which is by definition unstable, we should either consider downgrading to 6.10.2 or upgrade to latest unstable release (7.9)

[2017-04-25 12:26] OriHoch commented on #345
regarding logs, we use systemctl which logs all output to /var/log/syslog

feel free to send a pull request or issue if you think we should change it to the method you suggested

ran this on production instance just now (censored sensitive details)-
[code]

[2017-04-25 12:28] OriHoch opened #346 "should change to a stable NodeJS version"
@noam-almog wrote:

[2017-04-25 12:28] OriHoch commented on #345
@noam-almog opened an issue for changing the Node version - #346 - feel free to do it

[2017-04-25 12:29] noam-almog commented on #345
@OriHoch what about error log, do you also see exceptions there ?

[2017-04-25 12:31] OriHoch commented on #345
I think so
[code]

[2017-04-25 12:40] OriHoch opened #347 "integrate with opbeat for easy debugging and better error reporting on production"
[opbeat](https://opbeat.com/) provides error reporting for remote debugging on production instances

It has very easy integration with nodeJS and is free

[2017-04-25 12:40] OriHoch commented on #345
also related: #347

[2017-04-25 18:42] roy-zahor commented on #274
"rewrite everything in Rust" --- Why? What's wrong with JavaScript? Rewriting everything sounds bad for me.

[2017-04-25 18:45] amotenko commented on #274
Hi!
Rewrite everything in Rust is a joke.., albeit not a good one.

On Tue, 25 Apr 2017, 21:42 Roy Zahor, <notifications@github.com> wrote:

[2017-04-26 05:28] asihud opened #349 "Getting Art department csv data for import"
The Art Department behaves like camps, where it comes to members in the art group.
For early arrival quota and all basic information,
we might want to take all the art_exhibit list, with their members, and import them.

- [x] Get the excel, set the fields to match the camps import data.
- [x] Create import file that can import with art __prototype
- [x] Create menu to show Art exhibit.
- [x] Copy

[2017-04-26 06:46] OriHoch commented on #335
version v2.3.1 was deployed

[2017-04-26 06:46] #335 closed, assigned to nobody

[2017-04-26 07:49] roy-zahor commented on #330
https://github.com/Midburn/Spark/pull/338 might solve this issue.

[2017-04-26 10:48] OriHoch opened #350 "should have documentation / guide regarding how to use the knex migrations"
we ha(ve|d) some problems with misuse of the migrations system (hopefully we will fix the current problems)

 we should have good documentation to prevent these problems from happening again

maybe there is some existing intro to migrations we can link to

the problems were both specifically with Knex but also generally with what migrations are and how they should be used

[2017-04-26 10:53] OriHoch commented on #330
this issue is about investigating why it happened, I think we know now :+1:

[2017-04-26 10:53] #330 closed, assigned to nobody

[2017-04-26 19:30] amotenko opened #351 "Spark Dev should allow reverting to a known state of the database"
Today we have a problem of running tests locally against a mysql database. Unlike when we used sqlite we don't have a solution to reset the database to a known, populated state, yet.

[2017-04-26 19:44] amotenko opened #352 "Spark should provide an endpoint to Volunteers with volunteer roles meta data"
Volunteer roles ( not to be confused with system roles) should be available in an endpoint volunteers/me (or volunteers/info, I'm not judging)

[2017-04-26 19:47] amotenko opened #353 "Spark should provide a button to redirect to volunteers homepage"

[2017-04-26 19:47] amotenko commented on #353
That looks like the button for campa

[2017-04-26 19:47] alondanoch opened #354 "Fix sub routing for cards in /camps-admin"
changing tabs but router stays the same

![image](https://cloud.githubusercontent.com/assets/3105233/25453621/51299758-2ad2-11e7-826a-690e304530a0.png)

[2017-04-27 03:24] OriHoch commented on #351
how did we do it for sqlite? i was not aware of any existing method to do that for sqlite

generally, we should use knex so it doesn't matter  if it's sqlite or mysql

[2017-04-27 07:28] ArtyomKa commented on #351
sqlite was using a different file for tests. Running `npm test` was deleting the file, running migrations and executing the tests.
I think something similar should be here... using separate db for tests (say `spark_tests`) running some script  that drops the db if it exists, running migrations and then tests.

[2017-04-27 07:34] ArtyomKa opened #357 "Recreate Volunteers DB"
### Overview of the problem
Volunteers DB Migration  files were disabled because they failed on mysql. New migrations needed to create the Volunteers DB.

[2017-04-27 07:55] roy-zahor commented on #351
@ArtyomKa @amotenko
https://github.com/Midburn/Spark/pull/355 Might solve this.
Pull from master and run **npm run-script createdb**. This should bootstrap a new DB, so you will be able to run knex migrate:latest without any problems. If you find any errors, please comment and tag me.

[2017-04-27 11:33] OriHoch commented on #351
@ArtyomKa - yes, what you said is what we need..

[2017-04-27 13:44] #354 closed, assigned to alondanoch

[2017-04-30 06:25] #351 closed, assigned to nobody

[2017-04-30 16:31] asihud commented on #345
@OriHoch
Since the error are logged, my suggestion that all error that pop up to the exception point,
should be logged and send to email or to slack channel.
so everyone can see them, and open/fix issue about them.

[2017-05-01 07:57] OriHoch commented on #345
@asihud #347 provides all that

[2017-05-02 15:12] ArtyomKa commented on #303
Resolved in #358

[2017-05-02 15:12] #303 closed, assigned to ArtyomKa

[2017-05-03 13:55] #357 closed, assigned to ArtyomKa

[2017-05-03 20:41] ArtyomKa opened #366 "Volunteers migrations."
### Overview of the problem
Migrations on staging DB fail.

I tried to recreate the volunteers tables. Created PR #358 adding to migrations files - One creating 3 tables and another one setting up the relations. (two FK).
Everything worked on a clean DB. tests pass, so I merged the PR. Migrations failed on staging because DB still contains tables from previous migrations problem (which I thought w

[2017-05-04 04:34] OriHoch commented on #366
yes, I think that's what we need to do - fix the DB state manually and sync it to migrations state

This should be done in relation to all tables, including camps, volunteers etc.. which also had these problems

bottom line, need to do the following manually on both dev and production environments:

* editing knex migration table manually - and "faking" that all migrations ran
* manually making su

[2017-05-04 17:13] ArtyomKa commented on #366
I've done as suggested. Deleted all volunteers tables. Deleted from `knex_migrations` table the last line from partial migration. Restarted the build on Travis -> build and deployment passed.

[2017-05-04 17:13] #366 closed, assigned to nobody

[2017-05-09 11:25] asihud opened #368 "#Camps: Add new groups as camps"
## Camps module support new features:
- [x] Camps __prototype should have theme_camps, art_exhibit, prod_dep
- [x] Need to add field early_arrival_quota that was assigned in json_data before.
- [x] Update all /camps api command, to have the same commands for art & dep
- [x] Create admin tabs for ART and DEPARTMENT , to edit all. (like admin camp)

## Update the import script
- [x] on the import sc

[2017-05-09 18:55] OriHoch opened #370 "[Incident] down-time on staging 9 May, 2017"
* stage environment is down, going to http://sparkstaging.midburn.org/ - returns 502 Bad Gateway error

[2017-05-09 18:55] OriHoch commented on #370
I'm investigating

[2017-05-09 19:04] OriHoch commented on #370
* fixed by changing the /opt/spark/start.sh script to use the .nvmrc file
* this is the new file on staging:
[code]

[2017-05-09 19:06] OriHoch commented on #370
fix was done directly on staging

when deployment to production will be done - it will **not** work! I'll open a new issue for fixing it on production

[2017-05-09 19:06] #370 closed, assigned to OriHoch

[2017-05-09 19:07] OriHoch opened #371 "[Task] should ensure production environment uses the .nvmrc file"
see #370 - there was a problem on staging that it didn't use the .nvmrc file

should ensure this is fixed on production as well

for production it's a bit more complicated - might need to create a new AMI file

[2017-05-10 05:55] roy-zahor commented on #346
We are now using node features that are not available in 7.4.0. So, in .nvmrc file I have updated to 7.9.0.
Production server needs to be updated as well, see https://github.com/Midburn/Spark/issues/371

[2017-05-10 05:55] #346 closed, assigned to nobody

[2017-05-10 05:58] roy-zahor commented on #231
Folks, any updates?

[2017-05-10 06:05] roy-zahor commented on #252
@johnyzed Done?

[2017-05-10 08:08] OriHoch opened #372 "test environment should be open to the public"
### reproduction steps
* be a developer that looks for open source project to contribute to
* browse github for interesting projects
* find Midburn/Spark repository
* look at the issues list
* find a nice starter issue which looks easy to fix
* look at the reproduction steps of this issues - find a URL to staging environment
* click on this link

#### expected
* go to the staging environment, see

[2017-05-10 09:54] OriHoch commented on #372
Ran Goldi:

[2017-05-10 11:49] noam-almog commented on #346
@roy-zahor 7.10.0 is out, better to use it, no ?

[2017-05-10 12:15] omerpines commented on #372
Expected:
1. Developers should not work on staging but in their local environment.
2. Staging should serve the QA and tech team (mainly management).
3. Staging should have an open limited demo user (predefined for that purpose) for anyone to use (can indicate this on the login screen). This is to prevent access to sensitive information in the system (e.g. personal information)
4. Super user to the

[2017-05-10 15:11] roy-zahor commented on #346
@noam-almog I guess you are right

[2017-05-10 17:40] #342 closed, assigned to mrohad

[2017-05-11 07:14] roy-zahor commented on #346
The issue is closed, but I comment to have a documentation:
As discussed yesterday, we will keep 7.9.0 at least for the next month up until the event.

[2017-05-11 07:39] LeonFedotov commented on #371
@OriHoch i'm not sure how to validate this.

[2017-05-11 08:18] LeonFedotov opened #381 "Some migrations are failing in production due to insufficient permissions of the spark user"
Hello, some migrations failed due to missing permission of the spark user, seems like `CREATE TRIGGER` requires super privileges.
two possible solutions:
A: run the migrations as root.
B: add super to spark user.
@OriHoch please advice.
attached error message:
[code]
[code]

[2017-05-11 08:18] LeonFedotov commented on #381
@ArtyomKa @roy-zahor @asihud FYI

[2017-05-11 08:40] roy-zahor commented on #381
It appears that this error is probably related to Amazon configurations:
http://stackoverflow.com/questions/11601692/mysql-amazon-rds-error-you-do-not-have-super-priviledges

[2017-05-11 08:44] roy-zahor commented on #381
@LeonFedotov @OriHoch
Amazon official article about this:
https://aws.amazon.com/premiumsupport/knowledge-center/rds-mysql-functions/
There are some security concerns when enabling triggers, so we must restrict the mysql socket of the db to localhost only.

[2017-05-11 08:47] LeonFedotov commented on #381
for me to follow the tutorial i need more privileges im getting
`User: leon is not authorized to perform: rds:DescribeDBInstances (Service: AmazonRDS; Status Code: 403; Error Code: AccessDenied;`

[2017-05-11 12:04] LeonFedotov commented on #381
Done, followed the [stackoverflow](http://stackoverflow.com/questions/11601692/mysql-amazon-rds-error-you-do-not-have-super-priviledges) @roy-zahor posted.

[2017-05-11 12:04] #381 closed, assigned to LeonFedotov

[2017-05-11 13:01] ArtyomKa opened #383 "[Task] Volunteers departments table import data"
### Overview of the problem
Volunteering Departments table should be populated with Midburn-Departments

Data can be found [here](https://docs.google.com/spreadsheets/d/1wRGdGDUY2fA5Wx05WFget2dHunNV8RS8dUbQK1t_p5c/edit?usp=sharing)

[2017-05-11 14:42] OriHoch commented on #371
in the syslog you can see the running node version

this is on stage, should be similar on production (maybe grep for "node v")

[code]

[2017-05-11 14:44] LeonFedotov commented on #371
Seems to work now, but I manually created the AMI that points to stable and installed 7.9.0

[2017-05-12 12:14] ArtyomKa commented on #353
The button was created and now points to the correct url: http://volunteersstaging.midburn.org, but
 redirects from there back to spark.
I think has something to do with the cookies mechanism.
@noam-almog

[2017-05-13 10:15] #383 closed, assigned to nobody

[2017-05-15 07:19] asihud opened #389 "#Camps: add export to excel for all tables"
## Export to Excel/CSV
this small task is to implement on angular tables
(on admin: camps-admin)
add an export to excel button, on click, will take all displayed data on the grid, and will export them to excel.

* This task is very critical, because it gives department manager to export their data and do statistic on it.

[2017-05-15 08:12] asihud opened #390 "#Spark: Create event properties editor"
## Event_id editor
As we all know, the current event_id field that is set to MIDBURN2017,
is installed on the constants, and soon to be removed and all its information is stayed in the events table.

on the events table, there is json_data field which hold all the event specifiec information.
The information is usually, enable/disable for some features on the event.
the json_data should be:

{ "gr

[2017-05-16 19:24] LeonFedotov opened #396 "Api for mobile gate app"
- add groups (id, type, name)
- accessibility type

[2017-05-16 19:32] LeonFedotov commented on #396
@rotman api url is
[code]

[2017-05-16 20:34] LeonFedotov commented on #396
@rotman checkout [api_gate_routes.js](https://github.com/Midburn/Spark/blob/master/routes/api_gate_routes.js)

[code]

[2017-05-16 22:48] LeonFedotov commented on #396
need to add `disabledParking` column to tickets table.

[2017-05-17 01:18] shaytidhar opened #398 "Add profile id to the jwt payload"
#In order to identify logged in user on external modules, the jwt has to contain not only the mail but the profile_id.
the profile id key should be id.
for example, this is a vaild payload:
{
  "id": 2565,
  "email": "mc-shuli@zahav.net.il",
  "iat": 1495831880,
  "exp": 1495831880
}

[2017-05-17 06:29] ArtyomKa commented on #398
The problem is a bit more complicated than that, unfortunately. Spartk-volunteeers api expects *profile_id* (drupal user id), but AFAIK this property is not stored in spark users table.

Possible solutions:
* store profile_id in users table, and send it on the payload. This requires modifying the users table and the login process.
* Use data stored in the spark users table, and thus eliminating th

[2017-05-17 11:14] ArtyomKa commented on #398
After talking with @shaytidhar on slack
Seems like the only problem is the _get user roles_ api, so the best solution for now is to use email for that instead of the profile_id. This requires minimal changes to the rest of the code, and can be implemented rather easily.

[2017-05-17 13:05] LeonFedotov commented on #398
@ArtyomKa this sounds reasnoble, @shaytidhar can you try and use email for now? lets see if it works?

[2017-05-17 13:56] ArtyomKa commented on #398
Some leads on where to start:
* If we choose to implement using an email for _get_roles_ api. the code is in _volunteers_routes.js_ method _get_roles_ (somewhere about [here](https://github.com/Midburn/Spark/blob/master/routes/volunteers_routes.js#L28))
* If we wanna use pass profile_id in the cookie payload, then the relevant code is somewhere in the [login mechanism](https://github.com/Midburn/S

[2017-05-17 18:59] OriHoch opened #402 "gzip of responses should be done at load balancer or web server"
following PR #400 all responses are gzipped by nodeJS (part of the app JS code)

AFAIK it's better to do this at the load balancer, or in nginx

also, in the future we will probably want to serve static files via Nginx and not via Node - in that case gzip will have to be at nginx level anyway

[2017-05-17 19:16] #398 closed, assigned to LeonFedotov, noam-almog

[2017-05-18 10:54] ArtyomKa commented on #353
Implemented. Can be closed

[2017-05-18 13:06] #353 closed, assigned to nobody

[2017-05-18 16:39] #396 closed, assigned to LeonFedotov

[2017-05-20 10:04] LeonFedotov opened #419 "gate ui"
- [x] quota count is missing in edit [1]
- [x] after editing production groups they get reclassified as camps [2]
- [x] quota change is not saved
- [ ] under gate search ticket count is not correct [3]

---
# 1
![screen shot 2017-05-20 at 12 57 55](https://cloud.githubusercontent.com/assets/130342/26274844/37549e12-3d5c-11e7-9011-ec16760cdc08.png)
# 2
![screen shot 2017-05-20 at 12 58 32](https://

[2017-05-21 10:36] OriHoch opened #435 "[Task] investigate latency spikes on production load balancer"
there are massive latency spikes of up to 60 seconds

data for last 3 hours, per minute

![image](https://cloud.githubusercontent.com/assets/1198854/26283122/50ed3e5a-3e2a-11e7-9b28-e16112a2cbb9.png)

[2017-05-21 10:41] LeonFedotov commented on #435
im suspecting its the sync scripts, and the deploys

[2017-05-21 10:43] OriHoch commented on #435
do you have somewhere where I can see what times you did deployments?

[2017-05-21 10:44] OriHoch commented on #435
@omerpines

[2017-05-21 10:46] LeonFedotov commented on #435
yea I know - we are considering having one big server or another separated worker for the sync script, it runs on all instances now.

[2017-05-21 10:46] OriHoch commented on #435
![image](https://cloud.githubusercontent.com/assets/1198854/26283210/eeb09ea6-3e2b-11e7-9217-da1be9abff35.png)

[2017-05-21 10:47] OriHoch commented on #435
@LeonFedotov  / @omerpines  - if someone could explain what's the problem with many instance, that would be helpful..

I am not aware of any problems with this setup - AFAIK you can add more instances, that's the best solution

having one big server is not a good idea IMO..

[2017-05-21 10:49] OriHoch commented on #435
also, I'm not familiar with the sync scripts, if you could link to some details that will be helpful

I'll wait for some more details before continuing work on this issue..

[2017-05-21 11:07] LeonFedotov commented on #435
@OriHoch https://github.com/Midburn/Spark/blob/master/app.js#L260

[2017-05-21 11:26] OriHoch opened #436 "move drupal ticket sync script to cronjob, independent of node app"
drupal sync script is run every X minutes from the node app

node is single threaded, so the entire web-app is not responsive for the time this sync script is running

this is the probable cause for latency spikes (see #435)

we should instead run this sync script on an independent cron job, and maybe also run it from a single instance only

the magic happens here:
https://github.com/Midburn/Spark

[2017-05-21 11:27] OriHoch commented on #435
thanks, looks like this is the culprit :+1:

opened #436 to move it to a cronjob

[2017-05-21 11:29] LeonFedotov commented on #436
I think we should have another cronjob worker that deplyes together with web but doesnt auto scale

[2017-05-21 11:30] OriHoch commented on #436
makes sense, cool, I'll do it

[2017-05-21 11:35] OriHoch commented on #436
Yuval Reut [2:30 PM]
the additional problem is that it runs on both servers

Ori Hoch [2:30 PM]
I don't think it's that big of a problem.. there is almost no CPU usage on the servers

[2:30]
the servers are not under any load, it's just that node APP is not responsive while the sync is running

Yuval Reut [2:31 PM]
Leon said it could create sync problms becuase both the servers are working togethe

[2017-05-21 11:38] LeonFedotov commented on #436
@OriHoch yep thats a good idea, well need to deploy two auto scaling groups on the same binary with different start scripts...

[2017-05-21 12:13] OriHoch commented on #436
no changes were needed to the code..

I added a `spark-production-worker` autoscaling group, currently 0 instances (as sync is still running on other instances)

here is how to deploy it, @LeonFedotov  - you can combine with your next deploy

first, deploy the web-app, to disable sync:
* duplicate the latest launch configuration (at time of writing - `spark-production-v2.5.8 (leon)`)
* modify the

[2017-05-21 12:16] LeonFedotov commented on #436
great thank you Ori!

[2017-05-21 12:18] OriHoch commented on #435
will wait for #436 to be deployed, then check the latency again

[2017-05-21 12:18] asihud commented on #368
This big issue is done, and we are happily on production.
closing this ticket.

[2017-05-21 12:18] #368 closed, assigned to nobody

[2017-05-21 12:19] asihud commented on #349
done, as we are on production already.

[2017-05-21 12:19] #349 closed, assigned to nobody

[2017-05-21 13:18] LeonFedotov commented on #436
lets update some doc file with this info and close this issue

[2017-05-21 15:19] OriHoch commented on #436
I'll update the deployment docs

[2017-05-21 15:31] OriHoch commented on #436
64f045be1c1428732cb1290a7891d298e341ef7f

[2017-05-21 15:31] #436 closed, assigned to OriHoch

[2017-05-21 15:31] OriHoch commented on #435
looks good for now, will check again tomorrow

[2017-05-22 20:20] OriHoch commented on #435
still spiking... :( will continue to investigate
![image](https://cloud.githubusercontent.com/assets/1198854/26326738/400d35d8-3f45-11e7-9753-43bc9573f9f0.png)

[2017-05-23 16:54] omerpines opened #442 "UI improvements to Spark - Manage Department Members"
Feature improvement on Department Volunteers.

### Description
See attached images for info.

### Steps to Reproduce

![6](https://cloud.githubusercontent.com/assets/7349997/26365819/6dfca53a-3ff1-11e7-82c0-9fb376eda1b5.png)
![7](https://cloud.githubusercontent.com/assets/7349997/26365863/9b28fb44-3ff1-11e7-93d4-565631477fd3.png)

[2017-05-24 05:31] asihud opened #443 "#Camps #Gate flow fixes"
## Camps Improvement and urgent bug fixes
- [ ] Disable add/remove/delete groups members after user has ticket registered. The member nor the group admin, will not have rights to change the camp member.
- [ ] QA Security check for roles: Camps_Admin, Art_Installations_admin, prod_deps_admin. To check if every role has access to his own tab. Also, need to change permission to each group.
- [ ] Crea

[2017-05-24 20:08] LeonFedotov commented on #435
@OriHoch any news?

[2017-06-29 05:07] OriHoch opened #458 "reduce AWS costs - shutdown / reduce servers and services to a minimum"
midburn have too much costs on AWS, need to reduce

can reduce spark to a minimal configuration of all on 1 server

also, possibly there are unused instances which can simply be shut-down

[2017-06-29 05:28] OriHoch commented on #458
done:

* stopped some old / unused instances
* reduced spark instances to 1
* stopped the drupal sync (spark worker instance)

[2017-06-29 05:28] #458 closed, assigned to nobody

[2017-07-01 21:07] omerpines commented on #458
@OriHoch , please return the drupal sync. It is not something that can we can do without if we want spark.

[2017-07-02 07:22] OriHoch commented on #458
drupal sync is back but it's a click of a button to start or stop it - is there a reason it should run all the time? what is spark being used for now?

[2017-10-04 17:22] LeonFedotov opened #462 "Update spark for incoming sandbox gate use"
Hi, iv'e been looking into what we need to change to make spark and especially the gate switch using the sandbox tickets, here's the places ive found require a change.
DB: under the events table we should change the event name code to the current sandbox code, @omerpines what is it?
https://github.com/Midburn/Spark/blob/master/models/constants.js#L81
https://github.com/Midburn/Spark/blob/master/mo

[2017-10-05 06:23] omerpines commented on #462
Event ID: 40
Tickets ID: 49-52

[2017-10-05 12:23] asihud commented on #462
@LeonFedotov , exactly , those files should be changed.

just not to forget to update the models/constants.js

const ticketType = {
    SUPPORT_TICKET: '39',
    ADULT_TICKET: '40',
    CHILD_TICKET: '41',
    ADULT_DIRECT_SALE_TICKET: '43',
    YOUTH_TICKET: '44',
    LOW_INCOME_TICKET: '45',
    INTERNATIONAL_DIRECT_SALE: '46'

    // ADD HERE THE NEW TICKET TYPES:
    SANDBOX2017_ADULT_TICKET:

[2017-10-30 16:00] kaplanlior opened #469 "Fix synk warning about security"
See https://snyk.io/test/github/Midburn/Spark for more details.

[2017-10-30 16:01] kaplanlior opened #470 "Set license files"
Should be Apache v2.0 to align with Spark itself.

[2017-10-30 17:36] OriHoch commented on #470
what do you mean by "spark itself" .. ?

[2017-10-30 17:50] OriHoch opened #471 "dockerize and kubernetize"
use docker and kubernetes to allow full control over the infrastructure using GitHub

this allows to easily do cool things like:
- open a pull request which add new infrastructure components or modify the infrastructure configuration
- create consistent environments for local development or staging
- implement autoscaling based on app metrics or other logic
- efficient resource usage by defining C

[2017-10-30 18:56] #470 closed, assigned to nobody

[2017-11-06 17:11] arnonhecht commented on #442
I'm working on this

[2017-11-06 17:47] kaplanlior opened #472 "Split README to CONTRIBUTING file"
README - Info about the project, what is it used for, how is it build (key components) and how to use it.
CONTRIBUTING - How to setup dev environment, how to contribute code (e.g. bugs, what branch to use, which tests to run, etc) and what is the road map for the project.

[2017-11-13 18:08] asihud opened #473 "Event Editor Tab and spark files creation"
This is implementing the main Event editor manager.

- [x] A New tab item should be added, under 'Event Manager'
    This should be like any other API setting on the spark platform with names of the files are events_api (look at camps_api files and just create new copy of them.
- [x] Access to this menu item is the only for super admin
- [x] Continue the the next issue of edit form

[2017-11-13 18:13] asihud opened #474 "Events Main edit form /pages/events/edit.jade with properties"
This is the main form to create a new event or edit existing event.

- [x] Edit the event files and front end to have an editor of properties:
    - **event_id** [string - string(15)] The event_id reference
    - **lastyear_event_id** [string - string(15)] The event_id of the last year, for copying things.
    - **start_datetime** [datetime - date/time] event start date and time
    - **end_dateti

[2017-11-13 19:03] asihud opened #475 "Communities Pre Sale tickets creation"
On the next event (Midburn2018) there are ticket allocation for any community (Camps/Departments.. etc).
This property allow the community manager, to select who will get the Pre Sale tickets.
To achieve that:
- [x] On The Community type Admin we need to add an editable property by the name pre_allocation.
- [x] Best would be to add database property to the community table.
- [x]  On The Community

[2017-11-20 18:53] asihud opened #476 "Integrate an input control for time-date on the camps form"
### Overview of the problem
On all forms, we do not have input control of type Date Time type.

### Steps to Reproduce
- [x] On Camps /views/pages/camps/index_admin.jade we need to add this control on a form.
- [ ] Add the javascript that create this (unless we already having class that implemented the date time control

[2017-11-20 19:25] asihud opened #477 "Create a db fields in communities pre_sale_tickets_quota"
Each community can have a quota of tickets to buy on the first sale, and depend on the community size, the admin set this quota, and afterward the community manager can point on peoples.
- [x] Add to migration update to table camps.pre_sale_tickets_quota with type integer.

[2017-11-20 19:29] asihud opened #478 "Add edit field for pre_sale_tickets_quota"
- [x] On the community admin page forms (where all the communities are displayed) we need to add a column pre_sale_tickets_quota (
- [x] On the camp form this field should be added (after the early_arrival_quota). it should be read only to anyone but campsAdmin and Admins roles.
- [x] On the camp members field we need to add another column, which is checkbox and should be selected to the maximum q

[2017-11-20 20:33] #477 closed, assigned to ArtyomKa

[2017-11-21 07:00] ArtyomKa opened #480 "Travis CI build fails on deployment stage."
### Overview of the problem
Builds on master branch fail.

### Description
After completing the testing phase, Travis CI attempts to deploy (to staging?) and fails.

### Steps to Reproduce

Run build master branch in Travis CI
### Expected behavior
New version should be deployed to the staging server

### Actual behavior
Error message:
[code]

[2017-11-21 07:15] OriHoch commented on #480
I will be able to get to it next week, I'll try sooner, let me know if someone else makes noises of fixing it

[2017-11-21 11:43] kaplanlior commented on #480
Is it just a connection problem to our existing server or should I ask DevOps for a new server?

[2017-11-21 11:47] OriHoch commented on #480
This deployment system was a quick hack I did to help us get up quickly last year, it was never meant to be a long-term solution
I think we also took down some server and environments relating to spark, so some work needs to be done to get it back up

If there are other DevOps people that can do it, they are welcome, I'll only get to it around next week

[2017-11-21 11:50] ArtyomKa commented on #480
Actually spark staging env. is down since 10/10

[2017-11-21 11:51] OriHoch commented on #480
#471 is my long-term solution for this, hopefully will be done sooner rather then later

[2017-11-25 16:55] #480 closed, assigned to kaplanlior

[2017-11-25 19:33] yaniv-peretz commented on #474
- [X]  Edit the event files and front end to have an editor of properties

* still need to connect the 'create new event' and 'cancel' to and data model (such as angular model),
and set to an post/put API.
* the post/put api is not created yet.

[2017-11-27 18:07] asihud opened #494 "Add breadcrumbs titles for the current event"
At the moment at any place where we have the breadcrumbs (for example: on camps_api.js)
        req.breadcrumbs([{
            name: 'breadcrumbs.home',
            url: '/' + req.params.lng + '/home'
        },
        {
            name: 'camps:breadcrumbs.manage',
            url: '/' + req.params.lng + '/camps-admin'
        },
        {
            name: 'camps:breadcrumbs.new',
            u

[2017-11-27 18:27] asihud opened #495 "Create load events properties and save to constants if not exists."
we need to add function to get the event properties.
this should be added to the Event object on
models/events.js
Events.get_event(event_id)
will look at constants for all event properties, and if not exists, will load from db.

[2017-11-27 19:00] asihud opened #496 "Create a button on event form to copy new community"
on the edit of event, we have enable/disable for community type.
Near each community we have a button that execute an sql query.
we need to create button that copy the camp & camp_members from old event to new event.

[2017-11-27 19:18] asihud opened #499 "Edit home button of user to select the current event"
- [x] On the home page we need to show the events list that are active.
     We need to select events that between start event to end event.
     same as /events-admin api call, that return all the events.
- [x] a switch api call is needed to be add, that will accept event, and set the current_event_id in the user.

[2017-11-27 20:13] asihud opened #501 "Set command for get_current_event for user"
when we load any data with reference to events,
(for example, the user camp list, or editing the camp),
we need to take the event_id not from the constant of current_event_id, but to take it from the user current_event_id.
for that, we will add to User object a function .get_current_event, this will return the current event (if the user has access to), and if its not available, we will set on the

[2017-11-28 12:00] ghost commented on #79
@asihud,
I’ll take this, as we discussed.

I’ll hit you up on Slack if I have any Qs

[2017-11-28 18:54] asihud commented on #79
@elad-lachmi ,
very good. I am assigning you once you will approve yourself as collaborator!
yeh, way to go!!!

[2017-11-29 19:26] guyzohar1 commented on #478
ticket is ready, pending approve
2 known issues:

1. there is no check if the user is approved in the camp
2. there is a delay when the new data is sent back from the server to the client, this means that the checkbox value has a small delay until it is updated and the manager can add another person until it os set. this can be solved by checking the actual value of the user in the scope and not u

[2017-12-02 10:14] ghost commented on #347
@OriHoch I can take this

[2017-12-02 17:36] OriHoch commented on #347
great!

[2017-12-12 23:35] asihud commented on #501
@scopsy , are you still on this issue ?

[2017-12-12 23:43] asihud commented on #475
@guyzohar1 ,
in this Issue, we need to do some stuff:
- [x] Editable on the communities list of the admin page.
- [x] Export to CSV of the presale members on the camp
- [x] Set up properties to be taken from the event data of pre_sale_start_date, pre_sale_end_date, and to make sure that the Pre Sale ticket selection is executed within the date.

[2017-12-12 23:46] asihud commented on #474
@Yanipo5 @ArtyomKa
Can we make sure the event can be created correct, and small issues at last meeting should be setup.
as well, as needed to:

[2017-12-13 00:02] asihud commented on #79
@elad-lachmi
Okay, to make it more usable:
- [ ] add a field on event array on the constants, that hold files upload for communities:
it should be like this:
    'MIDBURN2018': {
        bundles: [
            ticketType.SUPPORT_TICKET,
            ticketType.ADULT_TICKET,
            ticketType.CHILD_TICKET,
            ticketType.ADULT_DIRECT_SALE_TICKET,
            ticketType.YOUTH_TICKET,

[2017-12-13 05:32] ghost commented on #79
@asihud
Sounds good.
Just another thing I think is worth implementing is the option to replace or delete a file, which has already been uploaded.
The camp manager will be able to upload/delete/replace a file until the end date and an administrator can upload/delete/replace a file regardless of the end date.

[2017-12-13 07:40] ArtyomKa commented on #474
I'm attending the Burnerot this weekend so I won't be able to help. @Yanipo5 can definitely handle the server side also if he is available. If not, we will finish it during the next meeting.

[2017-12-18 19:43] asihud opened #515 "Query for Midburn2017 all camps, and names with their members count , and tickets"
The query should be:
camp_name_he
camp_name_en
camp_manager_id ,
profile emai of camp_manager_id,
profile name of camp_manager_id
total approved camp members
total approved camp members with MIDBURN2017 ticket
total approved camp members that was linked in the gate from camp

[2017-12-18 21:44] amotenko commented on #515
@asihud , I'm on it

[2017-12-19 00:59] #347 closed, assigned to nobody

[2017-12-19 11:16] yaniv-peretz commented on #474
merged updates: creation and edit of events now saves to the DB (all fields).

Note:
Shold "מזהה אירוע קודם" point to another event ID? if so:
 it is currently set as a DB integer column, instead of String.
therefore I might need help changing the column (knex help needed).
it is mandatory field on edit.

[2017-12-19 17:40] amotenko commented on #515
"total approved camp members that was linked in the gate from camp"
see entrance_group_id in tickets table

[2017-12-25 15:55] amotenko commented on #515
Data sent to Adir Ron,
I can't link it here since it's not anonymized.

Queries:

[code]

[2017-12-25 15:55] #515 closed, assigned to asihud, amotenko

[2017-12-25 19:13] #473 closed, assigned to ArtyomKa

[2017-12-27 22:24] yaniv-peretz commented on #476
PR #559

- [ ] Add the javascript that create this (unless we already having class that implemented the date time control
doesn't require a global function, instead it is local for the specific angular controller

[2017-12-27 22:33] yaniv-peretz commented on #474
Selecting the Default event_id, this parameter should be global,
clarification?
Is this a request for a control to change the current perspective event?
should the control be part of home/nav bar?

[2017-12-29 07:49] yaniv-peretz commented on #496
PR #528 awaiting review

[2017-12-29 09:51] ArtyomKa opened #529 "Create API enabling volunteers module to search for users."
Volunteers module needs to access user data stored in drupal/spark

**Data required:**
high priority:
- first name, last name, phone number
- verify email exsits

mid priority:
- emergency contact info (do we have that info in drupal/spark?)

low prioriy:
- ticketing info

Possible solutions:
1 - to access the drupal api for that. pros - accessing the actual data. cons - slow and cumbersome implem

[2018-01-04 15:29] pandamichal opened #534 "bug- as a admin, i can't enter and view a camp"
As a admin, when i click on ניהול מחנות and than try to view the camp details i'm getting an error page
![screenshot 2018-01-04 at 17 26 13](https://user-images.githubusercontent.com/34742039/34570512-aa78e50c-f174-11e7-8ada-d391753416c5.png)

I suppose to be able to see the camp details.

[2018-01-05 13:47] guyzohar1 commented on #534
fix at PR https://github.com/Midburn/spark/pull/535

[2018-01-05 15:15] amotenko opened #536 "Update Spark version automatically"
Every commit?

Every deployment?

[2018-01-05 15:16] amotenko opened #537 "Expand database seed to include all data necessary for development"
Use existing seeding mechanism

[2018-01-05 15:17] amotenko commented on #534
Solved, closing issue

[2018-01-05 15:17] #534 closed, assigned to nobody

[2018-01-05 15:27] ArtyomKa commented on #536
deployment. in python there is a _bumpversion_ utility. must be something similar in node.
I can check...

[2018-01-05 15:43] ArtyomKa commented on #536
OK. npm already has this functionality: https://docs.npmjs.com/cli/version
Just need to add it to deployment script.
Other suggestions?

[2018-01-05 15:44] pandamichal opened #538 "bug- as a admin, i can't enter and view an art installation"
As a admin, when i click on ניהול מיצבים and than try to view the camp details i'm getting an error page
![screenshot 2018-01-05 at 17 42 59](https://user-images.githubusercontent.com/34742039/34616153-f2088ea6-f23f-11e7-96c1-681cec6eda46.png)
I suppose to be able to see the art intallation details.

[2018-01-05 16:01] pandamichal opened #539 "Bug- The button הוספת משתמש not working"
When you try to add a member to a camp or art installation (adding his email address) , nothing accures.
![screenshot 2018-01-05 at 17 56 55](https://user-images.githubusercontent.com/34742039/34616934-5a8eea2c-f242-11e7-9aa3-50faef5b8ca2.png)

[2018-01-05 16:29] pandamichal opened #541 "Can't mark a camp member to give him a ticket although the camp have tickets"
Under עריכת חברים when i try to mark someone to give him a ticket אשר כרטיס במכירה מוקדמת the option is locked although the camp have tickets in the bucket.

[2018-01-05 16:34] ArtyomKa commented on #538
Hmmm. Well the problem is that we are trying to fetch from the BD a _camp_ instead of an _art_installation_.
Does any one have an idea why we even have this constraint? @asihud ?
I'm talking about line 29 in [camps_routes.js](https://github.com/Midburn/spark/blob/master/routes/camps_routes.js#L29)

[2018-01-05 17:14] amotenko opened #543 "Admins should be able to edit camp managers"
Was there a reason this option was disabled?

[2018-01-05 18:29] ghost commented on #538
I was just talking to @guyzohar about this.

The only reason I can think of is if different data/view is implemented for each type.

For example, camps have members. Do art installations have members as well?

The options I see are:
1. If they are all the same, remove the filter
2. If they are different, create a specific method to display/update/create/etc each

We might even want to separate the

[2018-01-05 18:36] ArtyomKa commented on #538
art installations have members (burners that help to build them).
 I removed the filter, and merged. It does not crash anymore.
last year art installation managers did not use spark, so I'm not sure what was implemented or what the requirements were. Anyway, Let's receive as much input from the QA team and then I hope we will be able to  suggest solutions and prioritize fixes.

[2018-01-05 19:42] OriHoch commented on #536
I assume this is meant for ppl to know which version is deployed? you can
know this from Travis but I can add another indication

because spark is not installed as npm package I didn't see a reason to keep
updating the version in package.json

On Fri, Jan 5, 2018, 17:43 Artyom Katsap <notifications@github.com> wrote:

[2018-01-05 19:46] amotenko commented on #536
It is super convenient, the version number is displayed and it's easy to tell just by looking which version is deployed

[2018-01-05 19:51] OriHoch commented on #536
np I'll make sure there is a simple way to get the deployed version from the web app

[2018-01-05 20:25] iosikot opened #545 "Adding member to camp"
The member entered but the line is blank
![image](https://user-images.githubusercontent.com/35144823/34626917-4804d694-f267-11e7-88e3-579e3926b142.png)

[2018-01-05 20:35] amotenko commented on #545
Hi @iosikot ,
Can you add more information?
I'm not sure the problem is clear from your description

[2018-01-05 20:36] #538 closed, assigned to ArtyomKa

[2018-01-06 08:45] yaniv-peretz commented on #474
@alechko , @guyzohar1
If I correct in both, than we could close the issue, please confirm.
- [ ] Selecting the Default event_id, this parameter should be global
We have this functionally now on the home page.

- [ ] Note3: Create a camp api call to copy from old event id, for communities, and reset their counters moved to #496 -
note: We decided not to do that.

[2018-01-06 13:08] OriHoch opened #549 "production spark: login hangs for user which didn't complete drupal profile update"
## reproduction
* have user which didn't add details of emergency contact as required in drupal profile
* try to log-in to production spark https://spark.midburn.org/

### expected
* log-in

### actual
* stuck
* server logs contain error which I assume is due to unhandled error from drupal:
[code]

[2018-01-06 14:53] zenihila opened #550 "camps and art managment"
- Is it a bug
using chrome

- This is about the Spark **Camps module** -
בקשת הצטרפוצ למחנה
לא מגיב אף כפתור לא אשר בקשה ולא בטל בקשה. נלחץ אבל לא קורה כלום.

[2018-01-06 15:29] #550 closed, assigned to nobody

[2018-01-06 18:02] anthonymassader opened #552 "מיקום מספר הכרטיסים וכמות חברי המחנה במסך ניהול חברי מחנה"
### Overview of the problem

<-- This is about the Spark **Camps module** -->

### Description

להעביר מתחתית הדף לראש הדף

### Steps to Reproduce

### Expected behavior

### Actual behavior

[2018-01-06 18:08] anthonymassader opened #553 "בעריכת חברים של מחנה - לאחר דחה משתמש"
### Overview of the problem

<-- This is about the Spark **Camps module** -->

### Description

נאלם השם של החבר המחנה. כלומר לא ניתן לראת מי זה היה

### Steps to Reproduce

### Expected behavior

### Actual behavior

[2018-01-06 18:11] anthonymassader opened #554 "עריכת חברים במחנה"
### Overview of the problem

<-- This is about the Spark **Camps module** -->

### Description

לשנות כך התייחסות ל-"משתמש" ל-"חחר מחנה"
### Steps to Reproduce

### Expected behavior

### Actual behavior

[2018-01-06 19:45] zenihila opened #555 "4. admin cant allocate presale tickets"
admin bug
chrome
when i try to allocate tickets to member of art member it saysare you sure then : popup error

[2018-01-06 19:55] amotenko opened #556 "Module admin roles"
In the role hierarchy there is a missing role between admin and manager which is a module admin.
Admins have system-wide privileges,
managers are users with specific powers in the context of a module,
and the role that is missing is a module admin, which has full privileges but only in the context of a module.

Best and most flexible way to represent roles in a system?

[2018-01-07 06:56] OriHoch commented on #536
ok, it works manually in the new production and staging environments

so, you can add some kind of bumpversion to the .travis.yml script, this script has a github token which you can use to push the updated version back to github as well

[2018-01-07 06:57] OriHoch commented on #471
done

[2018-01-07 06:57] #471 closed, assigned to OriHoch

[2018-01-07 12:24] amotenko opened #560 "Create separate API key for each module"
At the moment, each app that consumes Spark API is using the same API token.
It might be a good practice to hand out API keys to each module, thus if one key needs to be changed it doesn't screw all other API consumers

[2018-01-07 12:50] ghost commented on #560
I did something similar at work.
I can set this up.

[2018-01-07 12:55] yaniv-peretz commented on #555
can you please try from branch: presale-allocation-date-control?
please also check that the allocation dates are set up for the current event.

[2018-01-07 13:03] yaniv-peretz commented on #541
Hi,
are you using the button on the side?
logged as admin\campadmin, and with valid presale allocation dates?
recommend testing on the presale-allocation-date-control branch as well

![image](https://user-images.githubusercontent.com/29729128/34649623-a69a3b7c-f3bb-11e7-8d5c-a1e060d98367.png)

[2018-01-07 13:04] yaniv-peretz commented on #554
???
please add more details / screen shot

[2018-01-07 18:52] guyzohar1 commented on #555
Need to check if there was allocation to the camp
in the error message you have the information why it was rejected
I fixed all the issues related to this

[2018-01-07 18:53] guyzohar1 commented on #539
fixed

[2018-01-07 18:53] #539 closed, assigned to nobody

[2018-01-07 18:55] guyzohar1 commented on #541
fixed

[2018-01-07 18:55] #541 closed, assigned to nobody

[2018-01-07 18:55] guyzohar1 commented on #545
fixed

[2018-01-07 18:55] #545 closed, assigned to nobody

[2018-01-07 19:03] pandamichal commented on #552
לשנות את הטקסט מ
סה״כ כרטיסים במכירה מוקדמת
ל:
כמות הכרטיסים שהוקצו למכירה המוקדמת

[2018-01-07 19:03] guyzohar1 commented on #543
I think that this is solved because i fixed all the buttons
But i need to understand on what version this bug was opened

[2018-01-07 19:06] guyzohar1 commented on #501
done

[2018-01-07 19:06] #501 closed, assigned to scopsy, guyzohar1

[2018-01-07 19:06] guyzohar1 commented on #499
done

[2018-01-07 19:06] #499 closed, assigned to guyzohar1

[2018-01-07 19:07] pandamichal opened #561 "Urgent ui change- pre sale tickets"
תחת "עריכת חברים"->  בעמודה "אשר כרטיס במכירה מוקדמת" יש לשנות את הטקסט ל "קיבל/ה כרטיס למכירה מוקדמת?"

בנוסף אך פחות קריטי לכרגע: להזיז את העמודה לצד הכי שמאלה של הטבלה- כי סימון צריך להופיע אחרי הפעולה ולא לפני הפעולה

[2018-01-07 19:07] guyzohar1 commented on #478
done

[2018-01-07 19:07] #478 closed, assigned to guyzohar1

[2018-01-07 19:08] guyzohar1 commented on #475
done

[2018-01-07 19:08] #475 closed, assigned to guyzohar1

[2018-01-07 19:09] guyzohar1 commented on #494
done

[2018-01-07 19:09] #494 closed, assigned to guyzohar1

[2018-01-07 19:10] pandamichal commented on #561
VERSION 2.10.13 PRODUCTION

[2018-01-07 19:21] guyzohar1 commented on #555
this is solved in version 2.10.13

[2018-01-07 19:21] #555 closed, assigned to nobody

[2018-01-08 16:02] OriHoch commented on #24
done

[2018-01-08 16:02] #24 closed, assigned to ArtyomKa

[2018-01-08 16:02] OriHoch commented on #27
using kubernetes secrets

[2018-01-08 16:02] #27 closed, assigned to amotenko

[2018-01-08 16:03] #32 closed, assigned to nobody

[2018-01-08 16:04] OriHoch commented on #231
in new k8s environment the db is not exposed

[2018-01-08 16:04] #231 closed, assigned to nobody

[2018-01-08 16:05] OriHoch commented on #252
in new k8s environment migrations run inside the spark pod. spark won't start until migrations ran successfully

[2018-01-08 16:05] #252 closed, assigned to johnyzed

[2018-01-08 16:06] OriHoch commented on #257
new environment has daily db backups to Google storage
there is a k8s job which does this, it can run manually too before deployment

[2018-01-08 16:06] #257 closed, assigned to nobody

[2018-01-11 14:44] amotenko opened #569 "Fix Drupal login integration to indicate types of login errors"
Drupal should give us an indication if the user can't login because of problem with terms and conditions etc . so that Spark would be able to redirect user to profile system for signing those.

[2018-01-11 14:59] amotenko opened #570 "Display appropriate login error message"
Include a link to profile system if user needs to sign terms and conditions.

Depends on:
https://github.com/Midburn/spark/issues/569

[2018-01-14 16:15] amotenko opened #571 "Spark Roadmap 2018"
# Spark Roadmap 2018
After getting a system up and running in a very short time and under many constraints it’s time to give Spark the spa treatment it deserves. If so 2018 has been nominated as the year of the quality phase.
## Extend and generate seeding and testing data
The current data written for the knex seeding mechanism is very thin and insufficient for development purposes. This data shou

[2018-01-15 07:21] OriHoch commented on #569
I don't think we need to wait for drupal, just redirect user to profile system login in case of any login problems

the error in this case can be detected in our code, I don't think it requires any change on Drupal side

see the relevant server logs here - #549

[2018-01-15 17:48] #332 closed, assigned to nobody

[2018-01-15 17:49] #274 closed, assigned to nobody

[2018-01-15 19:56] #529 closed, assigned to ArtyomKa

[2018-01-15 20:36] #33 closed, assigned to amotenko

[2018-01-15 20:39] amotenko opened #574 "Clean NPM dependencies"
Remove unneeded, organize duplicates, updated outdated, replace bower with yarn.

[2018-01-15 21:04] talbarda opened #575 "Login with an email address that has the '+' sign doesn't work"
bug

no

### Overview of the problem
My Midburn profile is talbarda88+midburn@gmail.com but I can't login with it, and I can login only with _talbarda88midburn@gmail.com_ (pay attention the second address doesn't have the '+' sign).
This could have other consequences such sending me an email to the wrong email address.

[2018-01-16 06:20] OriHoch opened #578 "improve UX of error message displayed when user needs to complete details in drupal"
## reproduction steps
* have user which didn't complete all required details in their drupal midburn profile
* login to spark

#### expected
* show nice popup / page that explains to the user that they need to go to drupal and do a login there and then return to spark

#### actual
(after PR #577 is merged)
![image](https://user-images.githubusercontent.com/1198854/34974515-23ba5b10-fa96-11e7-80ab-

[2018-01-16 06:22] OriHoch commented on #578
it can be hard to reproduce this issue, I suggest to just write some code that will fake this error

e.g. [here](https://github.com/OriHoch/Spark/blob/fix-bad-gateway-bug-due-to-drupal-missing-checkbox/libs/passport.js#L69) - change to `if(true)` to always cause this error

[2018-01-16 06:23] OriHoch commented on #569
I implemented my suggestion in this PR - #577
opened an issue to improve the UX (after this PR is merged) - #578

[2018-01-16 06:25] OriHoch commented on #549
fixed in #577
UX improvements issue - #578

[2018-01-16 06:25] #549 closed, assigned to nobody

[2018-01-16 13:54] OriHoch commented on #131
got back to it...

[2018-01-16 15:15] OriHoch commented on #131
https://github.com/OriHoch/midburn-profiles-drupal/blob/master/README.md#midburn-profiles-drupal

[2018-01-22 12:50] talbarda commented on #575
![image](https://user-images.githubusercontent.com/7590174/35221589-5cbde4d0-ff83-11e7-89e9-21bac1d121d6.png)
This my real profile email (My Profile tab)
Whether, I **think** the problem is with url encoding.. look at the main screen (generated url is https://profile.midburn.org/en/users/talbarda88midburngmailcom/welcome) and the email it's generating
![image](https://user-images.githubusercontent

[2018-01-23 11:41] amotenko opened #585 "Seed data and dummy data"
Spark should have a mechanism for generating quality dummy data on staging environment (think QA),
as well as having good seeding data (think development and testing).

See discussion here:
https://github.com/Midburn/spark/issues/571

[2018-01-23 11:44] amotenko opened #586 "Better roles and permissions"
Convenient and flexible mechanism for roles and permissions

See discussion here:
https://github.com/Midburn/spark/issues/571

[2018-01-23 11:45] amotenko commented on #574
See discussion here:
https://github.com/Midburn/spark/issues/571

[2018-01-23 11:50] OriHoch commented on #585
another option is to sanitize DB data from production

you could have a white-list of allowed tables, columns and where conditions

then it's just a simple script which fetches only those details periodically from production

once you have this sanitized SQL dump we could create a docker DB container preloaded with this data (like we have for Drupal)

[2018-01-23 11:51] OriHoch commented on #585
in this method, you would have all the public details (like camps lists, department names, general configurations etc..) and private details could be filled-in manually or filtered for allowed details..

[2018-01-23 12:12] amotenko opened #587 "API Documentation"
At the moment the Spark API is not documented anywhere which makes using it extremely difficult.

@noam-almog  started the task of documenting the Spark API and provided a template for easy documentation using markdown. See here:
https://github.com/Midburn/spark/blob/master/docs/development/API-MAIN.md

Also see discussion here:
https://github.com/Midburn/spark/issues/571

[2018-01-23 12:15] #561 closed, assigned to nobody

[2018-01-23 12:17] amotenko commented on #537
duplicates https://github.com/Midburn/spark/issues/585

[2018-01-23 12:17] #537 closed, assigned to nobody

[2018-01-23 12:26] #554 closed, assigned to nobody

[2018-01-23 12:26] amotenko commented on #553
non descriptive

[2018-01-23 12:26] #553 closed, assigned to nobody

[2018-01-23 12:27] amotenko commented on #552
solved

[2018-01-23 12:27] #552 closed, assigned to nobody

[2018-01-23 12:27] #543 closed, assigned to nobody

[2018-01-23 12:29] amotenko commented on #66
won't happen, we document here

[2018-01-23 12:29] #66 closed, assigned to nobody

[2018-01-23 12:30] amotenko commented on #49
I guess it's solved now

[2018-01-23 12:30] #49 closed, assigned to netanelben

[2018-01-23 12:32] amotenko commented on #52
exists

[2018-01-23 12:32] #52 closed, assigned to nobody

[2018-01-23 12:38] amotenko commented on #65
This should be part of a broader Playinfo system. See current and previous projects:

https://github.com/Midburn/midburn-mobile

https://github.com/kaplanlior/playainfo

[2018-01-23 12:38] #65 closed, assigned to netanelben, guywarburg

[2018-01-23 12:40] amotenko commented on #67
done

[2018-01-23 12:40] #67 closed, assigned to netanelben

[2018-01-23 12:41] amotenko commented on #79
also done, I believe

[2018-01-23 12:41] #79 closed, assigned to nobody

[2018-01-23 12:42] amotenko commented on #99
volunteers are up and running :)

[2018-01-23 12:42] #99 closed, assigned to nobody

[2018-01-23 12:43] amotenko commented on #101
if it's just local it doesn't really affect anything

[2018-01-23 12:43] #101 closed, assigned to nobody

[2018-01-23 15:09] ghost commented on #574
@amotenko  PR pending...

[2018-01-23 19:38] amotenko commented on #570
duplicates https://github.com/Midburn/spark/issues/578

[2018-01-23 19:38] #570 closed, assigned to nobody

[2018-01-23 21:41] yaniv-peretz opened #589 "Dates controll for the nomination of appriciation tickets"
After the Midburn event, the system administrator allocates appreciation tickets to all camps (Activity A),
and Camp Managers need to allocate appreciation tickets to the camp members (Activity B).
this process is currently possible but without any date frame control (meaning it is currently possible to edit the values year round).

Proposal: control the dates in which it will be possible to chang

[2018-01-24 06:30] OriHoch commented on #585
related K8S issue: https://github.com/Midburn/midburn-k8s/issues/11

[2018-01-24 14:09] amotenko commented on #575
@talbarda we'll test the fix as soon as our env is stable

[2018-01-24 14:27] amotenko commented on #585
So the thing is that it's not just about user privacy, it's also about consistency.
Ideally, the state of the staging/test database should be consistent and defined as code.
What that means is that tests are able to rely on it (during integration tests) , and there is a nightly process that roles the state of the database to it's original condition (on staging).
Although those are not the same sce

[2018-01-25 15:10] pandamichal opened #592 "Midburn association button needs to be removed"
The feature which updating whether or not your a Hamuta member is not active and does not have any database. In addition, the form is not really sent.
In the meanwhile, we need to remove the button from the menu until it will be fixed.